<#body>
<style>
    input {
        height: 18px;
    }

    .inputWidth {
        width: 17%;
    }
</style>
<div class="easyui-layout" fit="true">
    <div id="userSelectDialog" style="display: none;"></div>
    <div id="customerSelectDialog" style="display: none;"></div>
    <div region="center" style="width:100%;" minHeight="360" align="center" border="false">
        <!-- 上方导航栏 (锁定不滚动) -->
        <div id="nav"
             style="padding-left:10px;padding-top:10px;position:fixed;z-index:2008;width:99%;height:30px;background-color:white"
             align="left">
            <#nav/>
            <div style="display: inline;float:right;padding-right: 40px;">
                <a id="saveBtn" href="#" class="easyui-linkbutton" iconCls="icon-save"
                   data-options="width:80" onclick="submitForm(this)">保存</a>&nbsp;&nbsp;
                <a id="cancelBtn" href="${contextPath}/pointsRule/index.html" class="easyui-linkbutton"
                   iconCls="icon-cancel" data-options="width:80">取消</a>
            </div>
        </div>
        <form id="_form" class="easyui-form" method="post" fit="true">
            <input type="hidden" name="numberJson" id="numberJson"/>
            <input type="hidden" name="moneyJson" id="moneyJson"/>
            <input type="hidden" name="payMethodJson" id="payMethodJson"/>
            <div align="center" style="margin-top:50px">
                <div class="easyui-panel" style="width: 96%;" title="积分基础信息" border="false">
                    <table align="center" width="99%">
                        <tr>
                           <td style="padding-top:10px;" width="20%">
                                <input class="easyui-combobox inputWidth" panelWidth="auto" panelHeight="auto"
                                       name="firmCode" id="firmCode"
                                       data-options="required:true,editable:false,labelAlign:'right',label:'&lowast;所属市场:'"/>
                                <#comboProvider _id="firmCode" _provider='firmProvider'
                                _queryParams='{dd_code:"business_type"}'/>

                            </td>
                            <td style="padding-top:10px;" width="20%">
                                <input class="easyui-combobox inputWidth" panelWidth="auto" panelHeight="auto"
                                       name="businessType" id="businessType"
                                       data-options="required:true,editable:false,labelAlign:'right',label:'&lowast;交易类型:'"/>
                                <#comboProvider _id="businessType" _provider='dataDictionaryValueProvider'
                                _queryParams='{dd_code:"business_type"}'/>

                            </td>
                            <td style="padding-top:10px;" width="20%">
                                <input panelWidth="auto" panelHeight="auto" class="easyui-combobox inputWidth"
                                       name="customerType" id="customerType"
                                       data-options="required:true,editable:false,labelAlign:'right',label:'&lowast;生效对象:'"/>
                                <#comboProvider _id="customerType" _provider='dataDictionaryValueProvider'
                                _queryParams='{dd_code:"customer_type", exclude_codes:"purchaseSale"}'/>
                            </td>

                            <td style="padding-top:10px;padding-left:10px;" width="20%">
                                <input class="easyui-textbox inputWidth" name="name" id="name"
                                       data-options="invalidMessage:'名称必填，且不能重复',labelAlign:'right',label:'&lowast;规则名称:', validType:{
		length:[1,20],
		validateFun:'checkPointsRuleCodeAndName'
	}" required="true"/>
                            </td>
                            <td style="padding-top:10px;padding-left:10px;" width="25%">
                                <input class="easyui-textbox inputWidth" name="code" id="code"
                                       panelWidth="auto" panelHeight="auto" label="&lowast;规则编码:" required="true"
                                       data-options="invalidMessage:'编码必填，且不能重复',labelAlign:'right',validType:{
		length:[1,20],
		validateFun:'checkPointsRuleCodeAndName'
	}"/>
                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div align="center" style="margin-top:50px">
                <div class="easyui-panel" style="width: 96%;" title="积分计算标准" border="false">

                    <table align="center" width="99%">
                        <tr>
                            <td style="padding-top:10px;" width="25%">
                                <input class="easyui-combobox inputWidth" name="computingStandard"
                                       id="computingStandard" panelWidth="auto" panelHeight="auto"
                                       data-options="required:true,editable:false,labelAlign:'right',label:'&lowast;计算标准:'"/>
                                <#comboProvider _id="computingStandard" _provider='dataDictionaryValueProvider'
                                _queryParams='{dd_code:"computing_standard"}'/>
                            </td>

                            <td style="padding-top:10px;" width="25%">
                                <input class="easyui-numberbox inputWidth" name="computingParameter"
                                       id="computingParameter"  validType="notZero"
                                       data-options="precision:10, parser:cutZeroFormatter
,labelAlign:'right',label:'&lowast;计算参数:'"
                                       required="true"/>
                            </td>
                            <td style="padding-top:10px;" width="25%"></td>
                            <td style="padding-top:10px;" width="25%"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <div align="center" style="margin-top:50px">
            <div class="easyui-panel" style="width: 96%;" title="积分权重" border="false">
                <table width="100%">
                    <tr>
                        <td width="33%" valign="top"  style="padding-right:6px;box-sizing: border-box;">
                            <table class="easyui-datagrid" id="dg_0" title="交易量" style="width:100%;"
                                   data-options="singleSelect:true,collapsible:false,method:'get',toolbar:toolbar,style:{marginTop:20}">
                                <thead>
                                <tr>
                                    <th  width="51%" data-options="formatter:formatDisplay,field:'displayText',width:200">交易量（公斤）
                                    </th>
                                    <th  width="52%" data-options="field:'weight',width:100">权重值</th>
                                    <th data-options="field:'conditionType',width:100,hidden:true"></th>
                                    <th data-options="field:'value',width:100,hidden:true"></th>
                                    <th data-options="field:'startValue',width:100,hidden:true"></th>
                                    <th data-options="field:'endValue',width:100,hidden:true"></th>
                                </tr>
                                </thead>
                            </table>
                        </td>
                        <td width="33%" valign="top"  style="padding-right:6px;box-sizing: border-box;">
                            <table class="easyui-datagrid" id="dg_1" title="交易额" style="width:100%;"
                                   data-options="singleSelect:true,collapsible:false,method:'get',toolbar:toolbarMoney,style:{marginTop:20}">
                                <thead>
                                <tr>
                                    <th  width="51%" data-options="formatter:formatDisplay,field:'displayText',width:200">交易额（元）</th>
                                    <th  width="52%" data-options="field:'weight',width:100">权重值</th>
                                    <th data-options="field:'conditionType',width:100,hidden:true"></th>
                                    <th data-options="field:'value',width:100,hidden:true"></th>
                                    <th data-options="field:'startValue',width:100,hidden:true"></th>
                                    <th data-options="field:'endValue',width:100,hidden:true"></th>
                                </tr>
                                </thead>
                            </table>
                        </td>
                        <td width="33%" valign="top"  style="padding-right:6px;box-sizing: border-box;">
                            <table class="easyui-datagrid" id="dg_2" title="支付方式" style="width:100%;"
                                   data-options="singleSelect:true,collapsible:false,method:'get',toolbar:toolbarPay,style:{marginTop:20}">
                                <thead>
                                <tr>
                                    <th  width="51%" data-options="field:'displayText',width:200">支付方式</th>
                                    <th  width="52%" data-options="field:'weight',width:100">权重值</th>
                                    <th data-options="field:'value',width:100,hidden:true"></th>
                                </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="dlg" class="easyui-dialog" title="交易量权重" modal="true" closed="true"
     style="width:330px;height:230px;padding:10px" data-options="
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveNumber
				}]
			">
    <form id="number_form" method="post" action="">
        <input type="hidden" id="type" value="0"/>
        <input type="hidden" id="edit_type" value="0"/>
        <table cellpadding="5" id="tb" style="width: 100%">
            <tr>
                <td><span style="display:inline-block;line-height: 26px">条件:</span></td>
                <td><input style="width:140px" class="easyui-combobox inputWidth" name="conditionType" id="conditionType"
                           data-options="required:true,editable:false,labelAlign:'right'">
                </td>
            </tr>
            <tr id="number_range">
                <td><span style="display:inline-block;line-height: 26px">条件值:</span></td>
                <td>
                    <input type="text" style="width:100px" required="true" class="easyui-numberbox" name="startValue"
                           id="startValue"> - <input style="width:100px" required="true" type="text"
                                                     validType="big['#startValue']"
                                                     class="easyui-numberbox"
                                                     name="endValue" id="endValue">
                </td>
            </tr>
            <tr id="number_other">
                <td><span style="display:inline-block;line-height: 26px">条件值:</span></td>
                <td>
                    <input type="text" required="true" class="easyui-numberbox" id="value" name="value" value="">
                </td>
            </tr>
            <tr>
                <td><span style="display:inline-block;line-height: 26px">权重值:</span></td>
                <td>
                    <input type="text" required="true" id="weight" class="easyui-numberbox" name="weight"
                           style="float: left;margin-top: 6px" data-options="min:0,precision:2">
                </td>
            </tr>
        </table>
    </form>
</div>


<div id="dlg_pay" class="easyui-dialog" title="支付方式" modal="true" closed="true"
     style="width:330px;height:230px;padding:10px" data-options="
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:savePay
				}]
			">
    <form id="pay_form" method="post" action="">
        <input type="hidden" id="pay_edit_type" value="0"/>
        <table cellpadding="5" style="width: 100%">
            <tr>
                <td><span style="display:inline-block;line-height: 26px">支付方式:</span></td>
                <td><input style="width:140px" class="easyui-combobox inputWidth" name="conditionType" id="payConditionType"
                           data-options="required:true,editable:false,labelAlign:'right'">
                    <#comboProvider _id="payConditionType" _provider='dataDictionaryValueProvider'
                    _queryParams='{dd_code:"payment"}'/>
                </td>
            </tr>
            <tr>
                <td><span style="display:inline-block;line-height: 26px">权重值:</span></td>
                <td>
                    <input required="true" data-options="min:0,precision:2" type="text" id="payWeight"
                           class="easyui-numberbox" name="weight"
                           style="float: left;margin-top: 6px">
                </td>
            </tr>
        </table>
    </form>
</div>
<#pointsRule_js/>
<script type="text/javascript">
//扩展easyui验证支持调用函数
$.extend($.fn.validatebox.defaults.rules, {
	validateFun: {
		validator: function(value, param){
			var json={};
			json[$(this).next().prop('name')]=value;
			var input=JSON.stringify(json);
			var v=eval(param+'('+input+')')
			return v;
		},
		message:''
    }
});
//绑定事件到firmCode
$('#firmCode').combobox({
	onChange: function(newValue,oldValue){
		var v=$("#_form").form('validate');
	}
});

//远程调用验证接口来判断code和name是不是重复
function checkPointsRuleCodeAndName(input){
	var data={
			"firmCode":$('#firmCode').combobox('getValue'),
			"name":$('#name').textbox('getValue'),
			"code":	$('#code').textbox('getValue'),
			"id":""
	}
	jQuery.extend( data,input);
	if(data['firmCode']==''){
		return true;
	}
	if(data['name']==''&&data['code']==''){
		return true;
	}
	
	var ret=false;
    $.ajax({
        type: "POST",
        url: '${contextPath}/pointsRule/checkPointsRuleCodeAndName.action',
        data: data,
        processData:true,
        dataType: "json",
        async : false,
        success: function (resp) {
        	ret=resp;
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
            $.messager.alert('错误','远程访问失败');
        }
    });
	return ret;
}

    function submitForm(obj) {
        $('#_form').form('submit', {
            url: "${contextPath}/pointsRule/insert.action",
            onSubmit: function () {
                if ($("#_form").form('validate')) {
                    $(obj).linkbutton('disable');
                }
                $("#numberJson").val(JSON.stringify($("#dg_0").datagrid("getData").rows));
                $("#moneyJson").val(JSON.stringify($("#dg_1").datagrid("getData").rows));
                $("#payMethodJson").val(JSON.stringify($("#dg_2").datagrid("getData").rows));
                return $("#_form").form('validate');
            },
            success: function (data) {
                var data = eval('(' + data + ')');
                if (data.code == 200) {
                    $.messager.alert({
                        title: '提示',
                        msg: '保存成功!',
                        fn: function () {
                            window.location.href = '${contextPath}/pointsRule/index.html';
                        }
                    });

                }
            },
            error: function () {
                $.messager.alert('错误', '远程访问失败');
                window.location.href = '${contextPath}/pointsRule/index.html';
            }
        });
    }
</script>
</#body>