<#body>
<style>
    .datagrid-view a:link {
        font-size: 14px;
        color: #0001ee;
        text-decoration: none;
    }
    .datagrid-view a:visited {
        font-size: 14px;
        color: #0001ee;
        text-decoration: none;
    }
    .datagrid-view a:hover {
        font-size: 14px;
        color: #999999;
        text-decoration: underline;
    }
</style>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center" style="border: none">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>

        <div class="easyui-panel" style="width:99%;border: 0px;" align="left">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="name" id="name" style="width:99%" labelAlign="right"
                                   data-options="label:'规则名称:', validType:'length[0,20]'"/>

                        </td>
                                        
                       <td style="padding:5px;">
                            <input name="firmCode" id="firmCode" style="width:100%;" editable="false"
                                   labelAlign="right" panelWidth="auto" panelHeight="auto" label="所属市场:"/>
                            <#comboProvider _id="firmCode" _provider='firmProvider'
                            _queryParams='{}'/>

                        </td>
                        <td style="padding:5px;">
                            <input name="customerType" id="customerType" style="width:100%;" editable="false"
                                   labelAlign="right" panelWidth="auto" panelHeight="auto" label="客户类型:"/>
                            <#comboProvider _id="customerType" _provider='dataDictionaryValueProvider'
                            _queryParams='{dd_code:"customer_type"}'/>

                        </td>
        
                        <td style="padding:5px;">
                            <input class="easyui-combobox" name="businessType" panelWidth="auto" panelHeight="auto" editable="false" id="businessType"
                                   style="width:100%"
                                   labelAlign="right" data-options="label:'交易类型:'"/>
                            <#comboProvider _id="businessType" _provider='dataDictionaryValueProvider'
                            _queryParams='{dd_code:"business_type"}'/>
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-combobox" name="yn" panelWidth="auto" panelHeight="auto" editable="false" id="yn" style="width:100%"
                                   labelAlign="right" data-options="label:'状态:'"/>
                            <#comboProvider _id="yn" _provider='ynProvider' />
                        </td>
                     </tr>
                    <tr>
                        <td style="padding:5px;" colspan="2">
                            <input class="easyui-datetimebox" name="startCreated" editable="false" id="startCreated"
                                   labelAlign="right" data-options="label:'创建时间:'" style="width: 250px;"/>
                            - <input class="easyui-datetimebox" editable="false" name="endCreated" id="endCreated"
                                     labelAlign="right" style="width: 150px;"/>

                        </td>
                        
                        <td style="padding-left:8px;padding-top: 10px; padding-bottom: 10px;">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear"
                               onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center"  height="auto" align="center" border="false">
        <!-- =========================================================表格========================================================= -->
        <div class="easyui-panel" align="center" style="width:96%;height:100%;" border="true">
            <table class="easyui-datagrid" title="PointsRule列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false"
                   remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="created"
                   sortOrder="desc"
                   align="center" fit="true" striped="false" idField="id" data-options="onDblClickRow:openUpdate">
                <thead>
                <tr>
                    <th data-options="field:'firmCode', width:'5%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'firmProvider', _queryParams:{}">
                        所属市场	
                    </th>
                    <th data-options="field:'code', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',formatter:formatview">
                        规则编码
                    </th>
                    <th data-options="field:'businessType', width:'5%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'business_type'}">
                        交易类型
                    </th>
                    <th data-options="field:'customerType',width:'5%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'customer_type'}">
                        客户类型
                    </th>
                    <th data-options="field:'name',width:'10%',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',formatter:formatview">
                        规则名称
                    </th>
                    <th data-options="field:'computingStandard',width:'10%',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'computing_standard'},formatter:computingStandard">
                        计算标准
                    </th>
                    <th data-options="field:'ruleCondition',width:'10%',sortable:false, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'ruleConditionProvider'">
                        积分权重
                    </th>
                    <th data-options="field:'createdId', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'userProvider'">
                        创建人
                    </th>
                    <th data-options="field:'modifiedId',width:'10%',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false',_provider:'userProvider'">
                        修改人
                    </th>
                    <th data-options="field:'created', width:'10%', _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        创建时间
                    </th>
                    <th data-options="field:'modified',width:'10%',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        修改时间
                    </th>
                    <th data-options="formatter:status,field:'yn',width:'5%',  _provider:'ynProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        状态
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">

    var has_view = false;
    var has_update = false;

    <#resource code="pr_view">
    has_view = true;
    </#resource>

    <#resource code="pr_update">
    has_update = true;
    </#resource>

    //打开新增窗口
    function openInsert() {
        window.location.href = "${contextPath}/pointsRule/add.html";
    }

    //打开修改窗口
    function openUpdate() {

        if(!has_update){
            return;
        }

        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        if (selected.$_yn == 1) {
            $.messager.alert('警告', '不能修改启用中的规则,请禁用后重试!');
            return;
        }
        window.location.href = "${contextPath}/pointsRule/toUpdate.html?id=" + selected.id;
    }

    function copy() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        window.location.href = "${contextPath}/pointsRule/copy.html?id=" + selected.id;
    }

    function on() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        if (selected.$_yn == 1) {
            $.messager.alert('警告', '该规则已启用，无需重复启用!');
            return;
        }

        $.ajax({
            type: "POST",
            url: "${contextPath}/pointsRule/checkPointsRule.action",
            data: {
                customerType: selected.$_customerType,
                businessType: selected.$_businessType,
                firmCode: selected.$_firmCode,
                yn: 1
            },
            processData: true,
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.code == "200") {
                    $.messager.confirm('确认', '您确认想要启用规则吗？', function (r) {
                        if (r) {
                            $.ajax({
                                type: "POST",
                                url: "${contextPath}/pointsRule/startPointsRule.action",
                                data: {
                                    id: selected.id,
                                    customerType: selected.$_customerType,
                                    businessType: selected.$_businessType,
                                    firmCode: selected.$_firmCode,
                                    status: 1
                                },
                                processData: true,
                                dataType: "json",
                                async: true,
                                success: function (result) {
                                    if (result.code == "200") {
                                        $("#grid").datagrid("reload");
                                        $('#dlg').dialog('close');
                                    } else {
                                        $.messager.alert('错误', result.result);
                                    }
                                },
                                error: function () {
                                    $.messager.alert('错误', '远程访问失败');
                                }
                            });
                        }
                    });
                } else {
                    $.messager.alert('错误', data.result);
                }
            },
            error: function () {
                $.messager.alert('错误', '远程访问失败');
            }
        });
    }

    function off() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        if (selected.$_yn == 0) {
            $.messager.alert('警告', '该规则已禁用，无需重复禁用!');
            return;
        }
        $.messager.confirm('确认', '您确认想要禁用规则吗？', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/pointsRule/startPointsRule.action",
                    data: {id: selected.id, status: 0},
                    processData: true,
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        if (data.code == "200") {
                            $("#grid").datagrid("reload");
                            $('#dlg').dialog('close');
                        } else {
                            $.messager.alert('警告', data.result);
                        }
                    },
                    error: function () {
                        $.messager.alert('错误', '远程访问失败');
                    }
                });
            }
        });
    }

    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/pointsRule/listPage.action";
        }
        if (!$('#form').form("validate")) {
            return;
        }
        $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
        queryGrid();
    }

    function computingStandard(value, row, index) {
        return row.computingStandard + "*" + row.computingParameter;
    }

    function status(value, row, index) {
        if (row.$_yn == 1) {
            return '<span style="color:red;">' + value + '</span>';
        }
        return value;
    }

    function formatview(value, row, index) {

        if(has_view){
            return '<a class="view" href="${contextPath}/pointsRule/view.html?id=' + row.id + '">' + value + '</a>';
        }else {
            return value;
        }

    }


    //表格表头右键菜单
    function headerContextMenu(e, field) {
        e.preventDefault();
        if (!cmenu) {
            createColumnMenu("grid");
        }
        cmenu.menu('show', {
            left: e.pageX,
            top: e.pageY
        });
    }

    //全局按键事件
    function getKey(e) {
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if (keycode == 46) { //如果按下删除键
            var selected = $("#grid").datagrid("getSelected");
            if (selected && selected != null) {
                del();
            }
        }
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function () {
        bindFormEvent("form", "name", queryGrid);
        if (document.addEventListener) {
            document.addEventListener("keyup", getKey, false);
        } else if (document.attachEvent) {
            document.attachEvent("onkeyup", getKey);
        } else {
            document.onkeyup = getKey;
        }
        var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
            <#controls_paginationOpts/>,
            buttons:[
        <#resource code="pr_add">
            {
                iconCls: 'icon-add',
                text: '新增',
                handler: function () {
                    openInsert();
                }
            },
    </#resource>
        <#resource code="pr_update">
            {
                iconCls: 'icon-edit',
                text: '修改',
                handler: function () {
                    openUpdate();
                }
            },
    </#resource>
        <#resource code="pr_on">
            {
                iconCls: 'icon-play',
                text: '启用',
                handler: function () {
                    on();
                }
            },
    </#resource>
        <#resource code="pr_off">
            {
                iconCls: 'icon-stop',
                text: '禁用',
                handler: function () {
                    off();
                }
            },
    </#resource>
        <#resource code="pr_copy">
            {
                iconCls: 'icon-export',
                text: '复制',
                handler: function () {
                    copy();
                }
            }
            </#resource>
        ]
    });
        //表格仅显示下边框
        $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
        queryGrid();
    })
</script>
</#body>