<#body>
<link rel="stylesheet" href="${contextPath}/resources/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.all.min.js"></script>
<div id="win" style="display: none;"></div>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center" border="false">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;border: hidden;" align="left">
			<form id="userForm" class="easyui-form" method="post" fit="true">
				<div style="padding: 10px; float: left">
					<table>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="userName" id="userName" style="width: 100%" data-options="labelAlign:'right',label:'用户名:', validType:'length[0,32]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="realName" id="realName" style="width: 100%" data-options="labelAlign:'right',label:'真实姓名:', validType:'length[0,64]'" /></td>
							<td style="padding: 5px;"><input name="status" id="status" style="width: 100%;" panelWidth="auto" panelHeight="auto" data-options="labelAlign:'right',label:'状态:', editable:false"/> <#comboProvider _id="status"
									_data='[{"text":"-- 请选择 --"},{"text":"已启用","value":"1"},{"text":"已停用","value":"0"}]' /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="serialNumber" id="serialNumber" style="width: 100%" data-options="labelAlign:'right',label:'用户编号:', validType:'length[0,128]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="cellphone" id="cellphone" style="width: 100%" data-options="labelAlign:'right',label:'手机号码:', validType:'length[0,11]'" /></td>


							<td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">&nbsp;&nbsp;
                              	<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>&nbsp;&nbsp;
					 			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear"  onclick="$('#userForm').form('clear');">清除</a>
                            </td>

						</tr>
					</table>
				</div>


			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center"  height="auto"  align="center" border="false">
	    <div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
			<!-- =========================================================表格========================================================= -->
			<table class="easyui-datagrid" title="用户列表" noheader="true" id="userGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true"
				loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" align="center" fit="true" striped="true"  idField="id"
				data-options="onHeaderContextMenu:headerContextMenu,onDblClickRow:onDblClickRow">
				<thead>
					<tr>
						<th width="9%" data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户编号</th>
						<th width="10%" data-options="field:'userName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户名</th>
						<th width="10%" data-options="field:'realName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">真实姓名</th>
						<th width="10%" data-options="field:'lastLoginIp',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录ip</th>
						<th width="15%" data-options="field:'lastLoginTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录时间</th>
						<th width="10%" data-options="field:'cellphone',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">手机号码</th>
						<th width="12%" data-options="field:'email',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">邮箱</th>
						<th width="10%" data-options="field:'status', _data:[{'text':'已启用','value':1},{'text':'已停用','value':0}],  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">状态</th>
						<th width="15%" data-options="field:'options', formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">操作</th>
					</tr>
				</thead>
			</table>
			<!-- datagrid工具栏 -->
			<div id="toolbar" style="padding: 2px 5px;">

			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding: 20px;" modal="true" border="thin" closed="true">
	<table style="padding: 0px; margin: 0px;">
		<tr>
			<td>
            <form id="_form" class="easyui-form" method="post">
                <input name="_id" id="_id" type="hidden">
                <table width="300px">
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_userName" id="_userName" style="width: 100%" data-options="labelAlign:'right',label:'*用户名:', validType:'length[0,50]'" required="true"
                            validateOnCreate="false" /></td>
                        <td rowspan="13" style="padding-top: 5px;padding-left:10px;vertical-align:top" id="existsRoleTd">
                            <div id="existsRole" class="easyui-datalist" title="已分配角色" style="width: 100px;height:415px;" valueField="id" textField="roleName"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_passwordTd"><input class="easyui-textbox" name="_password" id="_password" style="width: 100%" data-options="labelAlign:'right',label:'*密码:', validType:'length[0,128]'"
                            type="password" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_realName" id="_realName" style="width: 100%" data-options="labelAlign:'right',label:'*真实姓名:', validType:'length[0,64]'" required="true"
                            validateOnCreate="false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_serialNumber" id="_serialNumber" style="width: 100%" data-options="labelAlign:'right',label:'*用户编号:', validType:'length[0,128]'" required="true"
                            validateOnCreate="false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_fixedLineTelephone" id="_fixedLineTelephone" style="width: 100%" data-options="labelAlign:'right',label:'固定电话:', validType:'length[0,24]'"
                            validateOnCreate="false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width: 100%"
                            data-options="labelAlign:'right',label:'*手机号码:', validType:'cellphone',validateOnCreate:false,required:true" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><input class="easyui-textbox" name="_email" id="_email" style="width: 100%" data-options="labelAlign:'right',label:'*邮箱:', validType:'email',validateOnCreate:false,required:true" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;"><select class="easyui-combotree" name="_department" id="_department" style="width: 100%"
                            data-options="labelAlign:'right',checkbox:false, loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parentId',label:'*所属部门:', url:'${contextPath!}/department/listTree.json',editable:false,required:true,validateOnCreate:false"></select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_lastLoginIpTd"><input class="easyui-textbox" name="_lastLoginIp" id="_lastLoginIp" style="width: 100%"
                            data-options="labelAlign:'right',label:'最后登录ip:', validType:'length[0,20]'" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_lastLoginTimeTd"><input class="easyui-datetimebox" name="_lastLoginTime" id="_lastLoginTime" style="width: 100%" data-options="labelAlign:'right',label:'最后登录时间:',hasDownArrow:false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_createdTd"><input class="easyui-datetimebox" name="_created" id="_created" style="width: 100%" data-options="labelAlign:'right',label:'创建时间:',hasDownArrow:false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_modifiedTd"><input class="easyui-datetimebox" name="_modified" id="_modified" style="width: 100%" data-options="labelAlign:'right',label:'修改时间:',hasDownArrow:false" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_statusTd"><input name="_status" id="_status" style="width: 100%;" panelWidth="auto" panelHeight="auto" label="状态:" data-options="hasDownArrow:false, labelAlign:'right'"  /> <#comboProvider _id="_status"
                                _data='[{"text":"-- 请选择 --"},{"text":"已启用","value":"1"},{"text":"已停用","value":"0"}]' /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_validTimeBeginTd"><input class="easyui-datetimebox" name="_validTimeBegin" id="_validTimeBegin" style="width: 100%" data-options="label:'有效时间开始点:'" /></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="padding: 5px;" id="_validTimeEndTd"><input class="easyui-datetimebox" name="_validTimeEnd" id="_validTimeEnd" style="width: 100%" data-options="label:'有效时间结束点:'" /></td>
                        <td></td>
                    </tr>
                </table>
            </form>
            </td>
            <td valign="top" >
                <div id="editRoleDiv" style="width:100%; height:100%;padding-top: 5px;">
                    <form id="roleForm" class="easyui-form" method="post" >
                        <table style="padding: 0px; margin: 0px;">
                            <tr>
                                <td id="withoutRoleDatalistTd" >
                                    <div id="withoutRoleDatalist" class="easyui-datalist" title="未分配角色" style="width: 100px;height:270px" data-options="onDblClickRow:addSelectedRole" valueField="id" textField="roleName"></div>
                                </td>
                                <td id="buttonsTd" width="120" align="center">
                                    <#resource code="grantRoleToUser">
                                    <p>
                                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveSelectedRow('withoutRoleDatalist', 'withRoleDatalist', false)">--&gt;</a>
                                    </p>
                                    <p>
                                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveRowByIndex('withoutRoleDatalist', 'withRoleDatalist', -1)">--&gt;&gt;</a>
                                    </p>
                                    <p>
                                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveSelectedRow('withRoleDatalist', 'withoutRoleDatalist', false)">&lt;--</a>
                                    </p>
                                    <p>
                                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveRowByIndex('withRoleDatalist', 'withoutRoleDatalist', -1)">&lt;&lt;--</a>
                                    </p>
                                    </#resource>
                                </td>
                                <td>
                                    <div id="withRoleDatalist" class="easyui-datalist" title="已分配角色" style="width: 100px; height: 270px" data-options="onDblClickRow:delSelectedRole" valueField="id" textField="roleName"></div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>


    <!-- 隐藏查看框 -->
    <div id="viewDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding: 20px;" modal="true" border="thin" closed="true">
        <table style="padding: 0px; margin: 0px;">
            <tr>
                <td>
                    <form id="v_form" class="easyui-form" method="post">
                        <table width="340px">
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_userName" id="v_userName" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*用户名:', validType:'length[0,50]'" required="true"
                                                                 validateOnCreate="false" /></td>
                                <td rowspan="13" style="padding-top: 5px;padding-left:10px;vertical-align:top" id="v_existsRoleTd">
                                    <div id="v_existsRole" class="easyui-datalist" title="已分配角色" style="width: 100px;height:438px;" valueField="id" textField="roleName"></div>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_passwordTd"><input class="easyui-textbox" name="_password" id="v_password" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*密码:', validType:'length[0,128]'"
                                                                                  type="password" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_realName" id="v_realName" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*真实姓名:', validType:'length[0,64]'" required="true"
                                                                 validateOnCreate="false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_serialNumber" id="v_serialNumber" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*用户编号:', validType:'length[0,128]'" required="true"
                                                                 validateOnCreate="false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_fixedLineTelephone" id="v_fixedLineTelephone" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'固定电话:', validType:'length[0,24]'"
                                                                 validateOnCreate="false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_cellphone" id="v_cellphone" style="width: 100%"
                                                                 data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*手机号码:', validType:'cellphone',validateOnCreate:false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><input class="easyui-textbox" name="v_email" id="v_email" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'*邮箱:', validType:'email',validateOnCreate:false,required:true" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;"><select class="easyui-combotree" name="v_department" id="v_department" style="width: 100%"
                                                                  data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',checkbox:true,cascadeCheck:true,multiple:true,loadFilter:treeLoadFilter, _idField:'id', hasDownArrow:false, _textField:'name', _parentIdField:'parentId',label:'*所属部门:', url:'${contextPath!}/department/listTree.json',editable:false,required:true,validateOnCreate:false"></select></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_lastLoginIpTd"><input class="easyui-textbox" name="v_lastLoginIp" id="v_lastLoginIp" style="width: 100%"
                                                                                     data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'最后登录ip:', validType:'length[0,20]'" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_lastLoginTimeTd"><input class="easyui-datetimebox" name="v_lastLoginTime" id="v_lastLoginTime" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'最后登录时间:',hasDownArrow:false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_createdTd"><input class="easyui-datetimebox" name="v_created" id="v_created" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'创建时间:',hasDownArrow:false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_modifiedTd"><input class="easyui-datetimebox" name="v_modified" id="v_modified" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, labelAlign:'right',label:'修改时间:',hasDownArrow:false" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_statusTd"><input name="v_status" id="v_status" style="width: 100%;" panelWidth="auto" panelHeight="auto" label="状态:" data-options="cls:'noborder', editable:false, readonly:true, hasDownArrow:false, labelAlign:'right'"  /> <#comboProvider _id="v_status"
                                        _data='[{"text":"-- 请选择 --"},{"text":"已启用","value":"1"},{"text":"已停用","value":"0"}]' /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_validTimeBeginTd"><input class="easyui-datetimebox" name="v_validTimeBegin" id="v_validTimeBegin" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, label:'有效时间开始点:'" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding: 5px;" id="v_validTimeEndTd"><input class="easyui-datetimebox" name="v_validTimeEnd" id="v_validTimeEnd" style="width: 100%" data-options="cls:'noborder', editable:false, readonly:true, label:'有效时间结束点:'" /></td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
<script type="text/javascript">
	var dataAuth = {
		addUser : <%if(hasResource('addUser')){%>true<%}else{%>false<%}%>,
		editUser : <%if(hasResource('editUser')){%>true<%}else{%>false<%}%>,
		removeUser : <%if(hasResource('removeUser')){%>true<%}else{%>false<%}%>,
		viewUserDataAuth : <%if(hasResource('viewUserDataAuth')){%>true<%}else{%>false<%}%>,
		changeUserStatus : <%if(hasResource('changeUserStatus')){%>true<%}else{%>false<%}%>,
	};
	<#user_indexJs />
</script> <script type="text/javascript">
	// 每一行的操作
	function formatOptions(value, row, index) {
		var content = '';
		var changeStatusContext = "";
		if (0 == row.$_status) {
			// 0 是已停用，功能对应是 启用
            content += getHyperlinkContext('启用',
					'onChangeUserStatusClicked', row.id);
		} else if (1 == row.$_status) {
			// 1 是已启用，功能对应是 禁用
            content += getHyperlinkContext('禁用',
					'onChangeUserStatusClicked', row.id);
		}

		content += getHyperlinkContext('查看', 'onUserDetailClicked', row.id)
		if (dataAuth.viewUserDataAuth) {
//			content += getHyperlinkContext('数据权限', 'openDataAuth', row.id)
		}
		if (dataAuth.changeUserStatus) {
			content += changeStatusContext;
		}
		return content;
	}



    //打开修改窗口
    function openUpdate() {
        var selected = $("#userGrid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告', '请选中一条数据');
            return;
        }
        onEditClicked();
    }

    $(function () {
//        bindFormEvent("form", "customerId", queryGrid);
//        if (document.addEventListener) {
//            document.addEventListener("keyup",getKey,false);
//        } else if (document.attachEvent) {
//            document.attachEvent("onkeyup",getKey);
//        } else {
//            document.onkeyup = getKey;
//        }
        var pager = $('#userGrid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
        	<#controls_paginationOpts/>
            ,buttons:[
            	  <%if(hasResource("addUser")) {%>
                {
                    iconCls:'icon-add',
                    text:'新增',
                    handler:function(){
                    	onAddClicked();
                    }
                },
                <%}%>
            <%if(hasResource("editUser")) {%>
                  {
                     iconCls:'icon-edit',
                     text:'修改',
                     handler:function(){
                         openUpdate();
                     }
                  },
             <%}%>
             <%if(hasResource("removeUser")) {%>
             {
                iconCls:'icon-remove',
                text:'删除',
                handler:function(){
                	onRemoveClicked();
                }
             },
        	<%}%>

                {
                    iconCls:'icon-export',
                    text:'导出',
                        handler:function(){
                        doExport('userGrid');
                    }
                 }
            ]
        });
        //表格仅显示下边框
        $('#userGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
    })

</script> <#user_datalistButtonsJs /> </#body>