<#body>
<link rel="stylesheet" href="${contextPath}/resources/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.all.min.js"></script>
<div id="win" style="display: none;"></div>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;border: hidden;" align="left">
			<form id="userForm" class="easyui-form" method="post" fit="true">
				<div style="padding: 10px; float: left">
					<table>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="userName" id="userName" style="width: 100%" data-options="label:'用户名:', validType:'length[0,32]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="realName" id="realName" style="width: 100%" data-options="label:'真实姓名:', validType:'length[0,64]'" /></td>
							<td style="padding: 5px;"><input name="status" id="status" style="width: 100%;" panelWidth="auto" panelHeight="auto" label="状态:" /> <#comboProvider _id="status"
									_data='[{"text":"-- 请选择 --"},{"text":"已启用","value":"1"},{"text":"已停用","value":"0"}]' /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="serialNumber" id="serialNumber" style="width: 100%" data-options="label:'用户编号:', validType:'length[0,128]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="cellphone" id="cellphone" style="width: 100%" data-options="label:'手机号码:', validType:'length[0,11]'" /></td>
						</tr>
					</table>
				</div>

				<div style="padding: 10px; float: right;">
					<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload"
						onclick="$('#userForm').form('clear');">重置</a>
				</div>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="用户列表" id="userGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="bottom" rownumbers="false" remoteSort="true"
			loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="id" align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
			data-options="onHeaderContextMenu:headerContextMenu,onDblClickRow:onDblClickRow">
			<thead>
				<tr>
					<th data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户编号</th>
					<th data-options="field:'userName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户名</th>
					<th data-options="field:'realName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">真实姓名</th>
					<th data-options="field:'lastLoginIp',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录ip</th>
					<th data-options="field:'lastLoginTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录时间</th>
					<th data-options="field:'cellphone',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">手机号码</th>
					<th data-options="field:'email',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">邮箱</th>
					<th data-options="field:'status', _data:[{'text':'已启用','value':1},{'text':'已停用','value':0}],  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">状态</th>
					<th data-options="field:'options', formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<#resource code="addUser"> <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="onAddClicked()" plain="true"></a> </#resource>
			<#resource code="editUser"> <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="onEditClicked()" plain="true"></a> </#resource>
			<#resource code="removeUser"> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="onRemoveClicked()" plain="true"></a> </#resource>
			<a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('userGrid')" plain="true"></a>
			<div style="float: right">
				边框显示:<select onchange="changeBorder('userGrid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#userGrid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding: 20px" modal="true" border="thin" closed="true" height="100%"
	data-options="
				iconCls: 'icon-save',
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:onSaveClicked
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
	<form id="_form" class="easyui-form" method="post" fit="true">
		<input name="_id" id="_id" type="hidden">
		<table>
			<tr>
				<td>
					<table width="360px">
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_userName" id="_userName" style="width: 100%" data-options="label:'用户名:', validType:'length[0,50]'" required="true"
								validateOnCreate="false" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_passwordTd"><input class="easyui-textbox" name="_password" id="_password" style="width: 100%" data-options="label:'密码:', validType:'length[0,128]'"
								type="password" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_realName" id="_realName" style="width: 100%" data-options="label:'真实姓名:', validType:'length[0,64]'" required="true"
								validateOnCreate="false" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_serialNumber" id="_serialNumber" style="width: 100%" data-options="label:'用户编号:', validType:'length[0,128]'" required="true"
								validateOnCreate="false" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_fixedLineTelephone" id="_fixedLineTelephone" style="width: 100%" data-options="label:'固定电话:', validType:'length[0,24]'"
								required="true" validateOnCreate="false" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width: 100%"
								data-options="label:'手机号码:', validType:'cellphone',validateOnCreate:false,required:true" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="_email" id="_email" style="width: 100%" data-options="label:'邮箱:', validType:'email',validateOnCreate:false,required:true" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;"><select class="easyui-combotree" name="_department" id="_department" style="width: 100%"
								data-options="checkbox:true,cascadeCheck:true,multiple:true,loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parentId',label:'所属部门:', url:'${contextPath!}/department/listTree.json',editable:false,required:true,validateOnCreate:false"></select></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_lastLoginIpTd"><input class="easyui-textbox" name="_lastLoginIp" id="_lastLoginIp" style="width: 100%"
								data-options="label:'最后登录ip:', validType:'length[0,20]'" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_lastLoginTimeTd"><input class="easyui-datetimebox" name="_lastLoginTime" id="_lastLoginTime" style="width: 100%" data-options="label:'最后登录时间:'" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_createdTd"><input class="easyui-datetimebox" name="_created" id="_created" style="width: 100%" data-options="label:'创建时间:'" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_modifiedTd"><input class="easyui-datetimebox" name="_modified" id="_modified" style="width: 100%" data-options="label:'修改时间:'" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_statusTd"><input name="_status" id="_status" style="width: 100%;" panelWidth="auto" panelHeight="auto" label="状态:" /> <#comboProvider _id="_status"
									_data='[{"text":"-- 请选择 --"},{"text":"已启用","value":"1"},{"text":"已停用","value":"0"}]' /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_validTimeBeginTd"><input class="easyui-datetimebox" name="_validTimeBegin" id="_validTimeBegin" style="width: 100%" data-options="label:'有效时间开始点:'" /></td>
						</tr>
						<tr>
							<td style="padding: 5px;" id="_validTimeEndTd"><input class="easyui-datetimebox" name="_validTimeEnd" id="_validTimeEnd" style="width: 100%" data-options="label:'有效时间结束点:'" /></td>
						</tr>
					</table>
				</td>

				<td style="padding: 5px;" id="existsRoleTd">
					<div id="existsRole" class="easyui-datalist" title="已分配角色" style="width: 100px; height: 390px" valueField="id" textField="roleName"></div>
				</td>
			</tr>
		</table>
	</form>

	<form id="roleForm" class="easyui-form" method="post" fit="true">
		<table width="360px">
			<tr>
				<td><label>用户角色:</label></td>
				<td id="withoutRoleDatalistTd">
					<div id="withoutRoleDatalist" class="easyui-datalist" title="未分配角色" style="width: 100px; height: 250px" data-options="onDblClickRow:addSelectedRole" valueField="id" textField="roleName"></div>
				</td>
				<td id="buttonsTd"><#resource code="grantRoleToUser">
					<p>
						<a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveSelectedRow('withoutRoleDatalist', 'withRoleDatalist', false)">--&gt;</a>
					</p>
					<p>
						<a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveRowByIndex('withoutRoleDatalist', 'withRoleDatalist', -1)">--&gt;&gt;</a>
					</p>
					<p>
						<a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveSelectedRow('withRoleDatalist', 'withoutRoleDatalist', false)">&lt;--</a>
					</p>
					<p>
						<a href="javascript:void(0)" class="easyui-linkbutton" onclick="moveRowByIndex('withRoleDatalist', 'withoutRoleDatalist', -1)">&lt;&lt;--</a>
					</p>
					</#resource></td>
				<td>
					<div id="withRoleDatalist" class="easyui-datalist" title="已分配角色" style="width: 100px; height: 250px" data-options="onDblClickRow:delSelectedRole" valueField="id" textField="roleName"></div>
				</td>
			</tr>
		</table>
	</form>
</div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
<script type="text/javascript">
	var dataAuth = {
		addUser : <%if(hasResource('addUser')){%>true<%}else{%>false<%}%>,
		editUser : <%if(hasResource('editUser')){%>true<%}else{%>false<%}%>,
		removeUser : <%if(hasResource('removeUser')){%>true<%}else{%>false<%}%>,
		viewUserDataAuth : <%if(hasResource('viewUserDataAuth')){%>true<%}else{%>false<%}%>,
		changeUserStatus : <%if(hasResource('changeUserStatus')){%>true<%}else{%>false<%}%>,
	};
	<#user_indexJs />
</script> <script type="text/javascript">
	// 每一行的操作
	function formatOptions(value, row, index) {
		var content = '';
		var changeStatusContext = "";
		if (0 == row.$_status) {
			// 0 是已停用，功能对应是 启用
			changeStatusContext = getHyperlinkContext('启用',
					'onChangeUserStatusClicked', row.id);
		} else if (1 == row.$_status) {
			// 1 是已启用，功能对应是 禁用
			changeStatusContext = getHyperlinkContext('禁用',
					'onChangeUserStatusClicked', row.id);
		}

		content += getHyperlinkContext('查看', 'onUserDetailClicked', row.id)
		if (dataAuth.viewUserDataAuth) {
//			content += getHyperlinkContext('数据权限', 'openDataAuth', row.id)
		}
		if (dataAuth.changeUserStatus) {
			content += changeStatusContext;
		}
		return content;
	}

	$.messager.progress({
		title : "提示",
		msg : "加载中,请稍候...",
		value : '10',
		text : '{value}%',
		interval : 200
	});

	$.parser.onComplete = function() {
		$.messager.progress("close");
	}
</script> <#user_datalistButtonsJs /> </#body>