<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;border: hidden;" align="left">
			<form id="userOnlineForm" class="easyui-form" method="post" fit="true">
				<div style="padding: 10px; float: left;">
					<table>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="userName" id="userName" style="width: 100%" data-options="label:'用户名:', validType:'length[0,50]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="realName" id="realName" style="width: 100%" data-options="label:'真实姓名:', validType:'length[0,64]'" /></td>
						</tr>
					</table>
				</div>

				<div style="padding: 10px; float: right;">
					<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload"
						onclick="$('#userForm').form('clear');">重置</a>
				</div>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" title="用户列表" noheader="true" id="userOnlineGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="bottom" rownumbers="false" remoteSort="false"
			loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true" sortName="serialNumber" align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
			data-options="onHeaderContextMenu:headerContextMenu">
			<thead>
				<tr>
					<th data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户编号</th>
					<th data-options="field:'userName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户名</th>
					<th data-options="field:'realName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">真实姓名</th>
					<th data-options="field:'lastLoginIp',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录ip</th>
					<th data-options="field:'lastLoginTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录时间</th>
					<th data-options="field:'options', formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">操作</th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="toolbar" style="padding: 2px 5px;">
			<div style="float: right">
				边框显示:<select onchange="changeBorder('grid',this.value)">
					<option value="lines-both">全边框</option>
					<option value="lines-no">无边框</option>
					<option value="lines-right">右边框</option>
					<option value="lines-bottom">下边框</option>
				</select> 行条纹:<input type="checkbox" checked="checked" onclick="$('#userOnlineGrid').datagrid({striped:$(this).is(':checked')})">
			</div>
		</div>
	</div>
</div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
<script type="text/javascript">
	function getHyperlinkContext(text, handler, data) {
		return '<span style="padding:5px;"><a href="javascript:void(0)" onclick="'
				+ handler + '(' + data + ')">' + text + '</a></span>'
	}

	// 每一行的操作
	function formatOptions(value, row, index) {
		return '<#resource code="kickUserOffLine">'
				+ getHyperlinkContext('强制下线', 'offLine', index)
				+ '</#resource>';
	}

	<#resource code="kickUserOffLine">
	function offLine(index) {
		var selected = $("#userOnlineGrid").datagrid("selectRow", index)
				.datagrid("getSelected");
		if (null == selected) {
			$.messager.alert('警告', '请选中一条数据');
			return;
		}
		$.messager.confirm('确认', '您确认想要强制下线用户(' + selected.userName + ')吗？',
				function(r) {
					if (r) {
						$.ajax({
							type : "POST",
							url : "${contextPath!}/user/kickUserOffline",
							data : {
								id : selected.id
							},
							processData : true,
							dataType : "json",
							async : true,
							success : function(data) {
								if (data.code == "200") {
									$("#userOnlineGrid").datagrid("reload");
								} else {
									$.messager.alert('错误', data.result);
								}
							},
							error : function() {
								$.messager.alert('错误', '远程访问失败');
							}
						});
					}
				});
	}
	</#resource>

	//表格查询
	function queryGrid() {
		var opts = $("#userOnlineGrid").datagrid("options");
		if (null == opts.url || "" == opts.url) {
			opts.url = "${contextPath!}/user/listOnlineUsers";
		}

		if (!$('#userOnlineForm').form("validate")) {
			return;
		}

		var param = bindMetadata("userOnlineGrid",true);
		var formData = $("#userOnlineForm").serializeObject();
		$.extend(formData, param);
		$("#userOnlineGrid").datagrid("load", formData);
	}

	$.messager.progress({
		title : "提示",
		msg : "加载中,请稍候...",
		value : '10',
		text : '{value}%',
		interval : 200
	});

	$.parser.onComplete = function() {
		$.messager.progress("close");
	}

	//表格表头右键菜单
	function headerContextMenu(e, field) {
		e.preventDefault();
		if (!cmenu) {
			createColumnMenu("grid");
		}
		cmenu.menu('show', {
			left : e.pageX,
			top : e.pageY
		});
	}

	//全局按键事件
	function getKey(e) {
		e = e || window.event;
		var keycode = e.which ? e.which : e.keyCode;
		if (keycode == 46) { //如果按下删除键
			var selected = $("#grid").datagrid("getSelected");
			if (selected && selected != null) {
				del();
			}
		}
	}

	$(function() {
		bindFormEvent("userOnlineForm", "userName", queryGrid);
		if (document.addEventListener) {
			document.addEventListener("keyup", getKey, false);
		} else if (document.attachEvent) {
			document.attachEvent("onkeyup", getKey);
		} else {
			document.onkeyup = getKey;
		}

		queryGrid();
	});
</script> </#body>