<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center" border="false">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;border: hidden;" align="left">
			<form id="userOnlineForm" class="easyui-form" method="post" fit="true">
				<div style="padding: 10px; float: left;">
					<table>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="userName" id="userName" style="width: 100%" data-options="labelAlign:'right',label:'用户名:', validType:'length[0,50]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="realName" id="realName" style="width: 100%" data-options="labelAlign:'right',label:'真实姓名:', validType:'length[0,64]'" /></td>
							<td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">&nbsp;&nbsp;
                              	<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>&nbsp;&nbsp;
								<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="$('#userOnlineForm').form('clear');">清除</a>
                            </td>
						</tr>
					</table>
				</div>

			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto"  align="center" border="false">
		<div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
				<!-- =========================================================表格========================================================= -->
				<table class="easyui-datagrid" title="用户列表" noheader="true" id="userOnlineGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
					loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true" sortName="serialNumber" align="center" fit="true" striped="true"  idField="id"
					data-options="onHeaderContextMenu:headerContextMenu">
					<thead>
						<tr>
							<th width="10%" data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户编号</th>
							<th width="15%" data-options="field:'userName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户名</th>
							<th width="20%" data-options="field:'realName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">真实姓名</th>
							<th width="15%" data-options="field:'lastLoginIp',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录ip</th>
							<th width="20%" data-options="field:'lastLoginTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">最后登录时间</th>
							<th width="21%" data-options="field:'options', formatter:formatOptions, align:'center', resizable:'true', fixed:'false'">操作</th>
						</tr>
					</thead>
				</table>
		</div>

		
	</div>
</div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
<script type="text/javascript">
	function getHyperlinkContext(text, handler, data) {
		return '<span style="padding:5px;"><a href="javascript:void(0)" onclick="'
				+ handler + '(' + data + ')">' + text + '</a></span>'
	}

	// 每一行的操作
	function formatOptions(value, row, index) {
		return '<#resource code="kickUserOffLine">'
				+ getHyperlinkContext('强制下线', 'offLine', index)
				+ '</#resource>';
	}

	<#resource code="kickUserOffLine">
	function offLine(index) {
		var selected = $("#userOnlineGrid").datagrid("selectRow", index)
				.datagrid("getSelected");
		if (null == selected) {
			$.messager.alert('警告', '请选中一条数据');
			return;
		}
		$.messager.confirm('确认', '您确认想要强制下线用户(' + selected.userName + ')吗？',
				function(r) {
					if (r) {
						$.ajax({
							type : "POST",
							url : "${contextPath!}/user/kickUserOffline",
							data : {
								id : selected.id
							},
							processData : true,
							dataType : "json",
							async : true,
							success : function(data) {
								if (data.code == "200") {
									$("#userOnlineGrid").datagrid("reload");
								} else {
									$.messager.alert('错误', data.result);
								}
							},
							error : function() {
								$.messager.alert('错误', '远程访问失败');
							}
						});
					}
				});
	}
	</#resource>

	//表格查询
	function queryGrid() {
		var opts = $("#userOnlineGrid").datagrid("options");
		if (null == opts.url || "" == opts.url) {
			opts.url = "${contextPath!}/user/listOnlineUsers";
		}

		if (!$('#userOnlineForm').form("validate")) {
			return;
		}

		var param = bindMetadata("userOnlineGrid",true);
		var formData = $("#userOnlineForm").serializeObject();
		$.extend(formData, param);
		$("#userOnlineGrid").datagrid("load", formData);
	}



	//表格表头右键菜单
	function headerContextMenu(e, field) {
		e.preventDefault();
		if (!cmenu) {
			createColumnMenu("grid");
		}
		cmenu.menu('show', {
			left : e.pageX,
			top : e.pageY
		});
	}

	//全局按键事件
	function getKey(e) {
		e = e || window.event;
		var keycode = e.which ? e.which : e.keyCode;
		if (keycode == 46) { //如果按下删除键
			var selected = $("#grid").datagrid("getSelected");
			if (selected && selected != null) {
				del();
			}
		}
	}

	$(function() {
		bindFormEvent("userOnlineForm", "userName", queryGrid);
		if (document.addEventListener) {
			document.addEventListener("keyup", getKey, false);
		} else if (document.attachEvent) {
			document.attachEvent("onkeyup", getKey);
		} else {
			document.onkeyup = getKey;
		}
	   var pager = $('#userOnlineGrid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
            layout:['list','first','prev','links','next','last','sep','refresh','info'],
            links:3,
            buttons:[]
        });
        //表格仅显示下边框
        $('#userOnlineGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
		queryGrid();
	});
	
	
</script> </#body>