<#body>
<script type="text/javascript">
    /**
     * 积分调整，市场选择框change事件
     * 根据所选市场，获取客户在该市场的可用积分
     * @param newValue
     * @param oldValue
     */
    function changeTradingFirmCode(newValue, oldValue) {
        //清除可用积分
        $('#_available').textbox("setValue",'');
        if (typeof(newValue) == "undefined" || null == newValue || ''== newValue){
            return;
        }
        var certificateNumber = $("#_certificateNumber").textbox("getValue");
        //如果证件号为空，不响应
        if(certificateNumber == null || certificateNumber == ""){
            return;
        }
        $.ajax({
            type: "POST",
            url: "${contextPath}/customerFirmPoints/getByCertificateNumberAndFirm.action",
            data: {certificateNumber: certificateNumber, firmCode: newValue},
            processData: true,
            dataType: "json",
            async: true,
            success: function (ret) {
                if (ret.success) {
                    if(ret.data != null){
                        $('#_available').textbox("setValue", ret.data.available);
                    }
                } else {
                    $.messager.alert('错误', ret.result);
                }
            },
            error: function () {
                $.messager.alert('错误', '远程访问失败');
            }
        });
    }
</script>
<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div region="north" height="auto" align="center" border="false">
        <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
        </div>
        <!-- =========================================================表单========================================================= -->
        <div class="easyui-panel" style="width:100%;border: 0px;" align="left" border="false">
            <form id="form" class="easyui-form" method="post" fit="true">
                <table style="padding:10px;">
                    <tr>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="name" id="name" style="width:100%"
                                   data-options="label:'客户名称:', labelAlign:'right', validType:'length[0,40]'"/>
                        </td>
                        <td style="padding:5px;">
                            <input class="easyui-textbox" name="certificateNumber" id="certificateNumber" style="width:100%"
                                   data-options="label:'证件号:', labelAlign:'right', validType:'length[0,40]'"/>
                        </td>
                        <td style="padding:5px;">
                            <input name="type" id="type" style="width:100%;" panelWidth="auto" data-options="editable:false, labelAlign:'right'"
                                   panelHeight="auto" label="客户类型:"/>
                            <#comboProvider _id="type" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"customer_type"}'/>
                        </td>
                        <td style="padding:5px;">
                            <input name="profession" id="profession" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto"
                                   panelHeight="auto" label="客户行业:"/>
                            <#comboProvider _id="profession" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"customer_profession"}'/>
                        </td>
                        <td style="padding:5px;">
                            <input name="organizationType" id="organizationType" style="width:100%;" data-options="labelAlign:'right', editable:false"
                                   panelWidth="auto" panelHeight="auto" label="组织类型:"/>
                            <#comboProvider _id="organizationType" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"customer_organization_type"}'/>
                        </td>

                    </tr>

                    <tr>
                        <td style="padding:5px;">
                            <input name="tradingFirmCode" id="tradingFirmCode" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="所属市场:"/>
                            <#comboProvider _id="tradingFirmCode" _provider='firmProvider' />
                        </td>
                        <td style="padding-left:30px;">
                            <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                               onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" style="width: 100%;" height="auto"  align="center" border="false">
        <div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="客户积分" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageList="[30,50,100,200]" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="modified" sortOrder="desc"
                   align="center" fit="true" striped="true"  idField="id" data-options="onDblClickRow:openDetailChange,rowStyler:statsGridRowStyler,onHeaderContextMenu:headerContextMenu,showFooter:true,view:footerView">
                <thead>
                <tr>

                    <th width="10%" data-options="field:'name',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        客户名称
                    </th>
                    <th width="10%" data-options="field:'organizationType',  _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'customer_organization_type'},  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        组织类型
                    </th>
                    <th width="10%" data-options="field:'certificateType',   _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'certificate_type'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        证件类型
                    </th>
                    <th width="10%" data-options="field:'type', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'customer_type'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        客户类型
                    </th>
                    <th width="10%" data-options="field:'profession', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'customer_profession'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        客户行业
                    </th>
                    <th width="11%" data-options="field:'certificateNumber', formatter:certificateNumberFmt,  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        证件号
                    </th>
                    <th width="10%" data-options="field:'tradingFirmCode', _provider:'firmProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                        所属市场
                    </th>
                    <th width="10%" data-options="field:'available', sortable:true,  order:'desc', align:'center', resizable:'true', fixed:'false'">
                        可用积分
                    </th>
                    <th width="10%" data-options="field:'buyerPoints', sortable:true,  order:'desc', align:'center', resizable:'true', fixed:'false'">
                        采购积分
                    </th>
                    <th width="10%" data-options="field:'sellerPoints', sortable:true,  order:'desc', align:'center', resizable:'true', fixed:'false'">
                        销售积分
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- 隐藏编辑框 -->
<div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="积分调整" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				height: 400,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:savePointsDetail
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_certificateNumber" id="_certificateNumber" style="width:100%" data-options="labelAlign:'right',label:'*客户证件号:',required:true,validType:'length[1,40]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_name" id="_name" style="width:100%" data-options="labelAlign:'right',label:'客户名称:',readonly:true,required:true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input name="_tradingFirmCode" id="_tradingFirmCode" style="width:100%;" data-options="labelAlign:'right', editable:false,onChange:changeTradingFirmCode" panelWidth="auto" panelHeight="auto" label="&lowast;积分市场:" required/>
                    <#comboProvider _id="_tradingFirmCode" _provider='firmProvider' />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_available" id="_available" style="width:100%" data-options="labelAlign:'right',label:'当前积分:',readonly:true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_points" id="_points" style="width:100%" data-options="labelAlign:'right',label:'*调整积分:',max:1000000, required:true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_notes" id="_notes" style="width:100%" data-options="labelAlign:'right',label:'&lowast;备注:',multiline:true,height:80, validType:'length[0,120]'" required="true" />
                </td>
            </tr>

        </table>
    </form>

</div>

<div id="dlg_clear" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="积分清零" style="padding:20px" modal="true" border="thin" closed="true"
     data-options="
				iconCls: 'icon-save',
				height: 280,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveClear
				},{
					text:'取消',
					iconCls:'icon-cancel',
					handler:function(){
						$('#dlg_clear').dialog('close');
					}
				}]
			">
    <form id="_formClear" class="easyui-form" method="post" fit="true">
        <table width="360px">
            <tr>
                <td style="padding:5px;">
                    <input name="_firmCodeClear" id="_firmCodeClear" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="&lowast;所属市场:" required/>
                    <#comboProvider _id="_firmCodeClear" _provider='firmProvider' />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_notes" id="_notesClear" style="width:100%" data-options="labelAlign:'right',label:'&lowast;清零原因:',multiline:true,height:80, validType:'length[0,120]'" required="true" />
                </td>
            </tr>

        </table>
    </form>

</div>
<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<script type="text/javascript">
    //合计行样式（加粗）
    function statsGridRowStyler(index, row) {
        if (row.name=='总可用积分:'){
            return 'font-weight:bold;';
        }
    }
    //打开明细窗口
    function openDetail(){
        var selected = $("#grid").treegrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告','请选中一条数据');
            return;
        }
        var exist = checkCertificateNumberExist(selected);
        if (!exist){
            $.messager.alert('警告','客户证件号为空，此操作需要维护客户证件号');
            return;
        }
        // var certificateNumber=encodeURIComponent(selected["certificateNumber"]);
        window.location.href="${contextPath}/pointsDetail/detail.html?customerId="+selected["customerId"]+"&tradingFirmCode="+selected["$_tradingFirmCode"];
    }

    //确认调整积分
    function savePointsDetail(){
        if(!$('#_form').form("validate")){
            return;
        }
        var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
        var _url = null;
        //没有id就新增
        //if(_formData.id == null || _formData.id==""){
        _url = "${contextPath}/customerFirmPoints/mannuallyAdjust.action";
        //}else{//有id就修改
        //     _url = "${contextPath}/customerPoints/update.action";
        //}
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                    $("#grid").datagrid("reload");
                    $('#dlg').dialog('close');
                }else{
                    $.messager.alert('错误',data.result);
                }
            },
            error: function(){
                $.messager.alert('错误','远程访问失败');
            }
        });
    }

    function saveClear(){
        if(!$('#_formClear').form("validate")){
            return;
        }
        var _formData = removeKeyStartWith($("#_formClear").serializeObject(),"_");
        var firm =  $("#_firmCodeClear").textbox("getText");
        $.messager.confirm('确认', '此操作将清空所有客户在【'+firm+'】的所有积分，是否继续？', function (r) {
            if (r) {
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/customerFirmPoints/clearPoints.action",
                    data: _formData,
                    processData:true,
                    dataType: "json",
                    async : true,
                    success: function (data) {
                        if(data.code=="200"){
                            $("#grid").datagrid("reload");
                            $('#dlg_clear').dialog('close');
                        }else{
                            $.messager.alert('错误',data.result);
                        }
                    },
                    error: function(){
                        $.messager.alert('错误','远程访问失败');
                    }
                });
            }else {
                $('#dlg_clear').dialog('close');
            }

        });
    }

    //打开积分调整窗口
    function openDetailChange(){
    <#resource code="changeCustomerPoints">
        var selected = $("#grid").datagrid("getSelected");
        // if (null == selected) {
        //     $.messager.alert('警告','请选中一条数据');
        //     return;
        // }
        // var exist = checkCertificateNumberExist(selected);
        // if (!exist){
        //     $.messager.alert('警告','客户证件号为空，此操作需要维护客户证件号');
        //     return;
        // }
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        formFocus("_form", "_certificateNumber");
        //如果选择了行，则加载行数据
        if(selected != null){
            $('#_points').textbox('setValue','');
            $('#_notes').textbox('setValue','');
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
            // $('#_available').textbox("setValue",'');
        }
    </#resource>
    }

    /**
     * 检查客户的证件号，是否为空
     * true - 存在
     */
    function checkCertificateNumberExist(customer) {
        if (typeof(customer.certificateNumber) == "undefined" || null == customer.certificateNumber || ''==customer.certificateNumber){
            return false;
        }
        return true;
    }


    function openClear(){
    <#resource code="clearPoints">
            $('#dlg_clear').dialog('open');
        $('#dlg_clear').dialog('center');
        $('#_formClear').form('clear');
    </#resource>
    }
    //打开新增窗口
    function openInsert(){
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        formFocus("_form", "_certificateNumber");
    }

    //打开修改窗口
    function openUpdate(){
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告','请选中一条数据');
            return;
        }
        $('#dlg').dialog('open');
        $('#dlg').dialog('center');
        $('#_form').form('clear');
        formFocus("_form", "_certificateNumber");
        var formData = $.extend({},selected);
        formData = addKeyStartWith(getOriginalData(formData),"_");
        $('#_form').form('load', formData);
    }

    function saveOrUpdate(){
        if(!$('#_form').form("validate")){
            return;
        }
        var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
        var _url = null;
        //没有id就新增
        if(_formData.id == null || _formData.id==""){
            _url = "${contextPath}/customerFirmPoints/insert.action";
        }else{//有id就修改
            _url = "${contextPath}/customerFirmPoints/update.action";
        }
        $.ajax({
            type: "POST",
            url: _url,
            data: _formData,
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                    $("#grid").datagrid("reload");
                    $('#dlg').dialog('close');
                }else{
                    $.messager.alert('错误',data.result);
                }
            },
            error: function(){
                $.messager.alert('错误','远程访问失败');
            }
        });
    }

    //根据主键删除
    function del() {
        var selected = $("#grid").datagrid("getSelected");
        if (null == selected) {
            $.messager.alert('警告','请选中一条数据');
            return;
        }
        $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
            if (r){
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/customerFirmPoints/delete",
                    data: {id:selected.id},
                    processData:true,
                    dataType: "json",
                    async : true,
                    success: function (data) {
                        if(data.code=="200"){
                            $("#grid").datagrid("reload");
                            $('#dlg').dialog('close');
                        }else{
                            $.messager.alert('错误',data.result);
                        }
                    },
                    error: function(){
                        $.messager.alert('错误','远程访问失败');
                    }
                });
            }
        });

    }
    //表格查询
    function queryGrid() {
        var opts = $("#grid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${contextPath}/customerFirmPoints/listPage.action";
        }
        if(!$('#form').form("validate")){
            return;
        }
        //查询时重置排序
        // opts.sortName = "created";
        // opts.sortOrder = "desc";
        $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
    }


    //清空表单
    function clearForm() {
        $('#form').form('clear');
    }

    //表格表头右键菜单
    function headerContextMenu(e, field){
        e.preventDefault();
        if (!cmenu){
            createColumnMenu("grid");
        }
        cmenu.menu('show', {
            left:e.pageX,
            top:e.pageY
        });
    }

    //全局按键事件
    function getKey(e){
        e = e || window.event;
        var keycode = e.which ? e.which : e.keyCode;
        if(keycode == 46){ //如果按下删除键
            var selected = $("#grid").datagrid("getSelected");
            if(selected && selected!= null){
                del();
            }
        }
    }

    /**
     * 绑定页面回车事件，以及初始化页面时的光标定位
     * @formId
     *          表单ID
     * @elementName
     *          光标定位在指点表单元素的name属性的值
     * @submitFun
     *          表单提交需执行的任务
     */
    $(function () {
        bindFormEvent("form", "certificateNumber", queryGrid);
        bindFormEvent("_form", "_certificateNumber", saveOrUpdate, function (){$('#dlg').dialog('close');});
        if (document.addEventListener) {
            document.addEventListener("keyup",getKey,false);
        } else if (document.attachEvent) {
            document.attachEvent("onkeyup",getKey);
        } else {
            document.onkeyup = getKey;
        }
        //证件号码鼠标离开时加载可用积分
        $("input",$("#_certificateNumber").next("span")).blur(function(){
            var certificateNumber = $("#_certificateNumber").textbox("getValue");
            var tradingFirmCode = $("#_tradingFirmCode").combobox("getValue");
            //证件号码小于四位不处理
            if(certificateNumber == null || certificateNumber.length < 4){
                return;
            }
            //根据证件号查询客户姓名
            $('#_name').textbox("setValue", "");
            $.ajax({
                type: "POST",
                url: "${contextPath}/customerFirmPoints/getCustomerByCertificateNumber.action",
                data: {certificateNumber: certificateNumber},
                processData: true,
                dataType: "json",
                async: true,
                success: function (ret) {
                    if (ret.success) {
                        if(ret.data != null){
                            $('#_name').textbox("setValue", ret.data.name);
                        }
                    } else {
                        $.messager.alert('错误', ret.result);
                    }
                },
                error: function () {
                    $.messager.alert('错误', '远程访问失败');
                }
            });
            if(tradingFirmCode == null || tradingFirmCode == ""){
                return;
            }
            //查询客户可用积分
            changeTradingFirmCode(tradingFirmCode);
        })

        var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
        pager.pagination({
            <#controls_paginationOpts/>,
            buttons:[
        <#resource code="customerPointsDetails">
            {
                iconCls:'icon-detail',
                text:'明细',
                handler:function(){
                    openDetail();
                }
            },
    </#resource>
        <#resource code="changeCustomerPoints">
            {
                iconCls:'icon-detail',
                text:'积分调整',
                handler:function(){
                    openDetailChange();
                }
            },
    </#resource>
        <#resource code="clearPoints">
            {
                iconCls:'icon-detail',
                text:'积分清零',
                handler:function(){
                    openClear();
                }
            },
    </#resource>
        <#resource code="exportCustomerPoints">
            {
                iconCls:'icon-export',
                text:'导出',
                handler:function(){
                    doExport('grid');
                }
            },
    </#resource>

//                    {
//                        iconCls:'icon-export',
//                        text:'导出',
//                        handler:function(){
//                            doExport('grid');
//                        }
//                    }
    ]
    })
        //表格仅显示下边框
        $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
        queryGrid();
    })
</script>
</#body>