<div class="easyui-layout" fit="true">
	<div region="west" style="width: 20%;" height="auto">
		<div id="p" class="easyui-panel" style="width: 100%;" data-options="iconCls:'icon-save'">
			<ul id="ddValueTree" class="easyui-tree" url="${contextPath}/dataDictionaryValue/listTree.json" lines="true"
				data-options="onClick:queryDdValueGrid, loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parentId',onLoadSuccess:onTreeLoadSuccess,queryParams:{ddId:${ddId!}}" />
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" height="auto" align="center" border="false">
		<div style="width: 96%;height: 100%;" align="center">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" id="ddValueGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false" loadMsg="数据加载中..."
			singleSelect="true" method="post" align="center" fit="true" idField="id" border="false"
			data-options="onDblClickRow:openUpdateDdValue,onBeginEdit:onBeginEditDdValue,onAfterEdit:onAfterEditDdValue,
				onCancelEdit:onCancelEditDdValue">
			<thead>
				<tr>
					<th  data-options="field:'ddId',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false', hidden:true">字典id</th>
					<th width="15%" data-options="field:'code',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true}}">编码</th>
					<th width="15%" data-options="field:'value',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true}}">值</th>
					<th width="8%" data-options="field:'orderNumber',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'numberbox',options : {required : true}}">排序号</th>
					<th width="22%" data-options="field:'notes',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'textbox',options : {required : true}}">备注</th>
					<th width="20%" data-options="field:'periodBegin',_provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type:'datetimebox',options:{editable:false}}">生效时间</th>
					<th width="20%" data-options="field:'periodEnd', _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type:'datetimebox',options:{editable:false}}">失效时间</th>
					<th width="12%" data-options="field:'opt',title:'操作', hidden : true,formatter:formatOpsDdValue"></th>
				</tr>
			</thead>
		</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	<#dataDictionaryValue_listJs/>
</script>