.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}

.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}

.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}

.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}

.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}

.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}

.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}

.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}

.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}

.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}

.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}

.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}

.icon-back{
	background:url('icons/back.png') no-repeat center center;
}

.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}

.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.l-btn:hover .icon-lock{
	background-image:url('icons/lock-on.png');
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}


 .l-btn:hover .icon-add{
	background-image:url('icons/edit_add-on.png'); 
}
.l-btn:hover .icon-edit{
	background-image:url('icons/pencil-on.png'); 
}
.menu-item:hover .icon-remove,
.l-btn:hover .icon-remove{
	background-image:url('icons/edit_remove-on.png'); 
}
.l-btn:hover .icon-save{
	background-image:url('icons/filesave-on.png'); 
} 
.l-btn:hover .icon-cut{
	background-image:url('icons/cut-on.png'); 
}
.l-btn:hover .icon-ok,
.accordion-header-selected .icon-ok,
.searchbox .l-btn-icon-left:hover .icon-ok{
    background-image:url('icons/ok-on.png'); 
}
.l-btn:hover .icon-reload{
	background-image:url('icons/reload-on.png'); 
}
.l-btn:hover .icon-search,
.accordion-header-selected .icon-search{
	background-image:url('icons/search-on.png'); 
}
.l-btn:hover .icon-print{
	background-image:url('icons/print-on.png'); 
}
.menu-item:hover .icon-undo,
.l-btn:hover .icon-undo{
	background-image:url('icons/undo-on.png'); 
}
.menu-item:hover .icon-redo,
.l-btn:hover .icon-redo{
	background-image:url('icons/redo-on.png'); 
}
.l-btn:hover .icon-back{
	background-image:url('icons/back-on.png'); 
}
.l-btn:hover .icon-tip{
	background-image:url('icons/tip-on.png'); 
}
.l-btn:hover .icon-filter{
	background-image:url('icons/filter-on.png'); 
} 

/* 自定义样式 */
.icon-export{
	background:url('icons/export.png') no-repeat;
}
.l-btn:hover .icon-export{
	background-image:url('icons/export-on.png');
}
.icon-detail{
	background:url('icons/detail.png') no-repeat;
}
.l-btn:hover .icon-detail{
	background-image:url('icons/detail-on.png');
}
.icon-add-child{
	background:url('icons/edit_add_child.png') no-repeat center center;
}
.l-btn:hover .icon-add-child{
	background-image:url('icons/edit_add_child-on.png');
}
.icon-pos{
	background:url('icons/pos-icon.png') no-repeat center center;
}
/* 地图图标 */
.icon-map{
	background:url('icons/map.png') no-repeat center center;
}
