<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:city<br/>
    类名:City<br/>
    表名:city<br/>
    表注释:<br/>
    实体对象名:City<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:CREATED,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:MODIFIED,
        javaProperty:String:modified,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:修改时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:name,
        javaProperty:String:name,
        defaultValue:String:,
        remarks:String:名称,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:parent_id,
        javaProperty:String:parentId,
        defaultValue:String:,
        remarks:String:父ID,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:short_name,
        javaProperty:String:shortName,
        defaultValue:String:,
        remarks:String:简称,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:level_type,
        javaProperty:String:levelType,
        defaultValue:String:,
        remarks:String:级别,
        length:int:3,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:city_code,
        javaProperty:String:cityCode,
        defaultValue:String:,
        remarks:String:区号,
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:merger_name,
        javaProperty:String:mergerName,
        defaultValue:String:,
        remarks:String:合并名称,
        length:int:50,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:lng,
        javaProperty:String:lng,
        defaultValue:String:,
        remarks:String:,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:lat,
        javaProperty:String:lat,
        defaultValue:String:,
        remarks:String:,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:pinyin,
        javaProperty:String:pinyin,
        defaultValue:String:,
        remarks:String:拼音,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:short_py,
        javaProperty:String:shortPy,
        defaultValue:String:,
        remarks:String:拼音简写,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:yn,
        javaProperty:String:yn,
        defaultValue:String:1,
        remarks:String:是否有效（1：有效 -1：无效）,
        length:int:0,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIT,
        scale:int:0,
        jdbcTypeName:String:BIT,
        jdbcType:int:-7:BIT
        ===========================================================================
</body>
</html>