
<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" style="padding-left:15px;padding-top:10px;padding-bottom: 10px;" align="center"  border="false">
		<div id="nav"  align="left">
			<#nav/>
		</div>
	</div>
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;border:0px;" height="auto"  border="false"  align="center">
		<div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
				<!-- =========================================================表格========================================================= -->
				<table class="easyui-treegrid" title="部门列表" noheader="true" id="grid" sortName="id" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
					sortName="id" align="center" fit="true" striped="true" toolbar="#toolbar" idField="id" treeField="name" url="${contextPath!}/department/list"
					data-options="loadFilter:loadFilter,onClickRow:onClickRow,onDblClickRow:onDblClickRow, onAfterEdit:onAfterEdit,onCancelEdit:onCancelEdit,onBeforeEdit:onBeforeEdit,onEndEdit:onEndEdit">
					<thead>
						<tr>
							<th data-options="field:'id',hidden:true">id</th>
							<th data-options="field:'name',width:'20%',editor : {
										type : 'textbox',
										options : {
											required : true
										}
									}">部门名称</th>
							<th width="60%" data-options="field:'notes',width:'60%',editor : 'textbox'">描述</th>
							<th data-options="field:'opt',width:'20%',hidden:true,formatter:columnFormatter">操作</th>
						</tr>
					</thead>
				</table>
				<div id="toolbar" style="padding: 2px 5px;">
					<#resource code="addDept"> <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true">新增</a> </#resource>
					<#resource code="editDept"> <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true">修改</a> </#resource>
					<#resource code="deleteDept"> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true">删除</a> </#resource>
				</div>
			</div>

	</div>
</div>
<script type="text/javascript">
	var dataAuth = {
		addDept : <%if(hasResource('addDept')){%>true<%}else{%>false<%}%>,
		editDept : <%if(hasResource('editDept')){%>true<%}else{%>false<%}%>,
		deleteDept : <%if(hasResource('deleteDept')){%>true<%}else{%>false<%}%>
	};
</script> <script type="text/javascript">
	<#department_indexJs/>
	$(function() {
		$('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
	})
</script> </#body>