
<script type="text/javascript">
    function dbClickCustomer(index, row) {
        confirmCustomerBtn();
    }
    function searchCustomer() {
        var opts = $("#selectCustomerGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = "${dataUrl}";
        }
        var text = $('#searchCustomerTextbox').textbox('getText');
        $('#selectCustomerGrid').datagrid('load', bindGridMeta2Data("selectCustomerGrid",{name : text,id: "${customerId}"}));
    }

    $(function() {
        $('#searchCustomerTextbox').textbox('addClearBtn', 'icon-clear');
        bindFormEvent("searchCustomerForm", "searchCustomerTextbox", searchCustomer, closeCustomerSelectDlg);
        searchCustomer();
        $("#selectCustomerGrid").datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
    })
</script>
<div class="easyui-layout" fit="true">
	<div region="north" height="40" align="left" border="false">
		<div style="margin: 5px 5px;">
			<form class="easyui-form" id="searchCustomerForm">
				<input id="searchCustomerTextbox" name="searchCustomerTextbox" label="客户名:" labelAlign="right" class="easyui-textbox" style="width: 300px"/>
				<a class="easyui-linkbutton"  data-options="width:80" iconCls="icon-search" onclick="searchCustomer();">查询</a>
				&nbsp;&nbsp;
				<a class="easyui-linkbutton"  data-options="width:80" iconCls="icon-ok" onclick="javascript:confirmCustomerBtn();">确认</a>
			</form>
		</div>
	</div>
	<div region="center" align="center" border="false">
		<table class="easyui-datagrid" id="selectCustomerGrid" sortName="name" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
			align="center" fit="true" striped="false" idField="id" pagination="true" pageSize="30" pageNumber="1" pagePosition="top"
			   data-options="onDblClickRow:dbClickCustomer">
			<thead>
				<tr>
					<th data-options="field:'name',width:50">客户名</th>
					<th data-options="field:'code',width:50">编码</th>
					<th data-options="field:'phone',formatter:mobilePhoneFmt,width:50">电话</th>
					<th data-options="field:'sourceSystem', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'system'}, width:50">来源系统</th>
					<th data-options="field:'department', _provider:'departmentProvider', width:'50'">归属部门</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
