<div style="margin: 5px 5px;">
	<form class="easyui-form" id="searchCustomerForm">
	客户名: <input id="searchCustomerTextbox" name="searchCustomerTextbox" class="easyui-textbox" data-options="buttonIcon:'icon-search',onClickButton:search,onChange:_changeTextboxShowClear" style="width: 300px">
	</form>
</div>
<table class="easyui-datagrid" id="selectCustomerGrid" sortName="name" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
	align="center" fit="true" striped="true" idField="id" url="${contextPath!}/selectDialog/listCustomer" data-options="onDblClickRow:dbClickCustomer">
	<thead>
		<tr>
			<th data-options="field:'name',width:'16%'">客户名</th>
			<th data-options="field:'code',width:'16%'">编码</th>
			<th data-options="field:'certificateNumber',width:'16%'">证件号</th>
			<th data-options="field:'phone',width:'16%'">电话</th>
			<th data-options="field:'sourceSystem', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'8'}, width:'16%'">来源系统</th>
			<th data-options="field:'department', _provider:'departmentProvider', width:'16%'">归属部门</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	function dbClickCustomer(index, row) {
		confirmCustomerBtn("${textboxId}");
	}
	function search() {
		var opts = $("#selectCustomerGrid").datagrid("options");
//		opts.url = '${contextPath!}/selectDialog/listCustomer';
		var text = $('#searchCustomerTextbox').textbox('getText');
		$('#selectCustomerGrid').datagrid('load', bindGridMeta2Data("selectCustomerGrid",{
            name : text
        }));
	}

	$(function() {
		$('#searchCustomerTextbox').textbox('addClearBtn', 'icon-clear');
		$('#searchCustomerTextbox').textbox('textbox').focus();
        bindFormEvent("searchCustomerForm", "searchCustomerTextbox", search, closeCustomerSelectDlg);
	})
</script>