<div style="margin: 5px 5px;">
	<form class="easyui-form" id="searchUserForm">
	真实姓名: <input id="searchUserTextbox" name="searchUserTextbox" class="easyui-textbox" data-options="buttonIcon:'icon-search',onClickButton:search" style="width: 300px">
	</form>
</div>
<table class="easyui-datagrid" id="selectUserGrid" sortName="userName" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
	align="center" fit="true" striped="true" idField="id" url="${contextPath!}/selectDialog/listUser" data-options="onDblClickRow:dbClickUser">
	<thead>
		<tr>
			<th data-options="field:'userName',width:'25%'">用户名</th>
			<th data-options="field:'realName',width:'25%'">真实姓名</th>
			<th data-options="field:'cellPhone',width:'25%'">手机号</th>
			<th data-options="field:'email',width:'25%'">邮箱</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	function dbClickUser(index, row) {
		confirmUserBtn("${textboxId}");
	}
	function search() {
		var opts = $("#selectUserGrid").datagrid("options");
//		opts.url = '${contextPath!}/selectDialog/listUser';
		var text = $('#searchUserTextbox').textbox('getText');
		$('#selectUserGrid').datagrid('load', bindGridMeta2Data("selectUserGrid",{
			realName : text
		}));
	}

	$(function() {
//		$('#searchUserTextbox').textbox('addClearBtn', 'icon-clear');
		$('#searchUserTextbox').textbox('textbox').focus();
        bindFormEvent("searchUserForm", "searchUserTextbox", search);
	})
</script>