<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.points.dao.PointsExchangeRecordMapper">
  <resultMap id="BaseResultMap" type="com.dili.points.domain.PointsExchangeRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="exchange_commodities_id" jdbcType="BIGINT" property="exchangeCommoditiesId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="created_id" jdbcType="BIGINT" property="createdId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, customer_id, points, exchange_commodities_id, quantity, created, created_id
  </sql>
  <select id="selectBy" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from points_exchange_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="updateBy" parameterType="com.dili.points.domain.PointsExchangeRecord">
    <!--
      WARNING - @mbg.generated
    -->
    update points_exchange_record
    <set>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="exchangeCommoditiesId != null">
        exchange_commodities_id = #{exchangeCommoditiesId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdId != null">
        created_id = #{createdId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>