<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.crm.dao.CustomerVisitMapper">
    <resultMap id="BaseResultMap" type="com.dili.crm.domain.CustomerVisit">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="customer_id" jdbcType="BIGINT" property="customerId"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="mode" jdbcType="VARCHAR" property="mode"/>
        <result column="priority" jdbcType="VARCHAR" property="priority"/>
        <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="notes" jdbcType="VARCHAR" property="notes"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
        <result column="modified_id" jdbcType="BIGINT" property="modifiedId"/>
        <result column="created_id" jdbcType="BIGINT" property="createdId"/>
    </resultMap>

    <resultMap id="CustomerVisitChartResultMap" type="com.dili.crm.domain.dto.CustomerVisitChartDTO">
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="market" jdbcType="VARCHAR" property="market"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="profession" jdbcType="VARCHAR" property="profession"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, customer_id, subject, mode, priority, finish_time, state, notes, created,
        modified, modified_id, created_id
    </sql>

    <select id="selectCustomerVisitGroupByMode" parameterType="list" resultMap="CustomerVisitChartResultMap">
        select mode,count(1) AS `count`
        from customer_visit
        <if test="list != null and list.size()>0">
            WHERE exists(SELECT 1 from customer where customer_visit.customer_id=customer.id and customer.market IN
            <foreach collection="list" item="market" open="(" close=")" separator=",">
                #{market}
            </foreach>
            )
        </if>
        group by mode
    </select>
    <select id="selectCustomerVisitGroupByState" parameterType="list" resultMap="CustomerVisitChartResultMap">
        select state,count(1) AS `count`
        from customer_visit
        <if test="list != null and list.size()>0">
            WHERE exists(SELECT 1 from customer where customer_visit.customer_id=customer.id and customer.market IN
            <foreach collection="list" item="market" open="(" close=")" separator=",">
                #{market}
            </foreach>
            )
        </if>
        group by state
    </select>

    <!--- 联合查询分页信息 -->
    <select id="selectForPage" parameterType="com.dili.crm.domain.CustomerVisit" resultType="com.dili.crm.domain.dto.CustomerVisitDto">
        SELECT
	      cv.*,
	      c.market
        FROM customer_visit cv
	    LEFT JOIN customer c ON cv.customer_id = c.id
        <where>
            <if test="customerId != null">
                and c.id = #{customerId}
            </if>
            <if test="subject != null and subject !=''">
                and cv.subject = #{subject}
            </if>
            <if test="mode != null and mode !=''">
                and cv.mode = #{mode}
            </if>
            <if test="state != null and state !=''">
                and cv.state = #{state}
            </if>
            <if test="userId != null">
                and cv.user_id = #{userId}
            </if>
            <if test="priority != null and priority != ''">
                and cv.priority = #{priority}
            </if>
            <if test="market != null and market != ''">
                and c.market = #{market}
            </if>
            <if test="firmCodes != null and firmCodes.size() >0">
                and c.market in
                <foreach collection="firmCodes" item="market" open="(" close=")" separator=",">
                    #{market}
                </foreach>
            </if>
        </where>
    </select>
 
</mapper>