<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.crm.dao.CustomerStatsMapper">
  <resultMap id="BaseResultMap" type="com.dili.crm.domain.CustomerStats">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="firm_code" jdbcType="VARCHAR" property="firmCode" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="customer_count" jdbcType="INTEGER" property="customerCount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, firm_code, date, customer_count
  </sql>

  <!-- 插入统计数据 -->
  <insert id="customerStats">
    insert into customer_stats (firm_code, date, customer_count)
    select market firm_code, curdate() date, count(*) customer_count
    from customer
    where yn=1
    group by market
  </insert>

  <!-- 插入统计数据 -->
  <insert id="customerStatsByDate" parameterType="map">
    insert into customer_stats (firm_code, date, customer_count)
    select market firm_code, date(#{date}) date, count(*) customer_count
    from customer
    where yn=1
    <![CDATA[
    and created <= #{date}
    ]]>
    <if test="market != null">
      and market = #{market}
    </if>
    group by market
  </insert>

  <!-- 查询不同的市场 -->
  <select id="selectDistinctFirmCode" resultMap="BaseResultMap">
    select distinct firm_code from customer_stats
  </select>

  <!-- 根据市场和日期修改客户数增量 -->
  <update id="updateCustomerCount">
    <![CDATA[
    update customer_stats set customer_count = customer_count + (${customerCount}) where firm_code= #{firmCode} and `date` >= #{date}
    ]]>
  </update>
</mapper>