
<#body>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="100%">
		<div id="p1" class="easyui-panel" style="width:100%;height:50%;">
			<!-- =========================================================表格========================================================= -->
			<table id="grid"></table>
		</div>
		<div id="p2" class="easyui-panel" style="width:100%;height:50%;">
			<!-- =========================================================表格========================================================= -->
			<table id="inlineGrid"></table>
		</div>
	</div>
	<div style="width: 20%;" height="auto" align="center" data-options="region:'west',title:'菜单管理',split:true">
		<div id="p" class="easyui-panel" style="width: 100%;" data-options="iconCls:'icon-save'">
			<ul id="menuTree" class="easyui-tree" url="${contextPath}/menu/list.json" lines="true"
				data-options="onClick:queryGrid, loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parentId',onLoadSuccess:onLoadSuccess" />
		</div>
	</div>
</div>
<script type="text/javascript">
	var dataAuth = {
		addMenu : <%if(hasResource('addMenu')){%>true<%}else{%>false<%}%>,
		editMenu : <%if(hasResource('editMenu')){%>true<%}else{%>false<%}%>,
		deleteMenu : <%if(hasResource('deleteMenu')){%>true<%}else{%>false<%}%>
	};
</script> <script type="text/javascript">
	<#menu_menuJs/>
</script> </#body>