
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" id="filesGrid" fitColumns="true"
                   pagination="false" pageSize="30" pageNumber="1" pagePosition="both" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="name"
                   url="${contextPath}/files/listPage"
                   align="center" fit="true" striped="true" toolbar="#filesToolbar" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th data-options="field:'name',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            文件名
                        </th>
                        <th data-options="field:'suffix',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            文件后缀
                        </th>
                        <th data-options="field:'length',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            文件大小
                        </th>
                        <th data-options="field:'url',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            文件地址
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                        <th data-options="field:'createMemberId',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建人id
                        </th>
                    </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
            <div id="filesToolbar" style="padding:2px 5px;">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true"></a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true"></a>
                <div style="float:right">
                边框显示:<select onchange="changeBorder('filesGrid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                行条纹:<input type="checkbox" checked="checked" onclick="$('#filesGrid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>

    <!-- 隐藏编辑框 -->
    <div id="filesDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="Files信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'上传',
					iconCls:'icon-ok',
					handler:uploadFiles
				},{
					text:'取消',
					handler:function(){
						$('#filesDlg').dialog('close');
					}
				}]
			">
        <form method="POST" id="filesForm" enctype="multipart/form-data" action="${contextPath}/files/filesUpload" target="hiddenFrame">
            <p>
                <input class="easyui-filebox" style="width: 240px;" name="file" buttonText="文件1" />
            </p>
            <p>
                <input class="easyui-filebox" style="width: 240px;" name="file" buttonText="文件2" />
            </p>
            <p>
                <input class="easyui-filebox" style="width: 240px;" name="file" buttonText="文件3" />
            </p>
            <p>
                <input class="easyui-filebox" style="width: 240px;" name="file" buttonText="文件4" />
            </p>
            <p>
                <input class="easyui-filebox" style="width: 240px;" name="file" buttonText="文件5" />
            </p>
        </form>
        <iframe name='hiddenFrame' id="hiddenFrame" style="display:none"></iframe>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        function uploadFiles(){

        }
        //打开新增窗口
        function openInsert(){
            $('#filesDlg').dialog('open');
            $('#filesDlg').dialog('center');
            $('#filesForm').form('clear');
            formFocus("filesForm", "_name");
        }

        function saveOrUpdate(){
            if(!$('#filesForm').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#filesForm").serializeObject(),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/files/insert";
            }else{//有id就修改
                _url = "${contextPath}/files/update";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#filesGrid").datagrid("reload");
                        $('#filesDlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#filesGrid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/files/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#filesGrid").datagrid("reload");
                                $('#filesDlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryFilesGrid() {
            var opts = $("#filesGrid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/files/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            var param = bindMetadata("filesGrid", true);
            var formData = $("#form").serializeObject();
            $.extend(param, formData);
            $("#filesGrid").datagrid("load", param);
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("filesGrid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#filesGrid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "name", queryFilesGrid);
            bindFormEvent("filesForm", "_name", saveOrUpdate, function (){$('#filesDlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
        })
    </script>
