 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="code" id="code" style="width:100%" data-options="label:'项目发布编号:', validType:'length[0,40]'" />

                            </td>
                            <td style="padding:5px;">
                                    <input name="projectId" id="projectId" style="width:100%;" panelWidth="auto" panelHeight="auto" label="所属项目:"/>
                                    <#comboProvider _id="projectId" _provider='projectProvider'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="version" id="version" style="width:100%" data-options="label:'版本号:', validType:'length[0,40]'" />

                            </td>
                            <td style="padding:5px;">
                                <input name="market" id="market" style="width:100%;" panelWidth="auto" panelHeight="auto" label="所属市场:"/>
                                <#comboProvider _id="market" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":1}'/>

                            </td>
                            <td style="padding:5px;">
                                <input name="projectPhase" id="projectPhase" style="width:100%;" panelWidth="auto" panelHeight="auto" label="项目阶段:"/>
                                <#comboProvider _id="projectPhase" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":2}'/>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                    <input name="publishMemberId" id="publishMemberId" style="width:100%;" panelWidth="auto" panelHeight="auto" label="发布人:"/>
                                    <#comboProvider _id="publishMemberId" _provider='memberProvider'/>

                            </td>
                            <td style="padding:5px;">
                                    <input name="modifyMemberId" id="modifyMemberId" style="width:100%;" panelWidth="auto" panelHeight="auto" label="修改人:"/>
                                    <#comboProvider _id="modifyMemberId" _provider='memberProvider'/>

                            </td>
                            <td style="padding:5px;">
                                    <input name="emailNotice" id="emailNotice" style="width:100%;" panelWidth="auto" panelHeight="auto" label="是否上线通知:"/>
                                    <#comboProvider _id="emailNotice" _provider='emailNoticeProvider'/>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-treegrid" title="Milestones列表" id="grid" fitColumns="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="code"
                   align="center" fit="true" striped="true" toolbar="#toolbar" idField="id"
                   data-options="onDblClickRow:openUpdate,
                    onHeaderContextMenu:headerContextMenu,
                    idField: 'id',
                    treeField: 'code',
                    _parentIdField:'parentId',
                    loadFilter:treegridLoadFilter">
                <thead>
                    <tr>
                        <th data-options="field:'code',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目发布编号
                        </th>
                        <th data-options="field:'parentCode', _provider:'milestonesProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上级里程碑
                        </th>
                        <th data-options="field:'projectId',  _provider:'projectProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属项目
                        </th>
                        <th data-options="field:'git',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            git地址
                        </th>
                        <th data-options="field:'docUrl',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            redmine文档地址
                        </th>
                        <th data-options="field:'version',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            版本号
                        </th>
                        <th data-options="field:'market', _table:'data_dictionary_value',_valueField:'value',_textField:'code',_queryParams:{'yn':1,'dd_id':1},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属市场
                        </th>
                        <th data-options="field:'projectPhase', _table:'data_dictionary_value',_valueField:'value',_textField:'code',_queryParams:{'yn':1,'dd_id':2},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            项目阶段
                        </th>
                        <th data-options="field:'notes',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            备注
                        </th>
                        <th data-options="field:'publishMemberId',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发布人
                        </th>
                        <th data-options="field:'modifyMemberId',  _provider:'memberProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改人
                        </th>
                        <th data-options="field:'created',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            发布时间
                        </th>
                        <th data-options="field:'modified',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            修改时间
                        </th>
                        <th data-options="field:'releaseTime',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            上线时间
                        </th>
                        <th data-options="field:'emailNotice',  _provider:'emailNoticeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            是否上线通知
                        </th>
                        <th data-options="field:'host',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            主机
                        </th>
                        <th data-options="field:'port',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            端口
                        </th>
                        <th data-options="field:'visitUrl',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            访问地址
                        </th>
                    </tr>
                </thead>
            </table>
            <!-- datagrid工具栏 -->
            <div id="toolbar" style="padding:2px 5px;">
                <#resource code="milestones_add_root">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openRootInsert()" plain="true">添加顶级</a>
                </#resource>
                <#resource code="milestones_add_child">
                <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openChildInsert()" plain="true">添加子级</a>
                </#resource>
                <#resource code="milestones_modify">
                <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true">修改</a>
                </#resource>
                <#resource code="milestones_delete">
                <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true">删除</a>
                </#resource>
                <a href="#" class="easyui-linkbutton" iconCls="icon-large-clipart" onclick="openFiles()" plain="true">管理文件</a>
                <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('grid',true)" plain="true">导出</a>
                <div style="float:right">
                边框显示:<select onchange="changeBorder('grid',this.value)">
                    <option value="lines-both">全边框</option>
                    <option value="lines-no">无边框</option>
                    <option value="lines-right">右边框</option>
                    <option value="lines-bottom">下边框</option>
                </select>
                行条纹:<input type="checkbox" checked="checked" onclick="$('#grid').datagrid({striped:$(this).is(':checked')})">
                </div>
            </div>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="Milestones信息" style="padding:20px" modal="true" border="thin" closed="true"
         data-options="
				iconCls: 'icon-save',
				height: 480,
				buttons: [{
					text:'Ok',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				},{
					text:'取消',
					handler:function(){
						$('#dlg').dialog('close');
					}
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="360px" >
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_code" id="_code" style="width:100%" data-options="label:'项目发布编号:', validType:'length[0,40]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_parentCode" id="_parentCode" readonly="true" style="width:100%" label="上级里程碑:" />
                    <input name="_parentId" type="hidden" id="_parentId" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_projectId" id="_projectId" style="width:100%;" panelWidth="auto" panelHeight="auto" label="所属项目:" required="true"/>
                       <#comboProvider _id="_projectId" _provider='projectProvider'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_git" id="_git" style="width:100%" data-options="label:'git地址:', validType:'length[0,255]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_docUrl" id="_docUrl" style="width:100%" data-options="label:'redmine文档地址:', validType:'length[0,255]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_version" id="_version" style="width:100%" data-options="label:'版本号:', validType:'length[0,40]'" required="true"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_market" id="_market" style="width:100%;" panelWidth="auto" panelHeight="auto" label="所属市场:" required="true"/>
                    <#comboProvider _id="_market" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":1}'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_projectPhase" id="_projectPhase" style="width:100%;" panelWidth="auto" panelHeight="auto" label="项目阶段:" />
                    <#comboProvider _id="_projectPhase" _table="data_dictionary_value" _valueField="value" _textField="code" _orderByClause="order_number asc" _queryParams='{"yn":1,"dd_id":2}'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_notes" id="_notes" style="width:100%" data-options="label:'备注:', validType:'length[0,255]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-datetimebox" name="_releaseTime" id="_releaseTime" style="width:100%" data-options="label:'上线时间:'"  required="true"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                       <input name="_emailNotice" id="_emailNotice" style="width:100%;" panelWidth="auto" panelHeight="auto" label="是否上线通知:" required="true"/>
                       <#comboProvider _id="_emailNotice" _provider='emailNoticeProvider'/>

                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_host" id="_host" style="width:100%" data-options="label:'主机:', validType:'length[0,120]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-numberbox" name="_port" id="_port" style="width:100%" data-options="label:'端口:'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_visitUrl" id="_visitUrl" style="width:100%" data-options="label:'访问地址:', validType:'length[0,120]'" />
                </td>
            </tr>
        </table>
    </form>
    </div>

     <!-- 文件面板 -->
     <div id="filesWindow"></div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        function callback(returnmsg){
            $('#filesForm').form('clear');
            $("#filesGrid").datagrid("reload");
            $("#filesDlg").dialog("close");
            $.messager.alert('提示',returnmsg);
        }
        //打开文件
        function openFiles(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#filesWindow').window({
                href:'${contextPath}/milestones/files.html',
                queryParams:{milestonesId:selected.id},
                title:"文件列表",
                width:800,
                height:420,
                onLoad:function(){
//                    alert('loaded successfully');
                }
            });
        }
        //打开新增顶级窗口
        function openRootInsert(){
        <#resource code="milestones_add_root">
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            formFocus("_form", "_code");
        </#resource>
        }

        //打开新增子级窗口
        function openChildInsert(){
            <#resource code="milestones_add_child">
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            $('#_form').form('clear');
            $("#_parentCode").textbox("setValue", selected["code"]);
            $("#_parentId").val(selected["id"]);
            formFocus("_form", "_code");
            </#resource>
        }

        //打开修改窗口
        function openUpdate(){
            <#resource code="milestones_modify">
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_code");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('clear');
            $('#_form').form('load', formData);
            </#resource>
        }

        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            var _url = null;
            //没有id就新增
            if(_formData.id == null || _formData.id==""){
                _url = "${contextPath}/milestones/insert";
            }else{//有id就修改
                _url = "${contextPath}/milestones/update";
            }
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    if(data.code=="200"){
                        $("#grid").treegrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });
        }

        //根据主键删除
        function del() {
        <#resource code="milestones_delete">
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/milestones/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").treegrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });
        </#resource>
        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").treegrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/milestones/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            var param = bindMetadata("grid", true);
            var formData = $("#form").serializeObject();
            $.extend(param, formData);
            $("#grid").treegrid("load", param);
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "code", queryGrid);
            bindFormEvent("_form", "_code", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
        })
    </script>
</#body>