 <#body>
     <!-- 城市控件js -->
     <#customer_cityComboJs/>
     <script type="text/javascript">
         //用户选择控件
         <#controls_user dlgId="userSelectDialog" controlId="user"/>
         <%var _customerId = "";
            if(has(customerId)) {
                _customerId = customerId;
            }
         %>
         //父客户选择控件
         <#controls_customer dlgId="parentCustomerSelectDialog" customerId="${_customerId}" controlId="_parentId" dataUrl="${contextPath!}/customer/listParentCustomerPage"  />
         //修改组织类型
         function changeOrganizationType(newValue, oldValue) {
             switchByOrganizationType(newValue);
         }

         //验证证件号码
         function validateCertificateNumber(newValue, year, month, day){
             //初始化
             if(year == null || month == null || day == null){
                 var birthStr = newValue.substr(6,8);
                 month = birthStr.substr(4,2);
                 day = birthStr.substr(6,2);
                 year = birthStr.substr(0,4);
             }
            //组织类型为个人,并且证件类型为身份证时才校验
             if($("#_organizationType").combobox("getValue") != "individuals" || $("#_certificateType").combobox("getValue") != "id"){
                 return true;
             }
             if(newValue.length < 18 || newValue.length > 19){
                 $.messager.alert('警告','证件号不合法');
                 return false;
             }

             if (isNaN(year) || isNaN(month) || isNaN(day)){
                 $.messager.alert('警告','证件号不合法');
                 return false;
             }
             if(parseInt(month)<1 || parseInt(month)>12){
                 $.messager.alert('警告','证件号不合法');
                 return false;
             }
             if(parseInt(day)<1 || parseInt(day)>31){
                 $.messager.alert('警告','证件号不合法');
                 return false;
             }
             if(parseInt(year)<1900 || parseInt(year)>2100){
                 $.messager.alert('警告','证件号不合法');
                 return false;
             }
             return true;
         }
         //修改证件号，如果证件类型为身份证，在输入18位-19位时，自动完成证件日期
         function changeCertificateNumber(newValue, oldValue) {
             var birthStr = newValue.substr(6,8);
             var month = birthStr.substr(4,2);
             var day = birthStr.substr(6,2);
             var year = birthStr.substr(0,4);
             if(!validateCertificateNumber(newValue, year, month, day)){
                return;
             }
             $('#_certificateTime').datebox('setValue', year+"-"+month+"-"+day);
         }


         </script>
    <div class="easyui-layout" fit="true">
        <div id="userSelectDialog" style="display: none;"></div>
        <div id="parentCustomerSelectDialog" style="display: none;"></div>
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <!--<div region="north" border="false" style="border-bottom: 1px solid;" height="auto" align="center">-->
            <!--<div style="display: inline;float:left;width: 500px;padding: 5px;font-size:20px;" align="left">客户查看</div>-->
            <!--<div style="display: inline;float:left;width: 500px;padding: 5px;" align="left">-->
                <!--<a id="saveBtn" href="#" class="easyui-linkbutton" data-options="width:80" onclick="saveOrUpdate()">保存</a>-->
                <!--<a id="cancelBtn" href="#" class="easyui-linkbutton" data-options="width:80" onclick="Javascript:history.back();">取消</a>-->
            <!--</div>-->
        <!--</div>-->
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <div region="center" style="width:100%;" align="center" minHeight="360" border="false">
            <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:15px;padding-top:10px;position:fixed;z-index:2008;width:100%;height:30px;background-color:white" align="left">
            <#nav/>
                <div style="display: inline;float:right;padding-right: 60px;">
                    <#resource code="updateCustomer">
                    <a id="saveBtn" href="#" class="easyui-linkbutton" data-options="width:80" iconCls="icon-save" onclick="saveOrUpdate()">保存</a>&nbsp;&nbsp;
                    <a id="saveAndExitBtn" href="#" class="easyui-linkbutton" data-options="width:120" iconCls="icon-save" onclick="saveAndExit()">保存并退出</a>&nbsp;&nbsp;
                    </#resource>
                    <a id="cancelBtn" href="#" class="easyui-linkbutton" iconCls="icon-cancel" data-options="width:80" onclick="Javascript:window.location.href='${contextPath}/customer/index.html';">取消</a>
                </div>
            </div>
            <!-- 基本信息表单 -->
            <div style="padding-top:50px" align="center">
                <div  class="easyui-panel" style="width: 96%;" title="客户基本信息" border="false" >
                    <form id="_form" class="easyui-form" method="post" fit="true">
                        <input name="_id" id="_id" type="hidden">
                        <table width="98%" style="border:0px;">
                            <tr>
                                <td style="padding-top:10px;padding-left:15px;" width="33%">
                                    <input class="easyui-textbox" name="_name" id="_name" style="width:70%;" data-options="labelAlign:'right', label:'&lowast;客户名称:', validType:'length[1,40]', required:true" />
                                </td>
                                <td style="padding-top:10px;padding-left:15px;" width="33%">
                                    <input class="easyui-textbox" name="_code" id="_code" style="width:70%;" data-options="labelAlign:'right', label:'客户编码:', validType:'length[0,40]'" />
                                </td>
                                <td style="padding-top:10px;padding-left:15px;"  width="33%">
                                    <input class="easyui-textbox" name="_parentId" id="_parentId"  panelHeight="auto" label="父客户:" style="width: 70%;"
                                           data-options="labelAlign:'right',editable:false,
									buttonText:'选择',
									onClickButton:_selectCustomer,onChange:_changeTextboxShowClear" />
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" style="width:70%" id="_ownerName" name="_ownerName" data-options="labelAlign:'right', label:'客户所有者:'" disabled="false" editable="false"/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_type" id="_type" data-options="labelAlign:'right', editable:false" style="width:70%;" panelWidth="auto" panelHeight="auto" label="客户类型:" />
                                    <#comboProvider _id="_type" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"4"}'/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_profession" id="_profession" data-options="labelAlign:'right', editable:false" style="width:70%;" panelWidth="auto" panelHeight="auto" label="客户行业:" />
                                    <#comboProvider _id="_profession" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"6"}'/>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_organizationType" id="_organizationType" style="width:70%;" panelWidth="auto" panelHeight="auto" label="&lowast;组织类型:" required="true" data-options="labelAlign:'right', validType:'length[1,20]', required:true, editable:false, <%if(has(customer)){%>readonly:true,disabled:true,<%}%> onChange:changeOrganizationType"/>
                                    <#comboProvider _id="_organizationType" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"5"}'/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_market" id="_market" data-options="labelAlign:'right', editable:false,onLoadSuccess:onComboLoadSuccessSelectOne" style="width:70%;" panelWidth="auto" panelHeight="auto" label="所属市场:" />
                                    <#comboProvider _id="_market" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"2"}'/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" name="_mainCategory" id="_mainCategory" style="width:70%;" data-options="labelAlign:'right', label:'主营品类:', validType:'length[0,40]'" />
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_certificateType" id="_certificateType" data-options="editable:false, labelAlign:'right', <%if(has(customer)){%>readonly:true,disabled:true,<%}%>required:true" style="width:70%;" panelWidth="auto" panelHeight="auto" label="&lowast;证件类型:" />

                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" name="_certificateNumber" id="_certificateNumber" style="width:70%;" data-options="labelAlign:'right', label:'&lowast;证件号:', validType:'length[1,40]',<%if(has(customer)){%>readonly:true,disabled:true,<%}%> required:true, onChange:changeCertificateNumber" />
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" name="_certificateAddr" id="_certificateAddr" style="width:70%;" data-options="labelAlign:'right', label:'证件地址:', validType:'length[0,100]'" />
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <div class="individuals">
                                    <input class="easyui-datebox" name="_certificateTime" id="_certificateTime" style="width:70%;" data-options="labelAlign:'right', label:'证件日期:', required:false, editable:false"/>
                                    </div>
                                    <div class="enterprise">
                                    <input class="easyui-textbox" name="_certificateRange" id="_certificateRange" style="width:70%;" data-options="labelAlign:'right', label:'证件日期:', required:false"/>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_operatingArea" id="_operatingArea" style="width:70%;" panelWidth="auto" panelHeight="auto" label="经营地区:"  data-options="labelAlign:'right', validType:'length[0,100]', editable:true, hasDownArrow:false, onChange:changeName, onSelect:selectName, onLoadSuccess:onComboLoadSuccessSelectOne"/>
                                    <#comboProvider _id="_operatingArea" _provider="cityProvider" _valueField="value" _textField="label" />
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" name="_otherTitle" id="_otherTitle" style="width:70%;" data-options="label:'其它头衔:', labelAlign:'right', validType:'length[0,40]'" />
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <div class="individuals">
                                    <input name="_sex" id="_sex" style="width:70%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="性别:" />
                                    <#comboProvider _id="_sex" _provider='sexProvider'/>
                                    </div>
                                    <div class="enterprise">
                                    <input class="easyui-numberbox" name="_registeredCapital" id="_registeredCapital" style="width:70%;" data-options="label:'注册资金:', labelAlign:'right', validType:'length[0,16]'" />
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <div class="individuals">
                                    <input class="easyui-textbox" name="_nation" id="_nation" style="width:70%;" data-options="label:'民族:', labelAlign:'right', validType:'length[0,20]'" />
                                    </div>
                                    <div class="enterprise">
                                    <input name="_employeeNumber" id="_employeeNumber" data-options="labelAlign:'right', editable:false" style="width:70%;" panelWidth="auto" panelHeight="auto" label="企业员工数:" />
                                    <#comboProvider _id="_employeeNumber" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"9"}'/>
                                    </div>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input class="easyui-textbox" name="_phone" id="_phone" style="width:70%;" data-options="label:'电话:', labelAlign:'right', validType:'length[0,40]'" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_sourceSystem" id="_sourceSystem" style="width:70%;" readonly="true"  disabled="true" data-options="label:'来源系统:', labelAlign:'right', validType:'length[0,20]'" />
                                    <#comboProvider _id="_sourceSystem" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"8"}'/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">
                                    <input name="_department" id="_department" style="width:70%;" disabled="true" data-options="label:'归属部门:', labelAlign:'right', readonly:true,editable:false" />
                                    <#comboProvider _id="_department" _provider='departmentProvider'/>
                                </td>
                                <td style="padding-top:10px;padding-left:15px;">

                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:10px;padding-left:15px;" colspan="3">
                                    <input class="easyui-textbox" name="_notes" id="_notes" style="width:90%;height:80px" data-options="label:'备注信息:', labelAlign:'right', validType:'length[0,250]', multiline:true" />
                                </td>
                                <td valign="bottom">

                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div align="center">
            <!--  =========================================================联系人表格div=========================================================  -->
            <#customer_contactsGridHtml/>
            <!--  =========================================================成员客户表格div=========================================================  -->
            <#customer_membersGridHtml/>
            <!--  =========================================================业务系统账号表格div=========================================================  -->
            <#customer_customerExtensionsGridHtml/>
            <!--  =========================================================地址、车辆div=========================================================  -->
            <table width="96%" border="0" style="margin-top: 10px;">
                <tr>
                    <td width="50%" valign="top"  style="padding-right:6px;box-sizing: border-box;">
                        <!--  =========================================================地址表格div=========================================================  -->
                        <#customer_addressGridHtml/>
                    </td>
                    <td width="50%" valign="top" style="padding-left:6px;box-sizing: border-box;">
                        <!--  =========================================================车辆表格div=========================================================  -->
                        <#customer_vehicleGridHtml/>
                    </td>
                </tr>
            </table>
            <!--   =========================================================客户画像表格div========================================================= -->
            <#customer_portrait/>
            </div>
        </div> <!-- end of center layout -->


        <!-- ====================================================================================================================== -->
        <!-- 下方布局 -->
        <!-- ====================================================================================================================== -->
        <!--<div region="south" height="auto" border="false" align="left">-->
        <!--</div>-->



    </div> <!-- end of easyui-layout -->
     <%if (has(customer)){%>
     <!-- 地址隐藏框 -->
     <#customer_addressFormHtml/>
     <!-- 车辆隐藏框 -->
     <#customer_vehicleFormHtml/>
     <!-- 联系人隐藏框 -->
     <#customer_contactsFormHtml/>
     <%}%>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
     <!-- 地址js -->
     <#customer_addressJs/>
     <!-- 车辆js -->
     <#customer_vehicleJs/>
     <!-- 联系人js -->
     <#customer_contactsJs/>
     <!-- 成员客户js -->
     <#customer_membersJs/>
     <#customer_membersSelJs dlgId="membersSelectDialog" />
     <!-- 业务系统账号js -->
     <#customer_customerExtensionsJs/>
     <!-- 客户画像js -->
     <#customer_portraitJs/>
    <script type="text/javascript">


        // ============================   客户相关js st  ==============================
        //打开新增客户窗口
        function openInsert(){
//            $('#_form').form('clear');
            $("#_ownerName").textbox("setValue", "${user.realName}");
            var formData = {};
            //组织类型默认选中"个人"
            formData["organizationType"] = "individuals";
            formData["organizationType"] = "individuals";
            formData["sourceSystem"] = "CRM";
            //根据组织类型加载证件类型、性别、民族、证件日期控件、注册资金和企业员工数f
            switchByOrganizationType("individuals");
            formData = addKeyStartWith(formData,"_");
            $('#_form').form('load', formData);
            _sourceSystem
            formFocus("_form", "_name");
            $("#vehicleDiv").panel("close");
            $("#addressDiv").panel("close");
            $("#contactsDiv").panel("close");
            $("#membersDiv").panel("close");
            $("#customerExtensionsDiv").panel("close");
            $("#portraitDiv").hide();
        }

        //打开修改客户窗口
        function openUpdate(){
            <%if (has(customer)){%>
            var selected = ${customer};
            $('#_form').form('clear');
            var formData = $.extend({},selected);

            //设置客户所有者(这里表格中的提供者已经作了转义,只需要对应上字段即可)
            formData["ownerName"] = selected["ownerId"];
            //根据组织类型加载证件类型、性别、民族、证件日期控件、注册资金和企业员工数
            loadByOrganizationType(formData);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            //设置经营地区的显示值
            formData["_operatingArea"] = selected["operatingArea"];
            $('#_form').form('load', formData);
            //设置父客户
            $("#_parentId").textbox("initValue", selected["$_parentId"]);
            $("#_parentId").textbox("setText", selected["parentId"]);
            formFocus("_form", "_name");
            listAddress();
            listVehicle();
            listContacts();
            listMembers();
            listCustomerExtensions();
            <%}%>
        }

        //保存客户
        function saveOrUpdate(){
            saveAndExit();
        }

        //保存客户
        function saveAndExit(url){
            if(!$('#_form').form("validate")){
                return;
            }
            // 修改操作，则不验证证件信息
            <%if(!has(customerId)) {%>
                if(!validateCertificateNumber($("#_certificateNumber").textbox("getValue"))){
                    return;
                }
             <%}%>
            if ($("#_operatingArea").combobox("getValue")){
                if(manualInput){
                    $.messager.alert('错误',"手动输入不合法，请选择经营区域");
                    return;
                }
            }

            var msg = (!url || url == null || url === "") ? "您确认要保存并退出吗？" : "您确认想要保存吗？";
            $.messager.confirm('确认',msg,function(r) {
                if (r) {
                    //禁用保存
                    $("#saveBtn").linkbutton("disable");
                    $("#saveAndExitBtn").linkbutton("disable");
                    var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
                    var _url = null;
                    //没有id就新增
                    if(_formData.id == null || _formData.id==""){
                        _url = "${contextPath}/customer/insert";
                    }else{//有id就修改
                        _url = "${contextPath}/customer/update";
                    }
                    $.ajax({
                        type: "POST",
                        url: _url,
                        data: _formData,
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                    if(url){
                                        url += data.data.id;
                                    }else{
                                        url = "${contextPath}/customer/index.html";
                                    }
                                    window.location.href = url;
                                }else{
                                    $("#saveBtn").linkbutton("enable");
                                    $("#saveAndExitBtn").linkbutton("enable");
                                    $.messager.alert('错误',data.result);
                                }
                            },
                            error: function(){
                                $("#saveBtn").linkbutton("enable");
                                $("#saveAndExitBtn").linkbutton("enable");
                                $.messager.alert('错误','远程访问失败');
                            }
                       });
                }
            });

        }

        //根据主键删除客户
        function del() {
            var selected = $("#grid").treegrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/customer/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").treegrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });
        }

        //根据组织类型加载和显示相关字段(证件类型、性别、民族、证件日期控件、注册资金和企业员工数)
        function loadByOrganizationType(formData) {
            switchByOrganizationType(formData[orginal_key_prefix + "organizationType"]);
        }

        //根据组织类型切换控件
        function switchByOrganizationType(organizationType){
//            加载时组织类型默认为个人
            if(null == organizationType){
                organizationType = "individuals";
            }
//            根据组织类型加载证件类型下拉框
            loadCertificateTypeByOrganizationType(organizationType);
            if(organizationType == "individuals"){
                $(".individuals").show();
                $(".enterprise").hide();
            }else if(organizationType == "enterprise"){
                $(".individuals").hide();
                $(".enterprise").show();
            }
        }

        //修改客户时，根据组织类型加载证件类型
        function loadCertificateTypeByOrganizationType(organizationType) {
            $.ajax({
                type: "POST",
                url: "${contextPath}/customer/getCertificateTypeComboboxData",
                data: {"organizationType":organizationType},
                processData:true,
                dataType: "json",
                async : false,
                success: function (result) {
                    if(result.code=="200"){
                        //加载证件类型
                        $("#_certificateType").combobox({
                            data:eval("("+result.data+")")
                            ,valueField:"value"
                            ,textField:"text"
                        });
                    }else{
                        $.messager.alert('错误',result.result);
                    }
                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                }
            });

        }

        //清空客户表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        // ============================   客户相关js end  ==============================

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").treegrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("_form", "_name", saveOrUpdate, function (){$('#dlg').dialog('close');});
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
//            $('#addressGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
//            $('#contactsGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
//            $('#vehicleGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
//            $('#customerExtensionsGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
//            $('#membersGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            <% if(has(customer)){%>
                openUpdate();
            <%}else{%>
                openInsert();
            <%}%>

        })
    </script>
</#body>