 <#body>
 		<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=<#config name='map.ak'/>"></script>
		<script type="text/javascript" src="http://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox_min.js"></script>
		<script type="text/javascript" src="${contextPath}/resources/js/TextIconOverlay_min.js"></script>
		<script type="text/javascript" src="${contextPath}/resources/js/MarkerClusterer.min.js"></script>
    <div class="easyui-layout" fit="true">

        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;border: 0px;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'客户名称:', labelAlign:'right', validType:'length[0,40]'" />
                            </td>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="code" id="code" style="width:100%" data-options="label:'客户编码:', labelAlign:'right', validType:'length[0,40]'" />
                            </td>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="certificateNumber" id="certificateNumber" style="width:100%" data-options="label:'证件号:', labelAlign:'right', validType:'length[0,40]'" />
                            </td>
                            <td style="padding:10px;">
                                <input name="type" id="type" style="width:100%;" panelWidth="auto" data-options="editable:false, labelAlign:'right'" panelHeight="auto" label="客户类型:"/>
                                <#comboProvider _id="type" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"4"}'/>
                            </td>
                        </tr>
                        <tr>

                            <td style="padding:10px;">
                                <input name="profession" id="profession" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="客户行业:"/>
                                <#comboProvider _id="profession" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"6"}'/>

                            </td>
                            <td style="padding:10px;">
                                    <input name="market" id="market" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="所属市场:"/>
                                    <#comboProvider _id="market" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"2"}'/>
                            </td>
                            <td style="padding:10px;">
                                <input name="organizationType" id="organizationType" style="width:100%;" data-options="labelAlign:'right', editable:false" panelWidth="auto" panelHeight="auto" label="组织类型:"/>
                                <#comboProvider _id="organizationType" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"5"}'/>

                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" id="queryBtn" data-options="width:80" iconCls="icon-search"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:80" iconCls="icon-clear" onclick="clearForm()">清除</a>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center"  height="auto" align="center" border="false">
            <div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-treegrid" id="grid" fitColumns="true"  title="客户信息" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" remoteSort="true"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="created" sortOrder="desc"
                   align="center" fit="true" striped="true"
                   data-options="onDblClickRow:<%if(hasResource("updateCustomer")) {%>openUpdate,<%}else{%>openDetail,<%}%>
                   onHeaderContextMenu:headerContextMenu,
                   onBeforeExpand:onBeforeExpand,
                   autoRowHeight:false,
                   onLoadSuccess:onLoadSuccess,
                   idField:'id',
                   treeField: 'name',
                    _parentIdField:'parentId',
                    loadFilter:treegridLoadFilter">
                <thead>
                    <tr>
                        <th data-options="field:'name',   sortable:'true', order:'asc', align:'left', resizable:'true', fixed:'false'">
                            名称
                        </th>
                        </th>
                        <th data-options="field:'code',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            编码
                        </th>
                        <th data-options="field:'ownerId', _provider:'ownerProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所有者
                        </th>
                        <th data-options="field:'certificateNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件号
                        </th>
                        <th data-options="field:'certificateType', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'3'}, sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件类型
                        </th>
                        <th data-options="field:'phone', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            电话
                        </th>
                        <th data-options="field:'organizationType', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'5'},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            组织类型
                        </th>
                        <th data-options="field:'sourceSystem', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'8'},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            来源系统
                        </th>
                        <th data-options="field:'department', _provider:'departmentProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属部门
                        </th>
                        <th data-options="field:'market', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'2'},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            所属市场
                        </th>
                        <th data-options="field:'type',  _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'4'},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户类型
                        </th>
                        <th data-options="field:'profession',  _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'6'},  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户行业
                        </th>
                        <th data-options="field:'operatingArea', _provider:'cityProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            经营地区
                        </th>
                        <th data-options="field:'mainCategory',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            主营品类
                        </th>
                        <th data-options="field:'created', _provider:'datetimeProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                    </tr>
                </thead>
            </table>
            </div>
        </div> <!-- end of region="center" -->
    </div>
<div id="dd" class="easyui-dialog" title="客户定位 <a id='nextLocationLink' href='javascript:void(0);' style='padding: 2px 5px; margin-left: 20px; border:1px solid #ccc;
    border-radius: 3px;color: #333;text-decoration: none;' onclick='nextLocation();'>下一个位置</a>" style="width:800px;height:400px;"
        data-options="resizable:true,modal:true,closed:true,onClose:function(){clientLocationMap.customer=null;}">

  <div id="clientAddressMapDiv" style="width:100%;height:100%;" ></div>   
</div> 
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        // ============================   客户相关js st  ==============================

        //加载完了必须要重设url，否则删除的时候可能会调用expand
//        var onLoadSuccess = function(row, data) {
//            $(this).treegrid("options").url = "${contextPath}/customer/listPage";
//        }
        var onBeforeExpand = function(row,param){
            $("#grid").treegrid("options").url ="${contextPath}/customer/expand?parentId="+row.id;
        };

        // //打开新增子级客户窗口
        // function openChildInsert(){
        //     var selected = $("#grid").treegrid("getSelected");
        //     if (null == selected) {
        //         $.messager.alert('警告','请选中一条数据');
        //         return;
        //     }
        //     window.location.href="${contextPath}/customer/add.html?id="+selected["id"];
        // }

        //打开新增客户窗口
        function openInsert(){
            window.location.href="${contextPath}/customer/add.html";
        }

        //打开修改客户窗口
        function openUpdate(){
            <#resource code="updateCustomer">
                var selected = $("#grid").treegrid("getSelected");
                if (null == selected) {
                    $.messager.alert('警告','请选中一条数据');
                    return;
                }
                window.location.href="${contextPath}/customer/edit.html?id="+selected["id"];
            </#resource>
        }

        //打开修改客户窗口
        function openDetail(){
            <#resource code="viewCustomer">
                var selected = $("#grid").treegrid("getSelected");
                if (null == selected) {
                    $.messager.alert('警告','请选中一条数据');
                    return;
                }
                window.location.href="${contextPath}/customer/detail.html?id="+selected["id"];
            </#resource>
        }

        //根据主键删除客户
        function del() {
            var selected = $("#grid").treegrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/customer/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").treegrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });
        }
        // var markerClusterer=null;
        var clientLocationMap={map:null,markers:[],clusterer:null,customer:null};
        function initOrGetClientLocationMap(){
        	if(clientLocationMap.map==null){
        		var lat =39.913702;//126.608858;
        		//116.398051,39.913702
                var lng =116.398051;//45.709509;
           	    var map=new BMap.Map("clientAddressMapDiv");
           	    map.centerAndZoom(new BMap.Point(lng,lat), 13);
           	    map.enableScrollWheelZoom();
           	    var markers=[];
                 var clusterer=new BMapLib.MarkerClusterer(map, {markers:markers});
           	   clientLocationMap.map=map;
           	   clientLocationMap.markers=markers;
           	   clientLocationMap.clusterer=clusterer;
        	}
        	return clientLocationMap;
        }

		function nextLocation() {
			var customer=clientLocationMap.customer;
			//使customer.centerIndex指向下一下位置索引
			 if(customer!=null){
			    if(customer.addresses.length>0){
			      	var currentCenterIndex=customer.centerIndex;
			      	if(currentCenterIndex>=customer.addresses.length-1){
			      		currentCenterIndex=-1;
			      	}
			      	customer.centerIndex=currentCenterIndex+1;
			      }
				//调用方法显示位置信息
				showMapDialog(customer);
			 }
		}

        function showMapDialog(customer) {
        	
        	addresses=customer.addresses;
        	centerAddress=addresses[customer.centerIndex];
        	
        	//绑定下一个位置事件

              clientLocationMap.customer=customer;
              var map=clientLocationMap.map;
              map.setZoom(13);
              var markerClusterer=clientLocationMap.clusterer;
              //移除聚合点(保留图层)
              for (var i = 0; i < clientLocationMap.markers.length; i++) {
                  	 map.removeOverlay(clientLocationMap.markers[i]);
	          }
              //移除聚合点(保留图层)
              markerClusterer.clearMarkers();
              
              //设置中心位置
              var lat = parseFloat(centerAddress['lat']);//126.608858;
              var lng = parseFloat(centerAddress['lng']);//45.709509;
           	  map.setCenter(new BMap.Point(lng,lat));
           	  
           	  
              var markers = [];
              var myIcon = new BMap.Icon("${contextPath}/resources/images/icon/pos-icon.png", new BMap.Size(23, 25), {
                   // 指定定位位置。
                   // 当标注显示在地图上时，其所指向的地理位置距离图标左上
                   // 角各偏移7像素和20像素。
                   anchor: new BMap.Size(7, 20)
               });
               
              //遍历地址,添加聚合点
                for(var i=0;i<addresses.length;i++){
                	 var address=addresses[i];
                	 
                	 var pt = new BMap.Point(lng, lat);
                     var marker = new BMap.Marker(pt, {icon: myIcon});
                     //绑定自定义属性
                     marker.meta={id:address.id, name:customer.name};
                     //对地图添加聚合点
                     map.addOverlay(marker);
      
                     var label = new window.BMap.Label('', { offset: new window.BMap.Size(-7, 20) });
                     label.setStyle({border:'0px',background: "transparent none repeat"});
                     marker.setLabel(label);
                     //鼠标悬停时显示
                     marker.setTitle(marker.meta.name);
                    //触发点击聚合点事件
                     marker.addEventListener("click", function(e){
                     	var p = new BMap.Point(e.point.lng,e.point.lat); //这里设置刚开始的点所在处
                     	var gc = new BMap.Geocoder();  
                     	var m=this;
                     	gc.getLocation(p, function (rs) {
                             //由于在getLocation函数返回信息之前，首先执行它下面的代码的，所以要把重新拖动后的代码放到它里面
                            //获取并显示地址信息
                             var addComp = rs.addressComponents;
                             var province = addComp.province;//获取省份
                             var city = addComp.city;//获取城市
                             var district = addComp.district;//区
                             var street = addComp.street;//街
                             var addr=province+city+district+street;

                             var content = "<table>";  
                             content = content + "<tr><td> 姓名："+customer.name+"</td></tr>";  
                             content = content + "<tr><td> 地点："+addr+"</td></tr>"; 
                             //content = content + "<tr><td> 时间：2014-09-26</td></tr>";  
                             content = content + "<tr><td> 经度坐标："+e.point.lng+"</td></tr>";  
                             content = content + "<tr><td> 纬度坐标："+e.point.lat+"</td></tr>";  

                             content += "</table>";
                         	 var infowindow = new BMap.InfoWindow(content,{offset:new BMap.Size(0, -10)});
                         	 m.openInfoWindow(infowindow);
                         	
                     	});
                       
                     });
                   //添加聚合点到数组
                     markers.push(marker);	
                   //添加聚合点到图层
                     markerClusterer.addMarker(marker);
                }
                //保存聚合点到全局对象,用以下一次清空
               clientLocationMap.markers=markers;
               window.setTimeout(function(){  
                	map.panTo(new BMap.Point(lng,lat)); 
                }, 100);
               
                $('#dd').dialog('open',true);  
        
        }  
        function locateCustomers(gridId){
        	//var rows=[];
        	var selected = $("#"+gridId).treegrid("getSelected");
            if (null == selected) {
            	//rows.push($("#"+gridId).treegrid("getRows"));
            	 //listDefaultAddressByCustomerIds
            	$.messager.alert('警告','请选中一条数据');
                return;
            }else{
                $.ajax({
                    type: "POST",
                    url: "${contextPath}/address/list",
                    data: {customerId:selected.id},
                    processData:true,
                    dataType: "json",
                    async : true,
                    success: function (data) {
                    	var defaultAddress=null;
                    	$.each(data,function(k,v){
                    		if(v.isDefault==1){
                    			defaultAddress=v;
                    			selected.addresses=data;
                    			selected.centerIndex=k;
                            	showMapDialog(selected);
                            	return false;
                    		}
                    	});
                    	if(defaultAddress==null){
                    		 $.messager.alert('错误','选中客户没有地址信息');
                    		 return
                    	}
                    	
                        //if(data.code=="200"){
                           // $("#grid").treegrid("reload");
                           // $('#dlg').dialog('close');
                       // }else{
                        //    $.messager.alert('错误',data.result);
                        //}
                    },
                    error: function(){
                        $.messager.alert('错误','远程访问失败');
                    }
                });
            	//rows.push(selected);
            	//list
            }
            
        	
        };
        //加载完了必须要重设url，否则删除的时候可能会调用expand
        var onLoadSuccess = function(row, data) {
            $(this).treegrid("options").url = "${contextPath}/customer/listPage";
        }
        //客户表格查询
        function queryGrid() {
            var opts = $("#grid").treegrid("options").url = "${contextPath}/customer/listPage";
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").treegrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空客户表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        // ============================   客户相关js end  ==============================


        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").treegrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "name", queryGrid);
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').treegrid('getPager');    // get the pager of treegrid
            pager.pagination({
                <#controls_paginationOpts/>
                ,buttons:[
                <#resource code="viewCustomer">
                    {
                        iconCls:'icon-detail',
                        text:'详情',
                            handler:function(){
                            openDetail();
                        }
                    },
                </#resource>
                <#resource code="insertCustomer">
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                </#resource>
                <#resource code="updateCustomer">
                    {
                        iconCls:'icon-edit',
                        text:'修改',
                        handler:function(){
                            openUpdate();
                        }
                    },
                </#resource>
                <#resource code="deleteCustomer">
                    {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                    },
                </#resource>
                <#resource code="exportCustomer">
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid', true);
                        }
                    },
                </#resource>
                    {
                        iconCls:'icon-pos',
                        text:'定位客户',
                        handler:function(){
                            locateCustomers('grid');
                        }
                    },
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");

            //打开页面时查询
            queryGrid();
 
           initOrGetClientLocationMap();

          })
    </script>
</#body>