<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:customer<br/>
    类名:Customer<br/>
    表名:customer<br/>
    表注释:<br/>
    实体对象名:Customer<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:parent_id,
        javaProperty:String:parentId,
        defaultValue:String:,
        remarks:String:父客户,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:owner_id,
        javaProperty:String:ownerId,
        defaultValue:String:,
        remarks:String:所有者,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:certificate_number,
        javaProperty:String:certificateNumber,
        defaultValue:String:,
        remarks:String:证件号,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:certificate_type,
        javaProperty:String:certificateType,
        defaultValue:String:,
        remarks:String:证件类型##{table:"data_dictionary_value", valueField:"value", textField:"code", queryParams:{yn:1, dd_id:2}, orderByClause: "order_number asc"},
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:certificate_time,
        javaProperty:String:certificateTime,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:证件日期##身份证时为出生日期，企业时为营业执照日期,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:certificate_addr,
        javaProperty:String:certificateAddr,
        defaultValue:String:,
        remarks:String:证件地址,
        length:int:100,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:name,
        javaProperty:String:name,
        defaultValue:String:,
        remarks:String:客户名称,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:code,
        javaProperty:String:code,
        defaultValue:String:,
        remarks:String:客户编码,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:sex,
        javaProperty:String:sex,
        defaultValue:String:,
        remarks:String:性别##{provider:"sexProvider",data:[{value:"male",text:"男"},{value:"female", text:"女"},{value:"unknown", text:"未知"}]},
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:nation,
        javaProperty:String:nation,
        defaultValue:String:,
        remarks:String:民族,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:phone,
        javaProperty:String:phone,
        defaultValue:String:,
        remarks:String:电话,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:organization_type,
        javaProperty:String:organizationType,
        defaultValue:String:,
        remarks:String:组织类型##个人/企业##{provider:"organizationTypeProvider",data:[{value:"individuals",text:"个人"},{value:"enterprise", text:"企业"}]},
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:source,
        javaProperty:String:source,
        defaultValue:String:,
        remarks:String:归属/来源##外部系统来源标识系统，内部创建归属到创建员工的部门,
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:market,
        javaProperty:String:market,
        defaultValue:String:,
        remarks:String:所属市场##标识客户所属批发市场##{table:"data_dictionary_value", valueField:"value", textField:"code", queryParams:{yn:1, dd_id:1}, orderByClause: "order_number asc"},
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:type,
        javaProperty:String:type,
        defaultValue:String:,
        remarks:String:客户类型##采购、销售、代买等##{provider:"customerTypeProvider",data:[{value:"purchase",text:"采购"},{value:"sale", text:"销售"},{value:"helpBuy", text:"代买"}]},
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:profession,
        javaProperty:String:profession,
        defaultValue:String:,
        remarks:String:客户行业##水果批发/蔬菜批发/超市##{provider:"professionProvider",data:[{value:"fruitsWholesale",text:"水果批发"},{value:"vegetablesWholesale", text:"蔬菜批发"},{value:"supermarket", text:"超市"}]},
        length:int:20,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:operating_area,
        javaProperty:String:operatingArea,
        defaultValue:String:,
        remarks:String:经营地区,
        length:int:100,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:other_title,
        javaProperty:String:otherTitle,
        defaultValue:String:,
        remarks:String:其它头衔,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:main_category,
        javaProperty:String:mainCategory,
        defaultValue:String:,
        remarks:String:主营品类,
        length:int:40,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:notes,
        javaProperty:String:notes,
        defaultValue:String:,
        remarks:String:备注信息,
        length:int:250,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:created_id,
        javaProperty:String:createdId,
        defaultValue:String:,
        remarks:String:创建人,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:modified_id,
        javaProperty:String:modifiedId,
        defaultValue:String:,
        remarks:String:修改人,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:created,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:modified,
        javaProperty:String:modified,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:修改时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:yn,
        javaProperty:String:yn,
        defaultValue:String:,
        remarks:String:是否可用,
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
</body>
</html>