<div class="easyui-layout" fit="true">
	<div region="north" height="40" align="left" border="false">
		<div style="margin: 5px 5px;">
			<form class="easyui-form" id="searchMembersForm">
				<input id="searchMembersTextbox" label="客户名:" labelAlign="right" name="searchMembersTextbox" class="easyui-textbox" style="width: 300px">
				<a class="easyui-linkbutton"  data-options="width:80" iconCls="icon-search" onclick="searchMember();">查询</a>
				&nbsp;&nbsp;
				<a class="easyui-linkbutton"  data-options="width:80" iconCls="icon-ok" onclick="javascript:confirmMembersBtn();">确认</a>
			</form>
		</div>
	</div>
	<div region="center" align="center" border="false">
		<table class="easyui-datagrid" id="selectMembersGrid" sortName="name" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
			align="center" fit="true" striped="true" idField="id" pagination="true" pageSize="30" pageNumber="1" pagePosition="top"
			   style="height:400px;"
			   data-options="onDblClickRow:dbClickMembers">
			<thead>
				<tr>
					<th data-options="field:'name',width:50">客户名</th>
					<th data-options="field:'code',width:50">编码</th>
					<th data-options="field:'phone',width:50">电话</th>
					<th data-options="field:'sourceSystem', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'system'}, width:50">来源系统</th>
					<th data-options="field:'department', _provider:'departmentProvider', width:'50'">归属部门</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<script type="text/javascript">
	function dbClickMembers(index, row) {
		confirmMembersBtn(row);
	}
	function searchMember() {
		var opts = $("#selectMembersGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = '${contextPath!}/customer/listMembersPage.action';
        }
		var text = $('#searchMembersTextbox').textbox('getText');
		$('#selectMembersGrid').datagrid('load', bindGridMeta2Data("selectMembersGrid",{name : text,id: "${customerId}"}));
	}

	$(function() {
		$('#searchMembersTextbox').textbox('addClearBtn', 'icon-clear');
		$('#searchMembersTextbox').textbox('textbox').focus();
        bindFormEvent("searchMembersForm", "searchMembersTextbox", searchMember, closeMembersSelectDlg);
        searchMember();
	})
</script>