<div style="margin: 5px 5px;">
	<form class="easyui-form" id="searchCustomerForm">
	客户名: <input id="searchCustomerTextbox" name="searchCustomerTextbox" class="easyui-textbox" data-options="buttonIcon:'icon-search',onClickButton:search,onChange:_changeTextboxShowClear" style="width: 300px">
	</form>
</div>
<table class="easyui-datagrid" id="selectCustomerGrid" sortName="name" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
	align="center" fit="true" striped="true" idField="id" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true"
	   data-options="onDblClickRow:dbClickMembers">
	<thead>
		<tr>
			<th data-options="field:'name',width:50">客户名</th>
			<th data-options="field:'code',width:50">编码</th>
			<th data-options="field:'phone',width:50">电话</th>
			<th data-options="field:'sourceSystem', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'8'}, width:50">来源系统</th>
			<th data-options="field:'department', _provider:'departmentProvider', width:'50'">归属部门</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	function dbClickMembers(index, row) {alert(1);
		confirmMembersBtn(row.id);
	}
	function search() {
		var opts = $("#selectCustomerGrid").datagrid("options");
        if (null == opts.url || "" == opts.url) {
            opts.url = '${contextPath!}/selectDialog/listCustomer';
        }
		var text = $('#searchCustomerTextbox').textbox('getText');
		$('#selectCustomerGrid').datagrid('load', bindGridMeta2Data("selectCustomerGrid",{name : text}));
	}

	$(function() {
		$('#searchCustomerTextbox').textbox('addClearBtn', 'icon-clear');
		$('#searchCustomerTextbox').textbox('textbox').focus();
        bindFormEvent("searchCustomerForm", "searchCustomerTextbox", search, closeCustomerSelectDlg);
        search();
	})
</script>