 <#body>

    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
            <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
             <div class="easyui-panel" style="width:100%;border: 0px;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                   
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
      <div region="center" style="width: 100%;" height="auto"  align="center" border="false">

            <!-- =========================================================表格========================================================= -->
            <table width="100%" style="padding: 10px;height: 100%;">
                <tr>
                    <td width="20%">
                        <div id="grid" class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
                        <table class="easyui-datagrid" singleSelect="true">
                            <thead>
                            <tr>
                                <th width="70%" data-options="field:'code'">名称</th>
                                <th width="30%" data-options="field:'name'">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>同步电子结算及神农客户信息</td><td><a href="javascript:void(0);" onclick="loadCustomers();">同步</a></td>
                            </tr>
                            <tr>
                                <td>发送客户信息(Json)到MQ</td><td><a  href="javascript:void(0);" onclick="openInsert('customer');">发送</a></td>
                            </tr>
                            <tr>
                                <td>发送订单信息(Json)到MQ</td><td><a  href="javascript:void(0);" onclick="openInsert('order');">发送</a></td>
                            </tr>
                            <tr>
                                <td>发送品类信息(Json)到MQ</td><td><a  href="javascript:void(0);" onclick="openInsert('category');">发送</a></td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </td>
                    <td width="60%" style="height: 100%;vertical-align: top;">
                        <form id="_form" class="easyui-form" method="post" fit="true">
                            <input name="_customerId" id="_customerId" type="hidden">
                            <table width="90%">

                                <tr>
                                    <td style="padding:5px">
                                        <input class="easyui-textbox" name="_type" required id="_type" style="width:90%" data-options="label:'消息类型:',readonly:true, validType:'length[0,40]'" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:5px;">
                                        <input class="easyui-textbox" name="_json" id="_json" style="width:90%" required data-options="label:'消息内容:',multiline:true,height:400, validType:'length[0,2000]'" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px;">
                                        <a href="#" class="easyui-linkbutton" id="queryBtn" data-options="width:80" iconCls="icon-search"
                                           onclick="saveOrUpdate()">发送</a>
                                    </td>
                                </tr>

                            </table>
                        </form>
                    </td>
                </tr>
            </table>

       </div>
            
            

    </div>
    

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

    function loadCustomers(){
   
       
        var _url ="${contextPath}/adminManagement/loadCustomers";
        $.ajax({
            type: "POST",
            url: _url,
            data: {},
            processData:true,
            dataType: "json",
            async : true,
            success: function (data) {
                if(data.code=="200"){
                	  $.messager.alert('提示',data.result);
                }else{
                    $.messager.alert('错误',data.result);
                }
            },
            error: function(){
                $.messager.alert('错误','远程访问失败');
            }
        });
    }
    var categoryJson = '{\n' +
        '    "type": "json",\n' +
        '    "from": "settlement",\n' +
        '    "sendTime": "2018-03-28 17:02:03",\n' +
        '    "data": {\n' +
        '        "categoryId": "100",\n' +
        '        "parentCategoryId": "0",\n' +
        '        "sourceSystem": "settlement",\n' +
        '        "action": "add",\n' +
        '        "name": "sddss"\n' +
        '    }\n' +
        '}';

    var customerJson = '{\n' +
        '    "type": "json",\n' +
        '    "from": "settlement",\n' +
        '    "sendTime": "2018-03-28 17:02:03",\n' +
        '    "data": {\n' +
        '        "certificateType": "id",\n' +
        '        "certificateNumber": "5158554558554545245",\n' +
        '        "sourceSystem": "settlement",\n' +
        '        "organizationType": "individuals",\n' +
        '        "name": "sddss",\n' +
        '        "sex": "male",\n' +
        '        "phone": "179568755478",\n' +
        '        "created": "2018-03-25 17:25:36",\n' +
        '        "address": [\n' +
        '            "四川省成都市锦江区人民东路6号",\n' +
        '            "成都市人民北路8号"\n' +
        '        ],\n' +
        '        "extensions": [\n' +
        '            {\n' +
        '                "acctId": "1001",\n' +
        '                "notes": "卡号:10315265",\n' +
        '                "acctType": "masterCard"\n' +
        '            },\n' +
        '            {\n' +
        '                "acctId": "1001",\n' +
        '                "notes": "卡号:10315265",\n' +
        '                "acctType": "masterCard"\n' +
        '            }\n' +
        '        ]\n' +
        '    }\n' +
        '}';

    var orderJson = '{\n' +
        '    "type": "json",\n' +
        '    "from": "settlement",\n' +
        '    "sendTime": "2018-03-28 17:02:03",\n' +
        '    "data": [\n' +
        '        {\n' +
        '            "settlementCode": "100",\n' +
        '            "code": "10000",\n' +
        '            "sourceSystem": "settlement",\n' +
        '            "sellerCertificateNumber": "5155632244114",\n' +
        '            "sellerCardNo": "12151212",\n' +
        '            "buyerCertificateNumber": "1564131654132132123",\n' +
        '            "buyerCardNo": "179568755478",\n' +
        '            "created": "2018-03-25 17:25:36",\n' +
        '            "orderItems": [\n' +
        '                {\n' +
        '                    "categoryId": 12345,\n' +
        '                    "totalMoney": 150,\n' +
        '                    "weight": 13.2\n' +
        '                },\n' +
        '                {\n' +
        '                    "categoryId": 12345,\n' +
        '                    "totalMoney": 100,\n' +
        '                    "weight": 10.5\n' +
        '                }\n' +
        '            ],\n' +
        '            "market": "HD",\n' +
        '            "totalMoney": 150,\n' +
        '            "weight": 12.1,\n' +
        '            "payDate": "2018-03-28 17:25:32",\n' +
        '            "payment": 10,\n' +
        '            "businessType": 10\n' +
        '        }\n' +
        '    ]\n' +
        '}';
    //打开新增窗口
    function openInsert(type){
        $('#_type').textbox('initValue',type);
        switch (type){
            case 'customer':
                $('#_type').textbox('setText',"发送客户信息");
                $('#_json').textbox('setValue',customerJson);
                break;
            case 'order':
                $('#_type').textbox('setText',"发送订单信息");
                $('#_json').textbox('setValue',orderJson);
                break;
            case 'category':
                $('#_type').textbox('setText',"发送品类信息");
                $('#_json').textbox('setValue',categoryJson);
                break;
            default:break;
        }
        $('#sendCustomer').dialog('open');
        $('#sendCustomer').dialog('center');
        formFocus("_form", "_json");
    }
    
        function saveOrUpdate(){
            if(!$('#_form').form("validate")){
                return;
            }
            disableEasyUiControl('queryBtn',true);
            var _formData = removeKeyStartWith($("#_form").serializeObject(),"_");
            var _url ="${contextPath}/adminManagement/sendJsonToMQ";
            $.ajax({
                type: "POST",
                url: _url,
                data: _formData,
                processData:true,
                dataType: "json",
                async : true,
                success: function (data) {
                    disableEasyUiControl('queryBtn',false);
                    if(data.code=="200"){
                        $("#grid").datagrid("reload");
                        $('#dlg').dialog('close');
                    }else{
                        $.messager.alert('错误',data.result);
                    }

                },
                error: function(){
                    $.messager.alert('错误','远程访问失败');
                    disableEasyUiControl('queryBtn',false);
                }
            });
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $.messager.confirm('确认','您确认想要删除记录吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/customerPoints/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                                $('#dlg').dialog('close');
                            }else{
                                $.messager.alert('错误',data.result);
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败');
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/customerPoints/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }


    </script>
</#body>