 <#body>
 <#impEcharts/>
   
   
<div class="easyui-layout" style="margin-left: 0px;" fit="true">
 		<div region="north" style="width:100%;" minHeight="40" border="false">
 			 <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:10px;padding-top:10px;position:fixed;z-index:2008;width:100%;height:30px;background-color:white" align="left">
                <#nav/>
            </div>
 		</div>
        <div region="center"  minHeight="360" border="false" align="center">
           <div style="width:96%;height:100%" border="false">
           <div class="easyui-layout" fit="true">
	
			        <div region="west" height="auto" align="center" style="width:50%" border="false">
				        <div  class="easyui-panel"   style="height:100%;">
				   		        <div id="customerTypeChart" style="width:99.9%;height:50%;" ></div>
								<#echarts _id="customerTypeChart" _title="回访方式分布" _type="Pie"  _url="${contextPath}/chart/customerVisitModeChart" _nameField="mode" _options="{legend:{selectedMode:false}}"   _valueField="count"></#echarts>
						</div>
			        </div>
			        <div region="center"   height="auto">
				        <div  class="easyui-panel"   style="height:100%;" border="false"  align="center" >
				   		        <div id="customerProfessionChart" style="width:50%;height:50%;" ></div>
								<#echarts _id="customerProfessionChart" _title="回访状态分布"  _type="Pie"  _url="${contextPath}/chart/customerVisitStateChart" _nameField="state" _options="{legend:{selectedMode:false}}"   _valueField="count" ></#echarts>
						</div>
			        </div>
    			</div>
           </div>
                
        </div>
    </div>
    
    
    


    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

     
        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").treegrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        
        $(function () {
        	
        })
    </script>
</#body>