 <#body>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=<#config name='map.ak'/>"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/InfoBox/1.2/src/InfoBox_min.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="${contextPath}/resources/js/MarkerClusterer.min.js"></script>
<#impEcharts/>
 <div class="easyui-layout" style="margin-left: 0px;" fit="true">
 		<div region="north" style="width:100%;" minHeight="40" border="false">
 			 <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:10px;padding-top:10px;position:fixed;z-index:2008;width:100%;height:30px;background-color:white" align="left">
                <#nav/>
            </div>
 		</div>
        <div region="center" style="width:100%;" minHeight="360" border="false"  align="center">
            <div style="width:96%;height:100%" border="false"  align="center">
                <div class="easyui-layout" fit="true" style="width:96%;height:100%;padding:0px;"  align="center">
        
			        <!-- ====================================================================================================================== -->
			        <!-- 上方布局 -->
			        <!-- ====================================================================================================================== -->
			        <div region="north" align="center" style="height:50%" border="false">
			            <!-- =========================================================表单========================================================= -->
			            
			            <div class="easyui-layout" fit="true">
					        <div region="west" height="auto" align="center" style="width:50%">
						        <div  class="easyui-panel"  style="width:100%;height:100%;"  border="false">
						   		        <div id="customerTypeChart" style="width:98%;height:99.9%;" ></div>
										<#echarts _id="customerTypeChart" _title="客户类型分布" _type="Pie"  _url="${contextPath}/chart/customerTypeChart" _nameField="type" _options="{legend:{selectedMode:false}}"  _valueField="count"></#echarts>
								</div>
					        </div>
					        <div region="center" height="auto">
						        <div  class="easyui-panel"   style="width:100%;height:100%;"  border="false">
						   		        <div id="customerProfessionChart" style="width:98%;height:99.9%;" ></div>
										<#echarts _id="customerProfessionChart" _title="客户行业分布" _type="Pie"  _url="${contextPath}/chart/customerProfessionChart"
										 _nameField="profession" _options="{legend:{selectedMode:false}}"    _valueField="count" ></#echarts>
								</div>
					        </div>
					    </div>
			        </div>
			        <!-- ====================================================================================================================== -->
			        <!-- 中央布局 -->
			        <!-- ====================================================================================================================== -->
			        <div region="center"  height="auto" align="center"  style="width:100%;width:50%" border="false">
			        
			        
			        		<div class="easyui-layout" fit="true">
					        <div region="west" height="auto" align="center" style="width:50%">
						        <div  class="easyui-panel"  style="width:100%;height:100%;"  border="false">
									<div id="customerMarketChart" style="width:98%;height:99.9%; " ></div>
									<#echarts _id="customerMarketChart" _title="客户市场分布" _type="Pie"  _url="${contextPath}/chart/customerMarketChart.json" _nameField="market" _options="{legend:{selectedMode:false}}"   _valueField="count" ></#echarts>
								</div>
					        </div>
			
					        
					        <div region="center">
						        <div  class="easyui-panel"   style="width:100%;height:100%"  border="false">
						   		     <div id="locationHeader"  class="panel-title"  style="margin: 0;line-height: 28px; background:#fff;border:none;text-align: center;font-size: 18px;height:30px;">
									  <span id="locationTitle">客户地区分布</span>
									</div>
									<div  class="easyui-panel"   style="width:100%;height:88%;position:absolute;left;0;bottom:0;"  border="false">
							   		      <div id="customerChartMapDiv" style="width:100%;border:none;height:100%"></div>
									</div>
								</div>
								
					        </div>
					    </div>
					    
					    
					    
					   
			        </div>

    		   </div>
           
            </div>
        </div>
    </div>
    
    
   


    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">


        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").treegrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        
        $(function () {
        	// ============================  地图相关js  ============================
               // 百度地图API功能
               var map = new BMap.Map("customerChartMapDiv");
               //哈尔滨
               var lat = 45.709509;
               var lng = 126.608858;
               map.centerAndZoom(new BMap.Point(lng,lat), 6);
               map.enableScrollWheelZoom();
               var MAX = 100;
               var markers = [];
               var myIcon = new BMap.Icon("${contextPath}/resources/images/icon/pos-icon.png", new BMap.Size(23, 25), {
                   // 指定定位位置。
                   // 当标注显示在地图上时，其所指向的地理位置距离图标左上
                   // 角各偏移7像素和20像素。
                   anchor: new BMap.Size(7, 20)
               });
               map.addEventListener("click", function(e){
            	   window.location.href="${contextPath}/customer/locations.html";
               });
               //所有客户地址信息
               var customerAddresses = ${customerAddress};
               for (var i = 0; i < customerAddresses.length; i++) {
                   var customerAddress = customerAddresses[i];
                   var pt = new BMap.Point(customerAddress.lng,customerAddress.lat);
                   var marker = new BMap.Marker(pt, {icon: myIcon});
                   //绑定自定义属性
                   marker.meta={id:customerAddress.id, name:customerAddress.name};
                   map.addOverlay(marker);
                   //标签显示在图标下方
                   var label = new window.BMap.Label(customerAddress.name, { offset: new window.BMap.Size(-10, 25) });
                   label.setStyle({border:'0px',background: "transparent none repeat"});
                   marker.setLabel(label);
                   //鼠标悬停时显示
                   marker.setTitle(marker.meta.name);
                   marker.addEventListener("click", function(e){
                       //第三方InfoBox
                       if (infoBoxTemp) {
                           infoBoxTemp.close();
                       }
                       var content = [
                           '<iframe scrolling="auto" frameborder="0" src="'
                           ,'http://crmweb.diligrp.com:8085/customer/info.html?id='+this.meta.id
                           ,'" onLoad="" style="width:100%; height: 99.2%;"></iframe>'
                       ];
                       var infoBox = new BMapLib.InfoBox(map, content.join(""), {
                           boxStyle:{
                               background: "white none repeat scroll 0% 0%",
                       		border:"1px solid #118bde",
                               // background:"url('${contextPath}/resources/images/bg.png') no-repeat center top",
                               width: "480px"
                               ,height: "140px"
                           }
                           ,closeIconMargin: "1px 1px 0 0"
                           ,offset: new BMap.Size(0, 18)
                           ,closeIconUrl:"${contextPath}/resources/images/close24.png"
                           ,enableAutoPan: true
                           ,align: INFOBOX_AT_TOP
                       });
                       infoBoxTemp = infoBox;
                       infoBox.open(this);
                   });
                   markers.push(marker);
               }
               //最简单的用法，生成一个marker数组，然后调用markerClusterer类即可。
               var markerClusterer = new BMapLib.MarkerClusterer(map, {markers:markers});
           })
    </script>
</#body>