 <#body>
 <#impEcharts/>
 <div class="easyui-layout" style="margin-left: 0px;" fit="true">
 		<div region="north" style="width:100%;" minHeight="40" border="false">
 			 <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:10px;padding-top:10px;position:fixed;z-index:2008;width:100%;height:30px;background-color:white" align="left">
                <#nav/>
            </div>
 		</div>
        <div region="center" style="width:100%;" minHeight="360" border="false">
            <div style="width:100%;height:100%" border="false">
                <div class="easyui-layout" fit="true" style="width:100%;height:100%;padding:0px;">
        
			        <!-- ====================================================================================================================== -->
			        <!-- 上方布局 -->
			        <!-- ====================================================================================================================== -->
			        <div region="north" height="auto" align="center" style="height:50%" border="false">
			            <!-- =========================================================表单========================================================= -->
			            
			            <div class="easyui-layout" fit="true">
					        <div region="west" height="auto" align="center" style="width:50%">
						        <div  class="easyui-panel"  style="width:100%;height:100%;">
						   		        <div id="customerTypeChart" style="width:98%;height:99.9%;" ></div>
										<#echarts _id="customerTypeChart" _title="客户类型分布" _type="Pie"  _url="${contextPath}/chart/customerTypeChart" _nameField="type" _options="{legend:{selectedMode:false}}"  _valueField="count"></#echarts>
								</div>
					        </div>
					        <div region="center" height="auto">
						        <div  class="easyui-panel"   style="width:100%;height:100%;">
						   		        <div id="customerProfessionChart" style="width:98%;height:99.9%;" ></div>
										<#echarts _id="customerProfessionChart" _title="客户行业分布" _type="Pie"  _url="${contextPath}/chart/customerProfessionChart"
										 _nameField="profession" _options="{legend:{selectedMode:false}}"    _valueField="count" ></#echarts>
								</div>
					        </div>
					    </div>
			        </div>
			        <!-- ====================================================================================================================== -->
			        <!-- 中央布局 -->
			        <!-- ====================================================================================================================== -->
			        <div region="center"  height="auto" align="center"  style="width:100%;width:100%" border="false">
			        	<div  class="easyui-panel"   style="width:100%;height:100%;">
				   		        <div id="customerMarketChart" style="width:98%;height:99.9%;" ></div>
								<#echarts _id="customerMarketChart" _title="客户市场分布" _type="Pie"  _url="${contextPath}/chart/customerMarketChart.json" _nameField="market" _options="{legend:{selectedMode:false}}"   _valueField="count" ></#echarts>
						</div>
			        </div>
			        
			        <div region="east" height="auto" align="center" style="width:50%;border:0px;">
			        </div>
    		   </div>
           
            </div>
        </div>
    </div>
    
    
   


    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

     
        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").treegrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        
        $(function () {
        	
        })
    </script>
</#body>