 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" style="border: none">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:99%;border: 0px;" align="left">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="name" id="name" style="width:100%" labelAlign="right" data-options="label:'客户名称:', validType:'length[0,40]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="certificateNumber" id="certificateNumber" style="width:100%" labelAlign="right" data-options="label:'证件号:', validType:'length[0,40]'" />

                            </td>
                            <td style="padding:5px;">
                                    <input name="organizationType" id="organizationType" style="width:100%;" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" label="组织类型:"/>
                                    <#comboProvider _id="organizationType" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"5"}'/>

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="category1Id" id="category1Id" style="width:100%" labelAlign="right" data-options="label:'一级品类:', validType:'length[0,20]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="category2Id" id="category2Id" style="width:100%" labelAlign="right" data-options="label:'二级品类:', validType:'length[0,19]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="category3Id" id="category3Id" style="width:100%" labelAlign="right" data-options="label:'三级品类:', validType:'length[0,19]'" />

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" height="auto" align="center" border="false">
            <!-- =========================================================表格========================================================= -->
            <div class="easyui-panel" align="center" style="width:96%;height:100%;" border="true">
            <table class="easyui-datagrid" title="CustomerCategoryPoints列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="name"
                   align="center" fit="true" striped="true" idField="id" data-options="onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th data-options="field:'name', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户名称
                        </th>
                        <th data-options="field:'organizationType', width:'10%', _provider:'dataDictionaryValueProvider',_queryParams:{'dd_id':'5'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            组织类型
                        </th>
                        <th data-options="field:'certificateType', width:'10%', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_id':'3'},sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件类型
                        </th>
                        <th data-options="field:'certificateNumber', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件号
                        </th>
                        <th data-options="field:'category1Name',  width:'10%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            一级品类
                        </th>
                        <th data-options="field:'category2Name',  width:'10%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            二级品类
                        </th>
                        <th data-options="field:'category3Name', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            三级品类
                        </th>
                        <th data-options="field:'available', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            可用积分
                        </th>
                        <th data-options="field:'buyerPoints', width:'10%',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            采购积分
                        </th>
                        <th data-options="field:'sellerPoints',  width:'10%', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            销售积分
                        </th>
                    </tr>
                </thead>
            </table>
            </div>

        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/customerCategoryPoints/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            checkCategory('category1Id');
            checkCategory('category2Id');
            checkCategory('category3Id');

            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }

        /**
         * 检查品类
         */
        function checkCategory(id){
            var text = $('#' + id).combobox('getText');
            var value = $('#' + id).combobox('getValue');
            // 如果输入框有文本 但是没有值 说明是自己输入的 id重置为-1
            if (!isRealNum(value) && text != '' || isRealNum(text)) {
                $('#' + id).combobox('setValue', -1);
                $('#' + id).combobox('setText', text);
            }
        }
        function isRealNum(val){
            // isNaN()函数 把空串 空格 以及NUll 按照0来处理 所以先去除
            if(val === "" || val ==null){
                return false;
            }
            if(!isNaN(val)){
                return true;
            }else{
                return false;
            }
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
            resetCategory();
            queryGrid();
        }

        function resetCategory() {
            var resetUrl = '${contextPath}/category/list?parentCategoryId=-1';
            $('#category2Id').combobox('reload', resetUrl);
            $('#category2Id').combobox('clear');
            $('#category3Id').combobox('reload', resetUrl);
            $('#category3Id').combobox('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){

                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {

            $('#category1Id').combobox({
                url:'${contextPath}/category/list?parentCategoryId=0',
                valueField:'categoryId',
                textField:'name',
                onSelect:function(record){
                    resetCategory();
                    $('#category2Id').combobox({
                        url:'${contextPath}/category/list?parentCategoryId=' + record.categoryId,
                        valueField:'categoryId',
                        textField:'name',
                        onSelect:function(record){
                            $('#category3Id').combobox({
                                url:'${contextPath}/category/list?parentCategoryId=' + record.categoryId,
                                valueField:'categoryId',
                                textField:'name',
                                onSelect:function(record){
                                    console.log(record.categoryId);
                                }
                            });
                        }
                    });
                }
            });

            bindFormEvent("form", "name", queryGrid);
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    <#resource code="exportCategoryPoints">
                        {
                            iconCls:'icon-export',
                            text:'导出',
                            handler:function(){
                                doExport('grid');
                            }
                        }
                    </#resource>

                        ]
                })
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>