<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    模板变量table信息参见:org.mybatis.generator.api.IntrospectedTable<br/>
    类名首字母小写:menu<br/>
    类名:Menu<br/>
    表名:menu<br/>
    表注释:<br/>
    实体对象名:Menu<br/>
    列信息:<br/>
    获取指定id列JDBC类型:BIGINT<br/>
    所有列:
        actualColumnName:String:id,
        javaProperty:String:id,
        defaultValue:String:,
        remarks:String:主键,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:true,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:parent_id,
        javaProperty:String:parentId,
        defaultValue:String:,
        remarks:String:父级id,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:sort,
        javaProperty:String:sort,
        defaultValue:String:,
        remarks:String:菜单排序,
        length:int:10,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:is_root,
        javaProperty:String:isRoot,
        defaultValue:String:,
        remarks:String:是否为根节点,
        length:int:10,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:menu_url,
        javaProperty:String:menuUrl,
        defaultValue:String:,
        remarks:String:菜单url,
        length:int:255,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:label,
        javaProperty:String:label,
        defaultValue:String:,
        remarks:String:菜单名字,
        length:int:255,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:description,
        javaProperty:String:description,
        defaultValue:String:,
        remarks:String:菜单描述,
        length:int:255,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:VARCHAR,
        scale:int:0,
        jdbcTypeName:String:VARCHAR,
        jdbcType:int:12:VARCHAR
        ===========================================================================
        actualColumnName:String:target,
        javaProperty:String:target,
        defaultValue:String:,
        remarks:String:打开链接的位置，0表示当前窗口，1表示新开窗口,
        length:int:10,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:navbar_id,
        javaProperty:String:navbarId,
        defaultValue:String:0,
        remarks:String:外键,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
        actualColumnName:String:created,
        javaProperty:String:created,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:创建时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:modified,
        javaProperty:String:modified,
        defaultValue:String:CURRENT_TIMESTAMP,
        remarks:String:修改时间,
        length:int:19,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TIMESTAMP,
        scale:int:0,
        jdbcTypeName:String:TIMESTAMP,
        jdbcType:int:93:TIMESTAMP
        ===========================================================================
        actualColumnName:String:yn,
        javaProperty:String:yn,
        defaultValue:String:1,
        remarks:String:1表示有效，2表示无效,
        length:int:3,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:TINYINT,
        scale:int:0,
        jdbcTypeName:String:TINYINT,
        jdbcType:int:-6:TINYINT
        ===========================================================================
        actualColumnName:String:type,
        javaProperty:String:type,
        defaultValue:String:0,
        remarks:String:类型, 0目录, 1连接,
        length:int:10,
        nullable:boolean:false,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:INTEGER,
        scale:int:0,
        jdbcTypeName:String:INTEGER,
        jdbcType:int:4:INTEGER
        ===========================================================================
        actualColumnName:String:resource_id,
        javaProperty:String:resourceId,
        defaultValue:String:,
        remarks:String:,
        length:int:19,
        nullable:boolean:true,
        identity:boolean:false,
        tableAlias:String:,
        jdbcTypeName:String:BIGINT,
        scale:int:0,
        jdbcTypeName:String:BIGINT,
        jdbcType:int:-5:BIGINT
        ===========================================================================
</body>
</html>