<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<!-- <div region="north" height="auto" align="center">
		=========================================================表单=========================================================
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<table style="padding: 10px;">
					<tr>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="ddId" id="ddId" style="width: 100%" data-options="label:'ddId:', validType:'length[0,19]'" /></td>
						<td style="padding: 5px;"><input class="easyui-numberbox" name="sort" id="sort" style="width: 100%" data-options="label:'sort:', validType:'length[0,10]'" /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="code" id="code" style="width: 100%" data-options="label:'code:', validType:'length[0,255]'" /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="value" id="value" style="width: 100%" data-options="label:'value:', validType:'length[0,30]'" /></td>
						<td style="padding: 5px;"><input class="easyui-textbox" name="remark" id="remark" style="width: 100%" data-options="label:'remark:', validType:'length[0,1000]'" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-datetimebox" name="periodBegin" id="periodBegin" style="width: 100%" data-options="label:'periodBegin:'" /></td>
						<td style="padding: 5px;"><input class="easyui-datetimebox" name="periodEnd" id="periodEnd" style="width: 100%" data-options="label:'periodEnd:'" /></td>
						<td style="padding: 5px;"><input class="easyui-datetimebox" name="created" id="created" style="width: 100%" data-options="label:'created:'" /></td>
						<td style="padding: 5px;"><input class="easyui-datetimebox" name="modified" id="modified" style="width: 100%" data-options="label:'modified:'" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryDdValueGrid()">查询</a> <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div> -->
	<div region="west" style="width: 20%;" height="auto">
		<div id="p" class="easyui-panel" style="width: 100%;" data-options="iconCls:'icon-save'">
			<ul id="ddValueTree" class="easyui-tree" url="${contextPath}/dataDictionaryValue/listTree.json" lines="true"
				data-options="onClick:queryDdValueGrid, loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parentId',onLoadSuccess:onTreeLoadSuccess,queryParams:{ddId:${ddId!}}" />
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 80%;" height="auto">
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-datagrid" id="ddValueGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="both" rownumbers="true" remoteSort="false" loadMsg="数据加载中..."
			singleSelect="true" method="post" align="center" fit="true" toolbar="#ddValueToolbar" idField="id"
			data-options="onDblClickRow:openUpdateDdValue,onBeginEdit:onBeginEditDdValue,onAfterEdit:onAfterEditDdValue,
				onCancelEdit:onCancelEditDdValue">
			<thead>
				<tr>
					<th data-options="field:'ddId',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',hidden:true"></th>
					<th data-options="field:'code',width:'10%',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">编码</th>
					<th data-options="field:'value',width:'10%',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
							editor:{type : 'textbox',options : {required : true}}">值</th>
					<th data-options="field:'notes',width:'40%',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'textbox',options : {required : true}}">备注</th>
					<th
						data-options="field:'periodBegin',width:'20%',_provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type:'datetimebox',options:{editable:false}}">生效时间</th>
					<th
						data-options="field:'periodEnd',width:'20%',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type:'datetimebox',options:{editable:false}}">失效时间</th>
					<th data-options="field:'opt',title:'操作',width:'20%',hidden : true,formatter:formatOpsDdValue"></th>
				</tr>
			</thead>
		</table>
		<!-- datagrid工具栏 -->
		<div id="ddValueToolbar" style="padding: 2px 5px;">
			<a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsertDdValue()" plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdateDdValue()"
				plain="true"></a> <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="delDdValue()" plain="true"></a>
		</div>
	</div>
</div>
<script type="text/javascript">
	<#dataDictionaryValue_listJs/>
</script>