<#body>
<link rel="stylesheet" href="${contextPath}/resources/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css" />
<script type="text/javascript" src="${contextPath}/resources/ztree/js/jquery.ztree.all.min.js"></script>
<div id="win" style="display: none;"></div>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center"  border="false">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width:100%; border: hidden;" align="left" >
			<form id="form" class="easyui-form" method="post" fit="true">
				<div style="padding: 10px; float: left;">
					<table>
						<tr>
							<td style="padding: 5px;"><input class="easyui-textbox" name="roleName" id="roleName" style="width: 100%" data-options="labelAlign:'right',label:'角色名:', validType:'length[0,255]'" /></td>
							<td style="padding: 5px;"><input class="easyui-textbox" name="description" id="description" style="width: 100%" data-options="labelAlign:'right',label:'角色描述:', validType:'length[0,255]'" /></td>
							<td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">&nbsp;&nbsp;
                              	<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>&nbsp;&nbsp;
					 			<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear"  onclick="$('#form').form('clear');">清除</a>
                            </td>
						</tr>
					</table>
				</div>

			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto"  align="center" border="false">
		<div class="easyui-panel" align="center" style="width:96%;height:100%;" border="false">
			<!-- =========================================================表格========================================================= -->
			<table class="easyui-datagrid" title="角色列表" noheader="true" id="roleGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false"
				loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true" sortName="id" align="center" fit="true" striped="true"  idField="id"
				data-options="onBeforeEdit:onBeforeEdit, onAfterEdit:onAfterEdit, onCancelEdit:onCancelEdit, onHeaderContextMenu:headerContextMenu, onDblClickRow:onDblClickRow">
				<thead>
					<tr>
						<th width="10%" data-options="field:'id',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">角色编号</th>
						<th width="20%" data-options="field:'roleName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
	                         editor:{type:'textbox',options:{required:true}}">
							角色名</th>
						<th width="21%" data-options="field:'description',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
	                         editor:{type:'textbox',options:{required:true}}">
							角色描述</th>
						<th width="15%" data-options="field:'created',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">创建时间</th>
						<th width="15%" data-options="field:'modified',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">修改时间</th>
						<th width="20%" data-options="field:'options', formatter:roleGridFormatter, align:'center', resizable:'true', fixed:'false'">操作</th>
					</tr>
				</thead>
			</table>
		</div>
	

	</div>
</div>

<!-- 隐藏编辑框 -->
<div id="userListDlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="角色的用户列表" style="padding: 5px; height: 300px; width: 500px;" modal="true"
	border="thin" closed="true" data-options="
				buttons: []
			">
	<table class="easyui-datagrid" id="userListGrid" rownumbers="false" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true" sortName="serialNumber" align="center"
		fit="true" striped="true" idField="id" width="99%">
		<thead>
			<tr>
				<th width="20%" data-options="field:'serialNumber',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户编号</th>
				<th width="30%" data-options="field:'userName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">用户名</th>
				<th width="30%" data-options="field:'realName',   sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">真实姓名</th>
				<th width="21%" data-options="field:'options', formatter:userListGridFormatter, align:'center', resizable:'true', fixed:'false'">操作</th>
			</tr>
		</thead>
	</table>

</div>
<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
<script type="text/javascript">
	var dataAuth = {
		removeRole : <%if(hasResource('removeRole')){%>true<%}else{%>false<%}%>,
		addRole : <%if(hasResource('addRole')){%>true<%}else{%>false<%}%>,
		editRole : <%if(hasResource('editRole')){%>true<%}else{%>false<%}%>,
		saveRole : <%if(hasResource('saveRole')){%>true<%}else{%>false<%}%>,
		cancelSaveRole : <%if(hasResource('cancelSaveRole')){%>true<%}else{%>false<%}%>,
		viewRoleUserList : <%if(hasResource('viewRoleUserList')){%>true<%}else{%>false<%}%>,
		unBindRoleUser : <%if(hasResource('unBindRoleUser')){%>true<%}else{%>false<%}%>,
		viewRoleAuth : <%if(hasResource('viewRoleAuth')){%>true<%}else{%>false<%}%>
	};

	function userListGridFormatter(value, row, index) {
		return '<#resource code="unBindRoleUser">'
				+ getHyperlinkContext('解除绑定', 'unbindRoleUser', row.id)
				+ '</#resource>'
	}

	// 每一行的操作
	function roleGridFormatter(value, row, index) {
		if (row.editing) {
			return '<#resource code="saveRole">'
					+ getHyperlinkContext('保存', 'onSaveClicked', row.id)
					+ '</#resource>' + '<#resource code="cancelSaveRole">'
					+ getHyperlinkContext('取消', 'onCancelClicked', row.id)
					+ '</#resource>';
		} else {
			return '<#resource code="viewRoleAuth">'
					+ getHyperlinkContext('权限', 'editRoleMenuAndResource',
							row.id) + '</#resource>'
					+ '<#resource code="viewRoleUserList">'
					+ getHyperlinkContext('用户列表', 'onUserListClicked', row.id)
					+ '</#resource>';
		}
	}



	 $(function () {
	        bindFormEvent("form", "customerId", queryGrid);
//	        if (document.addEventListener) {
//	            document.addEventListener("keyup",getKey,false);
//	        } else if (document.attachEvent) {
//	            document.attachEvent("onkeyup",getKey);
//	        } else {
//	            document.onkeyup = getKey;
//	        }
	        var pager = $('#roleGrid').datagrid('getPager');    // get the pager of treegrid
	        pager.pagination({
	        	<#controls_paginationOpts/>
	            ,buttons:[
	            	  <%if(hasResource("addRole")) {%>
	                {
	                    iconCls:'icon-add',
	                    text:'新增',
	                    handler:function(){
	                    	onAddClicked();
	                    }
	                },
	                <%}%>
	            <%if(hasResource("editRole")) {%>
	                  {
	                     iconCls:'icon-edit',
	                     text:'修改',
	                     handler:function(){
	                    	 onEditClicked();
	                     }
	                  },
	             <%}%>
	             <%if(hasResource("removeRole")) {%>
	             {
	                iconCls:'icon-remove',
	                text:'删除',
	                handler:function(){
	                	onRemoveClicked();
	                }
	             },
	        	<%}%>

	                {
	                    iconCls:'icon-export',
	                    text:'导出',
	                        handler:function(){
	                        doExport('roleGrid');
	                    }
	                 }
	            ]
	        });
	        //表格仅显示下边框
	        $('#roleGrid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
	    })
</script>
<script type="text/javascript">
	<#role_indexJs />
</script> </#body>