body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #bbb;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
}

body {
    min-width: 1200px;
    background: #000 url('../images/bg.png') no-repeat top center;
    font: 14px/1.5 "Microsoft YaHei", "Helvetica", "Tahoma", "Arial", "STXihei", "SimSun", "sans-serif";
}
/*input.background:none;IE6*/

input,
select,
textarea {
    outline: none;
    border: none;
    background: none;
}

textarea {
    resize: none;
}

img {
    border: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

i,
span,
em,
strong,
img,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
}

input {
    outline: none;
}

.login {
    position: absolute;
    left: 50%;
    top:50%;
    width: 387px;
    margin-left: -196px;
    margin-top:-230px;
    background-color: #fff;
    /*margin: 150px auto 0;*/
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
}

.login h2 {
    width: 100%;
    height: 155px;
    background-color: #fff;
    color: #fff;
    background: url('../images/login-title.png') no-repeat top left;
    text-indent: -9999px;

}

.userinfo {
    width: 264px;
    margin: 34px auto 20px;
}

.userinfo td {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666;
}

.userinfo input {
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    /*border: none;*/
    border-bottom: 1px solid #bbb;
    line-height: 40px;
    font-size: 16px;
    color: #666;
    text-indent: 10px;
}

.userinfo input[type=text],
.userinfo input[type=password] {
    width: 200px
}

.userinfo input:focus {
    border-color: #118bde;
}

.userinfo tr:last-child td {
    margin-top: 40px;
}

.userinfo .submit {
    width: 194px;
    text-align: center;
    margin-left: 34px;
    background-color: #1D90F0;
    border-radius: 20px;
    border-color: #1D90F0;
    color: #fff;
    font-size: 16px;
    text-indent: 0;
    cursor: pointer;
}

.userinfo .submit:hover {
    background-color: #2B9EFF;
}

.error-message {
    margin: 4px 0 0 0;
    padding: 0;
    color: red;
}
.login-icon{
    background: darkseagreen;
    text-indent: -9999px;
}
.login-user-icon{
    background: url('../images/login-user.png') no-repeat left center ;
}
.login-password-icon{
    background: url('../images/login-password.png') no-repeat left center ;
}