/*
* @Author: Teaism
* @Date:   2017-12-06 18:54:20
* @Last Modified by:   Teaism
* @Last Modified time: 2017-12-14 16:56:13
*/

#main {
    height: auto;
}
.ivu-table-wrapper {
    margin-top: -27px;
    margin-bottom: 0;
    border: none;
}
.ivu-table {
    font-size: 15px;
}
.ivu-table:before,
.ivu-table:after {
    width: 0;
    height: 0;
    background: #fff;
}
.ivu-table th {
    background: none;
    border: none;
    height: 22px;
}
.ivu-table td {
    border-bottom: 1px dashed #ddd;
    height: 42px;
    line-height: 42px;
}
.ivu-table-header table tr:first-child th {
    color: #bbb;
}


.ivu-table-stripe .ivu-table-body tr.ivu-table-row-hover td,.ivu-table-stripe .ivu-table-fixed-body tr.ivu-table-row-hover td,tr.ivu-table-row-hover td {
    background-color: #fff;
}

colgroup col:first-child {
    width: 100px;
}
colgroup col:last-child {
    width: 180px;
}
.ivu-table-cell {
    padding-left: 6px;
    padding-right: 6px;
}