<div style="margin: 5px 5px;">
	真实姓名: <input id="searchTextbox" class="easyui-textbox" data-options="buttonText:'查询',buttonIcon:'icon-search',onClickButton:search" style="width: 300px">
</div>
<table class="easyui-datagrid" id="smGridList" sortName="userName" sortOrder="asc" fitColumns="true" remoteSort="false" loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="true"
	align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:dbClickMembers">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true"></th>
			<th data-options="field:'userName',width:'25%'">用户名</th>
			<th data-options="field:'realName',width:'25%'">真实姓名</th>
			<th data-options="field:'cellPhone',width:'25%'">手机号</th>
			<th data-options="field:'email',width:'25%'">邮箱</th>
		</tr>
	</thead>
</table>

<script type="text/javascript">
	function dbClickMembers(index, row){
        confirmMembersBtn("${textboxId}");
	}
	function search() {
		var opts = $("#smGridList").datagrid("options");
		opts.url = '${contextPath!}/member/members';
		var param = $('#searchTextbox').textbox('getText');
		$('#smGridList').datagrid('load', {
			realName : param
		});
	}

    $(function () {
    	$('#searchTextbox').textbox('addClearBtn', 'icon-clear');
    })
</script>