<#body>

    <style>
        input{height: 18px;}

        /*回访进度条*/
        #stateDiv {
            width: 100%;
            padding: 0;
        }
        #stateDiv .step {
            display: inline-block;
            width: 32%;
            height:36px;
            line-height: 36px;
        }
        #stateDiv .step.cur {
            color: #fff;
        }

        #stateDiv .step:first-child {
            background: url(${contextPath}/resources/images/visitCus/step1.png) no-repeat left center;
            background-size: 100%;
        }
        #stateDiv .step:first-child.cur {
            background: url(${contextPath}/resources/images/visitCus/step1-hv.png) no-repeat left center;
            background-size: 100%;
        }
        #stateDiv .step:nth-child(2) {
            background: url(${contextPath}/resources/images/visitCus/step2.png) no-repeat left center;
            background-size: 100%;
        }
        #stateDiv .step:nth-child(2).cur {
            background: url(${contextPath}/resources/images/visitCus/step2-hv.png) no-repeat left center;
            background-size: 100%;
        }
        #stateDiv .step:last-child {
            background: url(${contextPath}/resources/images/visitCus/step3.png) no-repeat left center;
            background-size: 100%;
        }
        #stateDiv .step:last-child.cur {
            background: url(${contextPath}/resources/images/visitCus/step3-hv.png) no-repeat left center;
            background-size: 100%;

        }

    </style>
    <div class="easyui-layout"  fit="true">
        <div region="center" style="width:100%;" minHeight="360" align="center" border="false">
            <!-- 上方导航栏 (锁定不滚动) -->
            <div id="nav" style="padding-left:10px;padding-top:10px;position:fixed;z-index:2008;width:99%;height:30px;background-color:white" align="left">
                <#nav/>
                <div style="display: inline;float:right;padding-right: 40px;">
                    <%if (hasResource("editVisit") && has(edit)){%>
                        <a id="editBtn" href="#" class="easyui-linkbutton" iconCls="icon-edit" data-options="width:80" onclick="toEdit()">编辑</a>&nbsp;&nbsp;
                    <%}%>
                    <a id="cancelBtn" href="#" class="easyui-linkbutton" iconCls="icon-cancel" data-options="width:80" onclick="doBack()">取消</a>
                </div>
            </div>
            <div align="center" style="margin-top:50px">
                <ul id="stateDiv" style="width:99%;display: none;">
                    <li id="step1" class="step">新建回访</li>
                    <li id="step2" class="step">进行中</li>
                    <li id="step3" class="step">已完成</li>
                </ul>
                <div  class="easyui-panel" style="width: 96%;" title="回访信息" border="false" >
                    <form id="_form" class="easyui-form" method="post" fit="true">
                        <input name="_id" id="_id" type="hidden">
                        <table width="96%" align="center">
                            <tr>
                                <td style="padding-top:10px;" width="33%">
                                    <input class="easyui-textbox" name="_code" id="_code" style="width:80%"  data-options="labelAlign:'right',label:'回访编号:',cls:'noborder',readonly:true, editable:false" />
                                </td>
                                <td style="padding-top:10px;"  width="33%">
                                    <input class="easyui-textbox" name="_subject" id="_subject" style="width: 80%;" data-options="labelAlign:'right',cls:'noborder', readonly:true, editable:false,label:'主题:', validType:'length[0,40]'"  />
                                </td>
                                <td style="padding-top:10px;padding-left:10px;" width="33%">
                                    <input class="easyui-textbox" name="customerId" id="customerId" panelWidth="auto" panelHeight="auto" label="回访客户:" style="width: 80%;"
                                           data-options="labelAlign:'right',cls:'noborder', readonly:true, editable:false" />
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:10px;">
                                    <input class="easyui-combobox inputWidth" name="_firmCode" id="_firmCode" data-options="labelAlign:'right', editable:false,cls:'noborder', readonly:true,hasDownArrow:false" panelWidth="auto" panelHeight="auto" label="所属市场:" />
                                    <#comboProvider _id="_firmCode" _provider='firmProvider' />
                                </td>
                                <td style="padding-top:10px;">
                                    <input class="easyui-textbox" name="userId" id="userId" panelWidth="auto" panelHeight="auto" label="回访人:" style="width: 80%;"
                                           data-options="labelAlign:'right',cls:'noborder', readonly:true, editable:false, hasDownArrow:false" />
                                </td>
                                <td style="padding-top:10px;padding-left:10px;">
                                    <input name="_mode" class="easyui-combobox" id="_mode" style="width:80%;" panelWidth="auto" panelHeight="auto" label="回访方式:" data-options="labelAlign:'right',cls:'noborder', readonly:true, editable:false, hasDownArrow:false"/>
                                    <#comboProvider _id="_mode" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"visit_mode"}'/>
                                </td>

                            </tr>
                            <tr>
                                <td style="padding-top:10px;">
                                    <input class="easyui-combobox" name="_priority" id="_priority" style="width:80%;" data-options="labelAlign:'right',cls:'noborder', readonly:true, editable:false, hasDownArrow:false" panelWidth="auto" panelHeight="auto" label="优先级:" />
                                    <#comboProvider _id="_priority" _provider='dataDictionaryValueProvider' _queryParams='{dd_code:"priority"}'/>
                                </td>
                                <td style="padding-top:10px;">
                                    <input class="easyui-datetimebox" name="_finishTime" id="_finishTime" style="width:80%" data-options="labelAlign:'right',label:'完成时间:',cls:'noborder', readonly:true, editable:false, hasDownArrow:false"/>
                                </td>
                                <td style="padding-top:10px;padding-left:10px;" width="33%">
                                    <input class="easyui-textbox" name="_createdName" id="_createdName" style="width: 80%;" data-options="labelAlign:'right',cls:'noborder', readonly:true, label:'回访创建者:'"  editable="true"/>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="padding-top:10px;" colspan="2">
                                    <input class="easyui-textbox" name="_notes" id="_notes" style="width:90%" multiline="true" data-options="labelAlign:'right',cls:'noborder',label:'描述:',readonly:true, editable:false" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <p />
            <!--------------------事件信息------------------------>
            <div id="eventDiv" class="easyui-panel" style="width: 94%;display: none;" header="#eventHeader" border="false">
                <#controls_panelHeader panelId="eventDiv" headerId="eventHeader" title="事件"></#controls_panelHeader>
                <!-- =========================================================事件表格========================================================= -->
                <table class="easyui-datagrid" id="eventGrid" style="height:auto;width: 100%;" collapsible="true"
                       pagination="false" rownumbers="false" remoteSort="false"
                       loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false"
                       align="left"  striped="false" idField="id" >
                    <thead>
                    <tr>
                        <th width="20%" data-options="field:'time', _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            时间
                        </th>
                        <th width="10%" data-options="field:'mode', _provider:'dataDictionaryValueProvider',_queryParams:{'dd_code':'visit_mode'},sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            方式
                        </th>
                        <th width="15%" data-options="field:'userId', _provider:'ownerProvider', sortable:'false', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            处理人
                        </th>
                        <th width="56%" data-options="field:'notes', sortable:'false', order:'asc', align:'center', resizable:'true', fixed:'false'">
                            事件描述
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        /**
         * 打开编辑回访窗口
         */
        function toEdit(){
            var visitId = $("#_id").val();
            window.location.href="${contextPath}/customerVisit/edit.html?id="+visitId;
        }


        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            <%if (has(customerVisit)){%>
                var selected = ${customerVisit};
                $('#_form').form('clear');
                var formData = $.extend({},selected);
                //设置客户所有者(这里表格中的提供者已经作了转义,只需要对应上字段即可)
                formData["createdName"] = selected["createdId"];
                formData = addKeyStartWith(getOriginalData(formData),"_");
                $('#_form').form('load', formData);
                $("#customerId").textbox("initValue", selected["customerId"]);
                $("#userId").textbox("initValue", selected["$_userId"]);
                $("#userId").textbox("setText", selected["userId"]);
                $("#eventDiv").show();
                $("#stateDiv").show();  //状态div
                $('#step'+selected["$_state"]).addClass("cur");
                listEvents();
            <%}%>

        });



        /**
         * 加载事件信息列表
         */
        function listEvents(){
            var opts = $("#eventGrid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/visitEvent/listPage.action";
            }
            //设置当前选择的回访id
            var visitId = $("#_id").val();
            if (typeof(visitId)=="undefined" || null == visitId || ""==visitId){
                $.messager.alert('错误','回访ID丢失，请返回列表后，重新操作！','error');
                return;
            }
            var param = bindMetadata("eventGrid", true);
            $.extend(param, {"customerVisitId":visitId});
            $("#eventGrid").datagrid("load", param);
        }

        /**
         * 返回按钮事件
         */
        function doBack() {
            window.location.href="${contextPath}/customerVisit/index.html";
        }
    </script>
</#body>