 <#body>
     <script>
         <#controls_user dlgId="userSelectDialog" controlId="userId"/>
         <#controls_customer dlgId="customerSelectDialog" controlId="customerId"/>
     </script>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%; border: hidden;" align="left" border="false">
                <div id="userSelectDialog" style="display: none;"></div>
                <div id="customerSelectDialog" style="display: none;"></div>
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:5px;">
                        <tr>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="customerId" id="customerId"  panelHeight="auto" label="回访客户:" style="width: 100%;"
                                       data-options="labelAlign:'right',editable:false,
									buttonText:'选择',
									onClickButton:_selectCustomer,onChange:_changeTextboxShowClear" />
                            </td>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="subject" id="subject" style="width:100%;" data-options="labelAlign:'right',label:'主题:', validType:'length[0,40]'" />
                            </td>
                            <td style="padding:10px;">
                                <input name="mode" id="mode" style="width:100%;"  data-options="labelAlign:'right',editable:false" panelHeight="auto" label="回访方式:"/>
                                <#comboProvider _id="mode" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"11"}'/>
                            </td>
                            <td style="padding:10px;">
                                <input name="state" id="state" style="width:100%;" data-options="labelAlign:'right',editable:false" panelHeight="auto" label="回访状态:"/>
                                <#comboProvider _id="state" _provider='visitStateProvider'/>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:10px;">
                                <input class="easyui-textbox" name="userId" id="userId"  panelHeight="auto" label="回访人:" style="width: 100%;"
                                       data-options="labelAlign:'right',editable:false,buttonText:'选择',onClickButton:_selectUser,onChange:_changeTextboxShowClear" />
                            </td>
                            <td style="padding:10px;">
                                <input name="priority" id="priority" style="width:100%;" data-options="labelAlign:'right',editable:false" panelHeight="auto" label="优先级:"/>
                                <#comboProvider _id="priority" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:"10"}'/>
                            </td>
                            <td style="padding-left: 28px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto" align="center" border="false">
            <div style="width: 96%;height: 100%;" align="center">
                <!-- =========================================================表格========================================================= -->
                <table class="easyui-datagrid" title="回访信息" id="grid" fitColumns="true" noheader="true" 
                       pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="true"
                       loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="code" sortOrder="desc"
                       align="center" fit="true" striped="true"  idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                    <thead>
                        <tr>
                            <th width="11%" data-options="field:'code',sortable:'true', order:'desc', align:'center', resizable:'true', fixed:'false'">
                                回访编号
                            </th>
                            <th width="20%" data-options="field:'subject',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                主题
                            </th>
                            <th width="10%" data-options="field:'customerName', _provider:'visitCustomerProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                回访客户
                            </th>
                            <th width="10%" data-options="field:'customerPhone', _provider:'visitCustomerProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                电话
                            </th>
                            <th width="8%" data-options="field:'priority',  _provider:'dataDictionaryValueProvider',_queryParams:{'dd_id':'10'}, sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                优先级
                            </th>
                            <th width="8%" data-options="field:'mode',  _provider:'dataDictionaryValueProvider',_queryParams:{'dd_id':'11'}, sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                回访方式
                            </th>
                            <th width="10%" data-options="field:'userId', _provider:'ownerProvider',  sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                回访人
                            </th>
                            <th width="7%" data-options="field:'state',  _provider:'visitStateProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                状态
                            </th>
                            <th width="17%" data-options="field:'modified',  _provider:'datetimeProvider', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false'">
                                修改时间
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //打开新增窗口
        function openInsert(){
            window.location.href="${contextPath}/customerVisit/edit.html?id=";
            return;
        }

        //打开修改窗口
        function openUpdate(){
            //如果有修改或者查看的权限，才执行后台操作
            <%if(hasResource("editVisit") || hasResource("viewVisit")) {%>
                var selected = $("#grid").datagrid("getSelected");
                if (null == selected) {
                    $.messager.alert('警告','请选中一条数据','warning');
                    return;
                }
                var state = selected["$_state"];
                if (3==state){
                    window.location.href="${contextPath}/customerVisit/detail.html?id="+selected["id"];
                }else{
                    window.location.href="${contextPath}/customerVisit/edit.html?id="+selected["id"];
                }
            <%}%>
        }

        /**
         * 打开查看页面
         */
        function openDetail(){
            var selected = $("#grid").treegrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据','warning');
                return;
            }
            window.location.href="${contextPath}/customerVisit/detail.html?id="+selected["id"];
        }

        //根据主键删除
        function del() {
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据','warning');
                return;
            }
            $.messager.confirm('确认','回访事件也会一并删除，您确认想要删除该回访信息吗？',function(r){
                if (r){
                    $.ajax({
                        type: "POST",
                        url: "${contextPath}/customerVisit/delete",
                        data: {id:selected.id},
                        processData:true,
                        dataType: "json",
                        async : true,
                        success: function (data) {
                            if(data.code=="200"){
                                $("#grid").datagrid("reload");
                            }else{
                                $.messager.alert('错误',data.result,"error");
                            }
                        },
                        error: function(){
                            $.messager.alert('错误','远程访问失败',"error");
                        }
                    });
                }
            });

        }
        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/customerVisit/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            clearEasyuiForm("form");
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "customerId", queryGrid);
//            if (document.addEventListener) {
//                document.addEventListener("keyup",getKey,false);
//            } else if (document.attachEvent) {
//                document.attachEvent("onkeyup",getKey);
//            } else {
//                document.onkeyup = getKey;
//            }
            var pager = $('#grid').treegrid('getPager');    // get the pager of treegrid
            pager.pagination({
                <#controls_paginationOpts/>,
                buttons:[
                <%if(hasResource("viewVisit")) {%>
                    {
                        iconCls:'icon-detail',
                        text:'详情',
                        handler:function(){
                            openDetail();
                        }
                    },
                <%}%>
                <%if(hasResource("addVisit")) {%>
                    {
                        iconCls:'icon-add',
                        text:'新增',
                        handler:function(){
                            openInsert();
                        }
                    },
                <%}%>
                <%if(hasResource("editVisit")) {%>
                      {
                         iconCls:'icon-edit',
                         text:'修改',
                         handler:function(){
                             openUpdate();
                         }
                      },
                 <%}%>
      /*           <%if(hasResource("removeVisit")) {%>
                     {
                        iconCls:'icon-remove',
                        text:'删除',
                        handler:function(){
                            del();
                        }
                     },
                 <%}%>*/
                 <%if(hasResource("exportVisit")) {%>
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                     },
                 <%}%>
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>