 <#body>
 <#impEcharts/>
 <script>
     //echarts缩放属性
     var zoomOption = {
         //缩放工具
         dataZoom :  [
             {
                 type: 'slider',//数据滑块
                 start: 0,
                 minSpan: 8,
                 dataBackground: {
                     lineStyle: {
                         color: '#95BC2F'
                     }, areaStyle: {
                         color: '#95BC2F',
                         opacity: 1,
                     }
                 }
             },
             {
                 type:'inside'//使鼠标在图表中时滚轮可用
             }
         ],
         //边距设置
         grid:{
             x:120,
             y:55,
             x2:55,
             y2:64
         }
     }
 </script>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="60" align="center" border="false">
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:5px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-datebox" name="startDate" id="startDate" style="width:100%" labelAlign="right" data-options="label:'开始日期:'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-datebox" name="endDate" id="endDate" style="width:100%" labelAlign="right" data-options="label:'结束日期:'" />
                            </td>
                            <td style="padding-left:28px;padding-top: 5px; padding-bottom: 5px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="query()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 用户统计图表 -->
        <div region="center" style="width:100%;" align="center" height="460" border="false">
            <div style="height: 810px;width:98%;" >
            <!-- =========================================================统计图表========================================================= -->
            <div id="customerStatsChart" style="width:99%;height:59.9%; " ></div>
            <#echarts _id="customerStatsChart" _title="客户统计" _type="Line" _url="${contextPath}/customerStats/list.action?init=true" _data="[]"  _groupField="firmCode" _nameField="date" _valueField="customerCount" _smooth="true" _options="zoomOption"></#echarts>
            <!-- =========================================================增量图表========================================================= -->
            <div id="incrementCustomerStatsChart" style="width:99%;height:39.9%;" ></div>
            <#echarts _id="incrementCustomerStatsChart" _title="客户增量统计" _type="Pie" _url="${contextPath}/customerStats/listIncrement.action?init=true" _data="[]" _options="{legend:{selectedMode:false}}" _nameField="firmCode" _valueField="customerCount" ></#echarts>
            </div>
        </div>
    </div>

     <!-- 隐藏请除缓存框 -->
     <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="清空缓存" style="padding:10px" modal="true" border="thin" closed="true"
          data-options="height: 140,width:210,
                    buttons: [{
                        text:'确认',
                        iconCls:'icon-ok',
                        handler:clearData
                    }]">
         <form id="_form" class="easyui-form" method="post" >
             <div style="width: 100%;">
             <input class="easyui-combobox" name="firmCode" id="firmCode" labelWidth="50" data-options="label:'市场:',editable:false,labelAlign:'right',valueField:'code',textField:'name'" panelHeight="auto" />
             <#comboProvider _id="firmCode" _provider='firmProvider' _queryParams='{emptyText:"-- 全部 --"}'/>
             </div>
         </form>
     </div>

    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">
        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            //如果按下ctrl+alt+r，弹出清空缓存
            if(e.ctrlKey && e.altKey && keycode == 82){
                $('#dlg').dialog('open');
                $('#dlg').dialog('center');
                $('#_form').form('clear');
                formFocus("_form", "firmCode");
            }
        }

        /**
         * 清除客户统计数据
         */
        function clearData() {
            $.ajax({
                type: "POST",
                url: "${contextPath}/customerStats/clearData.action",
                data: $("#_form").serializeObject(),
                dataType: "json",
                success: function (data) {
                    if(data.success){
                        $('#dlg').dialog('close');
                        alert(data.result);
                    }
                },
                error: function () {
                    alert('远程拉取数据失败');
                }
            });
        }

        //图表查询
        function query() {
            if($("#startDate").datebox("getValue") == ""){
                $.messager.alert('警告','请选择开始日期');
                return;
            }
            $.messager.progress({
                title : "提示",
                msg : "数据加载中,请稍候...",
                interval : 300
            });
            $(".window-mask").toggleClass("window-mask-opaque");
            $.ajax({
                type: "POST",
                url: "${contextPath}/customerStats/pullData.action",
                data: $("#form").serializeObject(),
                dataType: "json",
                success: function (data) {
                    queryChart(customerStatsChart, "Line", "${contextPath}/customerStats/list.action", $("#form").serializeObject(), "date", "customerCount", "firmCode", zoomOption);
                    queryChart(incrementCustomerStatsChart, "Pie", "${contextPath}/customerStats/listIncrement.action", $("#form").serializeObject(), "firmCode", "customerCount");
                    $.messager.progress("close");
                    $(".window-mask-opaque").toggleClass("window-mask");
                },
                error: function () {
                    alert('远程拉取数据失败');
                }
            });
        }

        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }


        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "startDate", query);
            //获取上个月日期
            function lastMonthDate() {
                var date = new Date();
                var y = date.getFullYear();
                var m = date.getMonth();
                var d = date.getDate();
                return y + '-' + m + '-' + d;
            }
            //获取当天日期
            function currentDate() {
                var date = new Date();
                var y = date.getFullYear();
                var m = date.getMonth()+1;
                var d = date.getDate();
                return y + '-' + m + '-' + d;
            }
            $("#startDate").datebox("setValue", lastMonthDate());
            $("#endDate").datebox("setValue", currentDate());
            query();
            document.addEventListener("keyup",getKey,false);
        })
    </script>
</#body>