 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center" border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="name" id="name" style="width:100%" labelAlign="right" data-options="label:'客户名称:', validType:'length[0,19]'" />

                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="certificateNumber" id="certificateNumber" style="width:100%" labelAlign="right" data-options="label:'证件号:', validType:'length[0,40]'" />

                            </td>
                            <td style="padding:5px;">
                                    <input name="type" id="type" style="width:100%;" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" label="客户类型:"/>
                                    <#comboProvider _id="type" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:4}'/>
                            </td>
                            <td style="padding:5px;">
                                <input name="organizationType" id="organizationType" style="width:100%;" editable="false" labelAlign="right" panelWidth="auto" panelHeight="auto" label="组织类型:"/>
                                <#comboProvider _id="organizationType" _provider='dataDictionaryValueProvider' _queryParams='{dd_id:5}'/>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                <input  name="exchangeCommoditiesId" id="exchangeCommoditiesId" editable="false" style="width:100%" labelAlign="right" panelWidth="auto" panelHeight="auto" data-options="label:'兑换商品:'" />
                                <#comboProvider _id="exchangeCommoditiesId" _provider='commodityProvider'/>
                            </td>

                            <td style="padding:5px;" colspan="2">
                                <input class="easyui-datetimebox" name="createdStart" id="createdStart" editable="false" style="width:49%" labelAlign="right" data-options="label:'兑换时间:'" />
                                <input class="easyui-datetimebox" name="createdEnd" id="createdEnd" editable="false" style="width:50%" labelAlign="center" data-options="label:'——'" />
                            </td>
                            <td style="padding-left:28px;padding-top: 10px; padding-bottom: 10px;">
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a>&nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear" onclick="clearForm()">清除</a>
                            </td>
                          
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto" align="center" border="false">
            <div style="width: 96%;height: 100%;" align="center">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="PointsExchangeRecord列表" id="grid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top"  remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="name"
                   align="center" fit="true" striped="true" idField="id" data-options="onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'name',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户名称
                        </th>
                        <th width="10%" data-options="field:'certificateNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件号
                        </th>
                        <th width="10%" data-options="field:'organizationType',  _queryParams:'{dd_id:5}', _provider:'dataDictionaryValueProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            组织类型
                        </th>
                        <th width="10%" data-options="field:'certificateType',  _provider:'dataDictionaryValueProvider',  _queryParams:'{dd_id:3}', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            证件类型
                        </th>
                        <th width="10%" data-options="field:'type',  _provider:'dataDictionaryValueProvider',  _queryParams:'{dd_id:4}', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            客户类型
                        </th>
                        <th width="8%" data-options="field:'points',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            使用积分
                        </th>
                        <th width="10%" data-options="field:'exchangeCommoditiesId',_provider:'commodityProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            兑换商品
                        </th>
                        <th width="8%" data-options="field:'quantity',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            兑换数量
                        </th>
                        <th width="10%" data-options="field:'createdId', _provider:'userProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            兑换操作员
                        </th>
                        <th width="15%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            兑换时间
                        </th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <script type="text/javascript">

        //表格查询
        function queryGrid() {
            var opts = $("#grid").datagrid("options");
            if (null == opts.url || "" == opts.url) {
                opts.url = "${contextPath}/pointsExchangeRecord/listPage";
            }
            if(!$('#form').form("validate")){
                return;
            }
            $("#grid").datagrid("load", bindGridMeta2Form("grid", "form"));
        }


        //清空表单
        function clearForm() {
            $('#form').form('clear');
        }

        //表格表头右键菜单
        function headerContextMenu(e, field){
            e.preventDefault();
            if (!cmenu){
                createColumnMenu("grid");
            }
            cmenu.menu('show', {
                left:e.pageX,
                top:e.pageY
            });
        }

        //全局按键事件
        function getKey(e){
            e = e || window.event;
            var keycode = e.which ? e.which : e.keyCode;
            if(keycode == 46){ //如果按下删除键
                var selected = $("#grid").datagrid("getSelected");
                if(selected && selected!= null){
                    del();
                }
            }
        }

        /**
         * 绑定页面回车事件，以及初始化页面时的光标定位
         * @formId
         *          表单ID
         * @elementName
         *          光标定位在指点表单元素的name属性的值
         * @submitFun
         *          表单提交需执行的任务
         */
        $(function () {
            bindFormEvent("form", "name", queryGrid);
            if (document.addEventListener) {
                document.addEventListener("keyup",getKey,false);
            } else if (document.attachEvent) {
                document.attachEvent("onkeyup",getKey);
            } else {
                document.onkeyup = getKey;
            }
            var pager = $('#grid').datagrid('getPager');    // get the pager of treegrid
                pager.pagination({
                    <#controls_paginationOpts/>,
                    buttons:[
                    // {
                    //     iconCls:'icon-add',
                    //     text:'新增',
                    //     handler:function(){
                    //         openInsert();
                    //     }
                    // },
                    // {
                    //     iconCls:'icon-edit',
                    //     text:'修改',
                    //     handler:function(){
                    //         openUpdate();
                    //     }
                    // },
                    // {
                    //     iconCls:'icon-remove',
                    //     text:'删除',
                    //     handler:function(){
                    //         del();
                    //     }
                    // },
                    {
                        iconCls:'icon-export',
                        text:'导出',
                        handler:function(){
                            doExport('grid');
                        }
                    }
                ]
            });
            //表格仅显示下边框
            $('#grid').datagrid('getPanel').removeClass('lines-both lines-no lines-right lines-bottom').addClass("lines-bottom");
            queryGrid();
        })
    </script>
</#body>